{% load static %}

<head>
  <title>Private Vibez Admin</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo/small_green_logo.png' %}" />

  {% block base %}
  {% comment %} jquery {% endcomment %}
  <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css"
/>

<!-- Include Choices JavaScript (latest) -->
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css'%}" />
  <link rel="stylesheet" href="{% static 'css/home_style.css'%}" />
  <link rel="stylesheet" href="{% static 'css/image-zoom.css'%}" />


  <!-- summernote -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>


<style type="text/css">
  .imageZoom:hover {
    transform: scale(2,2);
}

th {
  font-size:22px;
}

td{
  font-size:20px;
}


</style>

</head>
{% include 'staff/nav.html'%}
{% block content %}
{% endblock content %}



<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>

<script src="{% static  'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/staff.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>


{% endblock base %}