{% extends 'staff/base.html' %}
{% load custom_permissions %}
{% load static %}
{% block content %}
<!-- Button trigger modal -->
{% if err %}
    {% for e in err %}
    {{e}}
    {% endfor %}
{% endif %}
  <!-- offcanvas -->
    <div class="offcanvas offcanvas-start sidebar-nav bg-dark row" tabindex="-1" id="sidebar">
        <div class="offcanvas-body p-0">
            <nav class="navbar-dark">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <div class="text-muted small fw-bold text-uppercase px-3">
                        {{ request.user }}
                    </div>

                    {% comment %} DASHBOARD {% endcomment %}

              

                    {% if perms.staff.can_view_dashboard %}
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                        <span>Dashboard</span>
                    </button>
                    {% endif %}
                    {% comment %} MESSAGES {% endcomment %}
                    

                    {% if perms.staff.can_view_inbox %}
                    <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-inbox" type="button" role="tab" aria-controls="v-pills-inbox" aria-selected="true">
                        <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                        <span>Messages</span>
                    </button>
                    {% endif %}

                    {% comment %} create account for staff {% endcomment %}

                    {% if perms.staff.can_view_staff %}
                    <button class="nav-link" id="v-pills-createstaff-tab" data-bs-toggle="pill" data-bs-target="#v-pills-createstaff" type="button" role="tab" aria-controls="v-pills-createstaff" aria-selected="true">
                        <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                        <span>Staff</span>
                    </button>
                    {% endif %}



                    {% if perms.staff.can_view_id_check %}

                    
                    <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
                    <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                        People
                    </div>

                    <button class="nav-link d-flex justify-content-between" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <div>
                            <span class="me-2"><i class="bi bi-credit-card-2-front"></i></span>
                            <span>ID Check</span>
                        </div>
                        <span class="badge bg-light text-dark" id="id_check_len">0</span>
                    </button>
                    {% endif %}

                    {% if perms.staff.can_view_bad_acters %}
                    <button class="nav-link d-flex justify-content-between" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <div>
                            <span class="me-2"><i class="bi bi-person-lines-fill"></i></span>
                            <span>Bad Acters</span>
                        </div>
                        <span class="badge bg-light text-dark" id="bad_act_len">
                            {% if total_bad_acters_count %}
                            {{total_bad_acters_count}}
                            {% endif %}
                        </span>
                    </button> 
                    {% endif %}



                    {% if perms.staff.can_view_todo_list %}

                    
                    <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
                    <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                        Dev
                    </div>

                    <button class="nav-link" id="v-pills-To_Do-tab" data-bs-toggle="pill" data-bs-target="#v-pills-To_Do" type="button" role="tab" aria-controls="v-pills-To_Do" aria-selected="false">
                        <span class="me-2"><i class="bi bi-list-check"></i></span>
                        <span>To Do List</span>
                    </button>
                    {% endif %}


                </div>
            </nav>
        </div>
    </div>


  <!-- offcanvas -->
  <div class="container w-100">
  <div class="mt-5 pt-3 row justify-content-center">
    <div class="tab-content" id="v-pills-tabContent">

        {% comment %} DASHBOARD {% endcomment %}
        {% if perms.staff.can_view_dashboard %}
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
             {% include 'staff/include/dash_board.html'%} 
        </div>
        {% endif %}

        {% comment %} MESSAGES {% endcomment %}
        {% if perms.staff.can_view_inbox %}
        <div class="tab-pane fade w-100 m-lg-5" id="v-pills-inbox" role="tabpanel" aria-labelledby="v-pills-inbox-tab">
             {% include 'staff/include/inbox.html'%} 
        </div>
        {% endif %}

        {% comment %} create staff {% endcomment %}
        {% if perms.staff.can_view_staff %}
        <div class="tab-pane fade m-lg-5" id="v-pills-createstaff" role="tabpanel" aria-labelledby="v-pills-createstaff-tab">
             {% include 'staff/include/staff.html'%} 
        </div>
        {% endif %}

        
        {% if perms.staff.can_view_id_check %}
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            {% include 'staff/include/id_check.html'%}
        </div>
        {% endif %}

        {% if perms.staff.can_view_bad_acters %}
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            {% include 'staff/include/bad_acters.html'%}
        </div>
        {% endif %}
        {% comment %} <div class="tab-pane fade" id="v-pills-To_Do" role="tabpanel" aria-labelledby="v-pills-To_Do-tab">
            {% include 'staff/include/To_Do.html'%}
        </div> {% endcomment %}
    </div>
    
</div>
</div>
    




{% endblock content %}