
{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<section class="vh-100" style="background-color: #6cc6ba;">

    <div class="container py-5 h-100">

      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">

              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="{% static 'images/pexels-alexander-krivitskiy-1271374.jpg' %}"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>


              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                    <div class="d-flex align-items-center mb-3 pb-1">

                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;">  
                            <img src="{% static 'images/logo/small_logo.png' %}" alt="Private Vibez Logo" width="50" class="d-inline-block align-text-top">
                      </i>

                      <span class="h1 fw-bold mb-0">Interactive Pleasures</span>

                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign In</h5>

                    <div id="info_box" style='display:block;'>
                      <div class="form-outline mb-4">
                        
                        <form action="/accounts/login/" method="POST">
                          {% csrf_token %}

                            <div class="form-outline mb-4"> 

                                    <input type="type" name="username" id="username" class="form-control" />
                                    <label class="form-label" name="username" id="username" for="form3Example3">
                                      Email address or Username</label>

                            </div>

                            <div class="form-outline mb-4">                               
          
                              <input type="password" id="password" name="password"class="form-control" />
                              <label class="form-label" for="password">Password</label>
                                    
                            </div>
    
                            <div class="pt-1 mb-4">
                                <button type="submit" class="btn btn-dark btn-lg btn-block">Sign in</button>

                                <p>New to PriveVibez? 
                                  <a href="/accounts/signup/" type="button" class="btn btn-link"> Sign up now.
                                  </a>
                                </p>
                                
                            </div>
                        </form>
  
                    </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock content %}