
{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section class="vh-100" style="background-color: #6cc6ba;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="{% static 'images/pexels-alexander-krivitskiy-1271374.jpg' %}"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;">  
                            <img src="{% static 'images/logo/small_logo.png' %}" alt="Private Vibez Logo" width="50" class="d-inline-block align-text-top">
                      </i>
                      <span class="h1 fw-bold display-4 text-center mb-0">Interactive Pleasures</span>
                    </div>
  
                    <h5 class="fw-normal display-4 mb-3 text-center pb-3" style="letter-spacing: 1px;">Sign Up</h5>
                    <div id="info_box" style='display:block;'>
                      <div class="form-outline mb-4">
                        <form action="/accounts/signup/" method="POST">
                            <div class="form-outline row gap-3 mb-4">                               
                                    {% csrf_token %}
                               <label style="font-size:2rem;">username</label>
                               <input type="text" class="border-1" name="username"></input>

                               
                               <label style="font-size:2rem;">email</label>
                               <input type="text" class="border-1" name="email"></input>

                               
                               <label style="font-size:2rem;">password</label>
                               <input type="password" class="border-1" name="password1"></input>

                               
                               <label style="font-size:2rem;">confirm password</label>
                               <input type="password" class="border-1" name="password2"></input>

                               

                                  
                            </div>
                            <div class="pt-1 mb-4">
                                <button type="submit" style="font-size:2rem" class="btn btn-dark btn-lg btn-block">Sign Up</button>
                                <p style="font-size:2rem">Not new to PriveVibez? <a href="/accounts/login/" style="font-size:2rem" type="button" class="btn btn-link"> Sign in now.</a></p>
                            </div>
                        </form>
  
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock content %}