{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<section class="vh-100" style="background-color: #6cc6ba;">


<div class="loading-wrapper" id="loading" style="position: absolute;
top: 50%;
left: 50%;
z-index: 2000;
display:none;">
  {% include "accounts/components/loading.html" %}
  </div>

  <div class="container py-5 h-100">

  {% if code %}
    <div class="row mb-2 gap-3">

      <div class="card d-flex m-auto col-lg-8">
        <div class="card-body">
          <h3 class="display-4 font-weight-bold">Promotion ends in:</h3>
          <div id="countdown" class="d-flex gap-5 display-5">
            <p>Time Remaining:</p>
            <p><span id="days"></span> days</p>
            <p><span id="hours"></span>  hours</p>
            <p><span id="minutes"></span> minutes</p>
            <p><span id="seconds"></span> seconds</p> 
        </div>
        </div>
      </div>
      

      <div class="card m-auto col-6">
        <div class="card-body">
            
            <div id="" class="col justify-content-center display-5">
   
              <span class="d-block text-center"><strong>Register now!</strong></p> <p class="d-inline"><strong>{{code.Promotion_Registration_Limit}}</strong></p> slots left!</span>

              <span class="d-block text-center">Earn<p class="font-weight-bold">{{code.Promotion_Earning}}</p>dollar per vibe!</span>
           
            </div>

        </div>
      </div>


    </div>

  {% endif %}


    
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">

        {% if request.user.is_authenticated %}
        <div class="card" id="first_name" style="border-radius: 1rem;">
          <div class="row g-0" style="z-index:1000">

            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="{% static 'images/registration_boadcaster.jpg' %}" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div> 

            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">


                <div class="d-flex align-items-center mb-3 pb-1">
                  <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;">  
                    <img src="{% static './images/logo/small_logo.png' %}" alt="Private Vibez Logo" width="50" class="d-inline-block align-text-top">
                  </i>
                  <span class="h1 fw-bold display-3 mb-0">Interactive Pleasures</span>
                </div>

                <h5 class="fw-normal mb-3 pb-3" id="Dice_words" style="letter-spacing: 1px;display:none;">Rool That Dice</h5>


                <h5 class="fw-normal mb-3 pb-3" id="Menu_words" style="letter-spacing: 1px;display:none;">Menu</h5>
                <h5 class="fw-normal mb-3 pb-3 fs-2" id="bio_words" style="letter-spacing: 1px;display:none;">
                  Bio information</h5>


                <h5 class="fw-normal mb-3 pb-3 fs-2" id="Profile_pic_words" style="letter-spacing: 1px;display:none;">Profile Image</h5>

                <h5 class="fw-normal mb-3 pb-3" id="Registration_words" style="letter-spacing: 1px; font-size:3rem">
                  Registration to broadcast</h5>


                <p class="fw-normal mb-3 pb-3 fs-4" id="Not_Shown_questions" style="letter-spacing: 1px;">
                  The next couple of questions will not be shared with anyone</p>


                <p class="fw-normal mb-3 pb-3 fs-2" id="Shown_questions" style="letter-spacing: 1px;display:none;">These questions will be shown on your profile</p>


                <p class="fw-normal mb-3 pb-3" id="Menu_small_words" style="letter-spacing: 1px;display:none;">
                  Put in at less 6 menu iteams so the views can interact with you</p>

                <p class="fw-normal mb-3 pb-3" id="Dice_small_words" style="letter-spacing: 1px;display:none;">Add 6 Items that will be pick by random when a view click on the dice</p>

                <div id="info_boxs" style='display:block;'>

                  <div class="form-outline mb-4 row gap-2 fs-2">

                    <div class="form-outline mb-4 ">
                      <input type="text" class="form-control fs-2" value="{{user.first_name}}" id="firstName" aria-label="first_name">  
                      <label class="form-label fs-2 my-2" for="first_name">First Name</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" class="form-control fs-2" value="{{user.last_name}}" id="lastName" aria-label="last_name" >  
                      <label class="form-label my-2" for="last_name">Last Name</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="date" class="form-control fs-2" value="{{user_data.Birth_Date}}" id="BirthDate" aria-label="BirthDate" >  
                      <label class="form-label my-2" for="Birth_Date">Birth date</label>
                    </div>

                  </div>
                  <div class="pt-1 mb-4">
                    <button type="button" onclick ="ID_Next()" class="btn btn-dark btn-lg btn-block"><span class="fs-2">Next</span></button>
                  </div>
                </div>


                <div id="id_card_box" style='display:none;'>
                  <h3 class="">Please upload two valid IDs</h3>
                  <div class="form-outline mb-4">
                    <input type="file" value="{{user_data.Id_File}}" class="form-control" style="font-size: 2rem;" id="Id_Card_File" aria-label="id_card">
                    <label class="form-label fs-2 my-2" for="id_card">First ID</label>

                    <input type="file" value="{{user_data.Second_Id_File}}" class="form-control mt-3" style="font-size: 2rem;" id="Second_Id_Card_File" aria-label="id_card">
                    <label class="form-label fs-2 my-2" for="id_card">Second ID</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button type="button" onclick ="Stumiting_id_words()"  class="btn btn-dark btn-lg btn-block"><span class="fs-2">Next</span></button>
                  </div>
                </div>


                <div id="Stumiting_id_words" style='display:none;'>

                  <div class="form-outline mb-4">
                    <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; font-size:2rem">Thank You</h1>

                    <p class="fw-normal mb-3 fs-4 pb-3" style="letter-spacing: 1px;"> The last questions will not be shared with anyone outside the staff of PrivateVibez</p>

                    <p class="fw-normal mb-3 fs-4 pb-3" style="letter-spacing: 1px;"> While we are going through the information you have summit you can fill the rest of your bio out to get your room ready</p>

                  </div>
                  <div class="pt-1 mb-4">
                      <button  type="button" onclick ="Next_Profile_Image()" class="btn btn-dark btn-lg btn-block" type="button"><span class="fs-2">Next</span></button>
                  </div>
                </div>



                <div id="profile_pic_box" style='display:none;'>
                  <div class="form-outline mb-4">
                    <div id="profile_image_box">

                      <div id="profile_wrapper" class="d-flex">
                      </div>

               

                    </div>
                      <input type="file" id="Profile_Pic" style="font-size:2rem;" name="Profile_Pic" class="form-control form-control-lg" required />
                      <label class="form-label my-2" style="font-size:2rem"  for="Profile_Pic">Profile Pic</label>
                  </div>
                  <div class="pt-1 mb-4">
                      <button  type="button" onclick ="Next_bio()" class="btn btn-dark btn-lg btn-block" type="button"><span class="fs-2">Next</span></button>
                  </div>
                </div>



                <div id="bio_box" class="row gap-2" style='display:none;'>
                  <div class="form-outline mb-4">

                    <div class="form-outline mb-4">
                      <input type="text" value="" class="form-control fs-2" id="Real_Name" aria-label="Real_Name">  
                      <label class="form-label my-2 fs-2" for="Real_Name">Real Name</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="number" value="" class="form-control fs-2" id="Age" aria-label="Age" >  
                      <label class="form-label my-2 fs-2" for="Age">Age</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" value="{{code.Promotion_Code}}" class="form-control fs-2 d-none" id="promotion_code" aria-label="promotion_code" >  
                      <label class="form-label my-2 fs-2 d-none" for="promotion_code">Promotion Code</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" value="" class="form-control fs-2" id="I_Am" aria-label="I_Am">  
                      <label class="form-label my-2 fs-2" for="Interested_In">You are</label>
                    </div>

                    <div class="form-outline mb-4">

                      <select class="w-100 fs-2" id="tab">
                        <option>WOMEN</option>
                        <option>MEN</option>
                        <option>COUPLES</option>
                        <option>TRANS</option>
                      </select>

                      <label class="form-label my-2 fs-2" for="tab">What tab do you want to associate with</label>

                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" value="" class="form-control fs-2" id="Interested_In" aria-label="Interested_In">  
                      <label class="form-label my-2 fs-2" for="Interested_In">Interested In</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" value="" class="form-control fs-2" id="Location" aria-label="Location" >  
                      <label class="form-label my-2 fs-2" for="Location">Location</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" value="" class="form-control fs-2" id="Language" aria-label="Language" >  
                      <label class="form-label my-2 fs-2" for="Language">Language</label>
                    </div>
                    
                    <div class="form-outline mb-4">
                      <input type="text" value="" class="form-control fs-2" id="Body_Type" aria-label="Body_Type" >  
                      <label class="form-label my-2 fs-2" for="Body_Type">Body Type</label>
                    </div>
                  </div>

{% comment %} insert next btn {% endcomment %}
                    <div class="pt-1 mb-4">
                      <button  type="button" onclick ="done()" class="btn btn-dark btn-lg btn-block" type="button"><span class="fs-2">Done</span></button>
                    </div>
                </div>


                <div id="Done_box" style='display:none;'>
                  <div class="form-outline mb-4">
                    <h5 class="form-label fs-2" for="user_id">Thank You</h5>
                    <p class="form-label fs-2" for="user_id">We are all done with your registration</p>
                  </div>
                  <div class="pt-1 mb-4">            
                    <a href="/room/{{user}}" type="button" class="btn btn-primary btn-lg btn-block" type="button"><span class="fs-2">Go to Your Room</span></a>
                    <a href="/" type="button" class="btn btn-dark btn-lg btn-block" type="button"><span class="fs-2">See other Rooms</span></a>
                  </div>
                </div>



                <a class="small text-muted fs-2" data-toggle="modal" data-target="#learn_more" href="#!"><span class="fs-2"></span></a>


              </div>
            </div>
          </div>
        </div>

        {% else %}

        <div class="card" style="border-radius: 1rem; z-index:1000;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="{% static 'images/pexels-alexander-krivitskiy-1271374.jpg' %}"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;">  
                          <img src="{% static 'images/logo/small_logo.png' %}" alt="Private Vibez Logo" width="50" class="d-inline-block align-text-top">
                    </i>
                    <span class="h1 fw-bold display-4 text-center mb-0">Interactive Pleasures</span>
                  </div>

                  <h5 class="fw-normal display-4 mb-3 text-center pb-3" style="letter-spacing: 1px;">Sign Up</h5>
                  <div id="info_box" style='display:block;'>
                    <div class="form-outline mb-4">
                      <form action="/accounts/signupwithpromotion/" method="POST">
                          <div class="form-outline row gap-3 mb-4">                               
                                  {% csrf_token %}
                             <label style="font-size:2rem;">username</label>
                             <input type="text" style="font-size:2rem;" class="border-1" name="username"></input>

                             
                             <label style="font-size:2rem;">email</label>
                             <input type="text" style="font-size:2rem;" class="border-1" name="email"></input>

                             
                             <label style="font-size:2rem;">password</label>
                             <input type="password" style="font-size:2rem;" class="border-1" name="password1"></input>

                             
                             <label style="font-size:2rem;">confirm password</label>
                             <input type="password" style="font-size:2rem;" class="border-1" name="password2"></input>

                             

                                
                          </div>
                          <div class="pt-1 mb-4">
                              <button type="submit" style="font-size:2rem" class="btn btn-dark btn-lg btn-block my-5">Sign Up</button>
                              <p style="font-size:2rem">Not new to PriveVibez? <a href="/accounts/login/" style="font-size:2rem" type="button" class="btn btn-link"> Sign in now.</a></p>
                          </div>
                      </form>

                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        {% endif %}
      </div>
    </div>  
  </div>

</section>




  <!-- Modal -->
<div class="modal fade" id="learn_more" tabindex="-1" role="dialog" aria-labelledby="learn_more_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="learn_more_label">Learn more about broadcasting</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/cropper.min.js' %}"> </script>
  
  <img src="{% static 'images/logo/small_green_logo.png' %}" id="privatevibezlogo" width="30px" height="30px" class="rounded me-2 d-none" alt="...">
  <script type="text/javascript" src="{% static 'js/user_and_broadcaster.js' %}">
  </script>
  <script type="text/javascript" src="{% static 'js/registration_broadcaster.js' %}">
  </script>


  {% comment %} <link rel="stylesheet" href="{% static 'css/cropper.min.css' %}">
  <script type="text/javascript" src="{% static 'js/cropper.min.js' %}"></script> {% endcomment %}
{% if data %}
 
  <script>
    // Get the time remaining from Django template variables
    let daysRemaining = {{ data.days }};
    let hoursRemaining = {{ data.hours }};
    let minutesRemaining = {{ data.minutes }};
    let secondsRemaining = {{ data.seconds }};

    // Function to update the countdown
    function updateCountdown() {
      const daysElement = document.getElementById('days');
      const hoursElement = document.getElementById('hours');
      const minutesElement = document.getElementById('minutes');
      const secondsElement = document.getElementById('seconds');

      // Update countdown elements
      daysElement.textContent = daysRemaining;
      hoursElement.textContent = hoursRemaining;
      minutesElement.textContent = minutesRemaining;
      secondsElement.textContent = secondsRemaining;

      // Decrease the countdown
      secondsRemaining--;

      if (secondsRemaining < 0) {
          secondsRemaining = 59;  // Reset seconds to 59
          minutesRemaining--;

          if (minutesRemaining < 0) {
              minutesRemaining = 59;  // Reset minutes to 59
              hoursRemaining--;

              if (hoursRemaining < 0) {
                  hoursRemaining = 23;  // Reset hours to 23
                  daysRemaining--;

                  if (daysRemaining < 0) {
                      clearInterval(countdownInterval);
                      document.getElementById('countdown').innerHTML = 'Countdown expired';
                  }
              }
          }
      }
  }

  // Initial call to update countdown
  updateCountdown();

  // Update countdown every second
  const countdownInterval = setInterval(updateCountdown, 1000);

</script>

{% endif %}

  {% endblock content %}
