
{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="signupcontainer">
  <div class="signup-header">
      <h4 class="signup-title">Create Your Free Account</h4>
      <p class="agelimit">You must be over 18 years old to register. No credit card needed.</p>
  </div>

  <form action="/accounts/signup/" method="POST">
  
    <div class="forms">

        {% csrf_token %}

      <p class="text-form">Username:*</p>
      <input class="box-form" type="text" name="username" id="username" placeholder="username">
  </div>

  <div class="forms">
      <p class="text-form">Password:*</p>
      <input class="box-form" type="password" name="password1" id="password1" placeholder="password">
  </div>

  <div class="forms">
      <p class="text-form">Confirm-Password:*</p>
      <input class="box-form" type="password" name="password2" id="password2" placeholder="retype password">
  </div>

  <div class="forms">
      <p class="text-form">Email Address:</p>
      <input class="box-form" type="email" name="email" id="email" placeholder="email address">
  </div>

  <div class="forms">
      <p class="text-form">Birthday:*</p>
      <input class="box-form" type="date" name="birthday" id="birthday">
  </div>
  <br>

  <div class="check-forms">
      <input class="check-box" type="checkbox" name="agreement1" id="agreement">
      <p class="checkboxtext-form"> I have read and agree to the <a class="policy-link" href="#">terms and conditions.</a></p>
  </div>

  <div class="check-forms">
      <input class="check-box" type="checkbox" name="agreement2" id="agreement">
      <p class="checkboxtext-form">  I have read and agree to the <a class="policy-link" href="#">privacy policy.</a></p>
  </div>
  
  <button class="create-btn" type="submit">CREATE FREE ACCOUNT</button>

</form>

  <div class="footer">
      Email addresses, when provided, are only used for friend notifications, broadcast and payout reminders, newsletter, and account verification. Your email address is never sold or shared.
  </div>
  
  <div class="or" style="display: flex; align-items: center; gap: 8px;">
      <hr style="width: 75%;">
      <span>or</span>
      <hr style="width: 75%;">
  </div>
  <button class="creategmail-btn"><img class="google-icon" src="{%static 'images/icons8-google-30.png'%}" width="20px" alt="Error">Sign Up with Google</button>

</div>


{% endblock content %}