<a href="{% url 'room' Broadcaster=room.User %}" class="d-flex col-lg-3" style="text-decoration: none; margin: 0.1rem">
    <!-- Card -->
    
  
    {% if room_user_data.User ==  user_data.User%}

            <div class="card flex-grow-1">
                <img src="{{user_data.Image.Url}}" class="img-fluid" style="width: 200px; height:150px; object-fit:cover" alt="">   
                <div class="card-title p-5">
                    <span style="font-weight:700; font-size: 20px; color:#1db9a7;">
                        {{user_data.}}
                    </span>
                    <span class="text-dark" style="float: right; font-weight:700;">200 <i class="icofont-eye-alt"></i></span>
                </div>
                <p class="p-2">Lorem ipsum dolor sit amet.</p>

            </div>
            {% endif %}
        
        
</a>
