    
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h4>Dashboard</h4>
          </div>
        </div>

        <div class="row">

          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body text-center">
                <span class="fs-4">Total Slot Machine Vibez Earning</span>
                <span class="fs-3 d-block" id="total_slot_vibez">{{total_slot_vibez.Slot_Machine_Revenue__sum}}</span>
                  
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body text-center">
                <span class="fs-4">Total User Vibez</span>
                <span class="fs-3 d-block" id="total_user_vibez">{{total_user_vibez.Vibez__sum}}</span>
                <span class="fs-4">Total Broadcaster Revenue Vibez</span>
                <span class="fs-3 d-block" id="total_broadcaster_vibez">{{total_broadcaster_vibez.Revenue__sum}}</span>
                  
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body text-center">
                <span class="fs-4">Slot cost per spin</span>
                <span class="fs-3 d-block">{{slot_machine}}</span>
                  
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body text-center">
                <span class="fs-4">Total Cash</span>
                <span class="fs-3 d-block" id="total_cash">{{total_cash.Total_Cash__sum}}</span>
                  
              </div>
            </div>
          </div>

        </div>
          <div class="row">

          </div>
      </div>


      <div id="map" style="height: 100%;"></div>

<script>

          
let protocol = "";
if(window.location.protocol == "http:"){
    protocol = "ws";
}else if(window.location.protocol == "https:"){
    protocol = "wss";
}
let privatevibezrevenue_socket = new WebSocket(protocol + '://' + window.location.host + '/ws/private_vibez_revenue/');

privatevibezrevenue_socket.onmessage = function(e) {
  var data = JSON.parse(e.data);

  console.log(data);

  document.getElementById('total_cash').innerHTML = data.total_cash
  document.getElementById('total_slot_vibez').innerHTML = data.total_slot_vibez
}
privatevibezrevenue_socket.onopen = function(e) {


  console.log("revenue socket open");
}

</script>