    
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h4>Dashboard</h4>
          </div>
        </div>

        <div class="row">

          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body text-center">
                <span class="fs-4">Total Vibez</span>
                <span class="fs-3 d-block">{{total_revenue.Total_Vibez__sum}}</span>
                  
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body text-center">
                <span class="fs-4">Slot cost per spin</span>
                <span class="fs-3 d-block">{{slot_machine}}</span>
                  
              </div>
            </div>
          </div>

        </div>
          <div class="row">

          </div>
      </div>


      <div id="map" style="height: 100%;"></div>

      <!-- 
        The `defer` attribute causes the callback to execute after the full HTML
        document has been parsed. For non-blocking uses, avoiding race conditions,
        and consistent behavior across browsers, consider loading using Promises.
        See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
        for more information.
        -->
   