
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>ID Check</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card" style="width:900px;">
                <div class="card-header">
                    <span><i class="bi bi-table me-2"></i></span> Pendding Broadcasters
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped data-table" style="width: 100%">
                            <thead>
                                <tr>
                                  <th>First</th>
                                  <th>Last</th>
                                  <th>Birthdate</th>
                                  <th></th>
                                </tr>
                            </thead>   
                            <tbody id="table_body"></tbody>          
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


function generate_IDs()
{
$.ajax({
    method:'GET',
    url: "/staff/getPendingBroadcasters/",
        success:function(data){

            var user_details = data.data;
            let table = document.getElementById("table_body");
            table.innerHTML = "";

            for(var i=0;i<user_details.length;i++){
                console.log(user_details[i])

               
               

                    // create a new table row
                    let newRow = document.createElement("tr");
                    // create cells containing data
                    let firstNameCell = document.createElement("td");
                    firstNameCell.textContent = user_details[i].Real_Name;
                    let lastNameCell = document.createElement("td");
            
                    let birthDateCell = document.createElement("td");
                    birthDateCell.textContent = user_details[i].Birth_Date;
                    // add cells to row
                    newRow.appendChild(firstNameCell);
                    newRow.appendChild(lastNameCell);
                    newRow.appendChild(birthDateCell);
                    // create the modal
                    let modalCell = document.createElement("td");

                    modalCell.innerHTML = `
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#info-${user_details[i].User}" style="border:none;outline:none;color:blue">
                    <span class="text-white">Show</span>
                      </button>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="info-${user_details[i].User}" tabindex="-1" role="dialog" aria-labelledby="pic-${user_details[i].User}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">${user_details[i].Real_Name}'s Information</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <div class="card" style="width: 18rem;">
                                    <img class="img-thumbnail" src="${user_details[i].Image}"/>
                                    <div class="card-body">
                                        <h5 class="card-title">${user_details[i].User}</h5>
                                        <p> ${user_details[i].Birth_Date}</p>
            
                                    </div> 
                                </div>
            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Decline</button>
                                <button type="button" data-user-id="${user_details[i].User}" data-dismiss="modal" class="btn btn-success btn_approve_broadcaster">Approve</button>
                                
                            </div>
                          </div>
                        </div>
                      </div>
                    `
                    newRow.appendChild(modalCell);
                    // add the new row to the table
                    table.appendChild(newRow);


            }

            const btn_approve_broadcaster = document.querySelectorAll('.btn_approve_broadcaster');

            btn_approve_broadcaster.forEach(function(button) {
                button.addEventListener('click', function() {
                   
                  var userId = this.getAttribute('data-user-id');
                  console.log(userId);
                  $.ajax({
                    method: 'POST',
                    url: "/staff/idStatus/",
                    mimeType: "multipart/form-data",
                    data: {
                      'Status': 'Approve',
                      'user_id': userId,
                      'csrfmiddlewaretoken': "{{csrf_token}}",
                    },
                    dataType: 'json',
                    success: function() {
                      
        
                        generate_IDs();
                        check_modal();
                    },
                    error: function(error) {
                      console.log(userId);
                      console.log(error.responseText);
                    }
                  });
                });
              });

          },
            error:function(errors){
                console.log(errors.responseText);
            }
})
}

generate_IDs();

</script>
<script type="text/javascript">

    function Decline_Button(){
        document.getElementById('show_info').style.display='none'
        document.getElementById('Decline_question').style.display='block'
    }
    function Decline_Broactser(){
        $.ajax({
            method:'POST',
            url: "/staff/idStatus/",
            mimeType:"multipart/form-data",
            data:{  
                    'Status' : 'Decline',
                    'user_id'   : document.getElementById('user_status').value,
                    'message': document.getElementById('Decline_message').value,
                    'csrfmiddlewaretoken':"{{csrf_token}}",
                },
                'dataType': 'json',
                success:function(){
                  }
        })
    }
    
    {% comment %} Approve broadcaster {% endcomment %}
    

      


function check_modal()
{
    var modalWithShow = $('.modal.show');

    if (modalWithShow.length > 0) {
      console.log('There are elements with class "modal" and "show" in the DOM.');
    } else {
        

        // Now you can use the firstModal variable as needed

        setTimeout(function(){
            var firstModal = $('#table_body .modal.fade').first();
            firstModal.modal('show');
        }, 1000);
    
  
      console.log('No elements with class "modal" and "show" found in the DOM.');
    }
}

    

</script>