{% load static %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
            <h4>ID Check</h4>
        </div>
        <div class="col-8">
          <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#add-decline-message">
            Add Decline Message
          </button>

          <div class="modal fade" id="add-decline-message" tabindex="-1" role="dialog" aria-labelledby="add-decline-message" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add decline message</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/staff/addDeclineMsg/" method="POST">
                    {% csrf_token %}
                  <textarea id="decline_message_text" name="decline_message_text" style="width:100%"></textarea>
                  <button type="submit" class="btn btn-primary m-2">Save</button>
                  <button type="button" class="btn btn-secondary m-2" data-dismiss="modal">Close</button>
                  
                </form>
                </div>
                <div class="modal-footer">
     
            
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card w-100">
                <div class="card-header">
                    <span><i class="bi bi-table me-2"></i></span> Pending Broadcasters
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped data-table" style="width: 100%">
                            <thead>
                                <tr>
                                  <th>First</th>
                                  <th>Last</th>
                                  <th>Birthdate</th>
                                  <th></th>
                                </tr>
                            </thead>   
                            <tbody id="table_body">
                              {% for user in user_data %}
                              <tr>
                                <td>{{user.User.first_name}}</td>
                                <td>{{user.User.last_name}}</td>
                                <td>{{user.Birth_Date}}</td>
                                <td><button data-toggle="modal" data-target="#modal-{{user.User.id}}" class="btn btn-primary rounded">Show</button> </td>
                              </tr>


                                                          <!-- Modal -->
                            <div class="modal fade" id="modal-{{user.User.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-scrollable" style="max-width:900px" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <div class="col">
                                    <h5 class="modal-title" id="exampleModalLongTitle"> ID CHECK</h5>
                                    <button id="zoom-in" onclick="zoomin('{{user.id}}')">Zoom In</button>
                                    <button id="zoom-out" onclick="zoomout('{{user.id}}')" >Zoom Out</button>
                                    </div>
                                  </div>
                                  <div class="modal-body">
                                    <div class="container-fluid">
                                      <div class="row justify-content-center">
                                        <div id="zoom-container-{{user.id}}" class="d-flex flex-row" style="position: relative;
                                      ">
                                          <div class="d-flex flex-row gap-2" style="overflow-x: auto;">
                                            <img src="{{user.Id_File.url}}" alt="" id="user-id-pic-{{user.id}}" style="
                                            
                                            transition: transform 0.3s ease-in-out;" class="img-fluid col imageZoom">

                                            <img src="{% if user.Second_Id_File %}{{user.Second_Id_File.url}}{% endif %}" alt="" id="user-id2-pic-{{user.Second_Id_File.name}}"
                                            class="img-fluid col imageZoom">

      

                                          </div>
                                        </div>
                                        <div class="row">
                                          <span>First Name:</span>
                                          <span class="fs-3 text-center">{{user.User.first_name}}</span>

                                          <span>Last Name:</span>
                                          <span class="fs-3 text-center">{{user.User.last_name}}</span>

                                          <span>Birth date:</span>
                                          <span class="fs-3 text-center">{{user.Birth_Date}}</span>

                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" onclick="showDeclineModal({{user.User.id}})" class="btn btn-secondary" data-dismiss="modal">Disapprove</button>
                                    <button type="button" data-dismiss="modal" onclick="approve_Broadcaster({{user.User.id}})" class="btn btn-primary">Approve</button>
                                  </div>
                                </div>
                              </div>
                            </div>

                              {% endfor %}
                            </tbody>          
                        </table>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>


<!-- Modal for declining broadcaster -->
 <!-- Modal -->
 <div class="modal fade" id="decline_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Decline Message</h5>
        <button type="button" class="close" onclick="dismiss_decline_modal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="card" style="width: 18rem;">
            
              <div class="card-body">
                <input class="d-none" id="user_id" name="user_id">
                <select id="decline_message" name="decline_message">
                  {% for message in decline_messages %}
                  <option value="{{message.Message}}">{{message.Message}}</option>
                  {% endfor %}
                </select>
              </div> 
          </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-danger" onclick="dismiss_decline_modal()">Cancel</button>
          <button type="button" id="send_decline_msg" data-dismiss="modal" onclick="send_decline_message()" class="btn btn-success btn_approve_broadcaster">OK</button>
          
      </div>
    </div>
  </div>
</div>
</div>


<div class="d-none" id="len_user">{{user_data|length}}</div>
{% comment %} ADD DECLINE MESSAGE {% endcomment %}
<!-- Modal -->
<script src="{% static 'js/user_and_broadcaster.js' %}"></script>

<script>

  let table_body = document.getElementById("table_body");
  let pending_broadcasters_total = document.getElementById("len_user").innerHTML;
  let total_ID_checks = document.getElementById("id_check_len");

  total_ID_checks.innerHTML =pending_broadcasters_total;
    
  if(toastElement){
      setTimeout(function() {
          var toast = new bootstrap.Toast(toastElement);
          toast.hide();
      }, 2000);
  }


  function zoomIn(event,imageName) {
    var element = document.getElementById("overlay-"+imageName);
    element.style.display = "inline-block";
    var img = document.getElementById("user-id2-pic-"+imageName);
    var posX = event.offsetX ? (event.offsetX) : event.pageX - img.offsetLeft;
    var posY = event.offsetY ? (event.offsetY) : event.pageY - img.offsetTop;
    element.style.backgroundPosition = (-posX * 05) + "px " + (-posY * 0.8) + "px";

    console.log(element);
    console.log(img);

  
  }
  
  function zoomOut(imageName) {
    var element = document.getElementById("overlay-"+imageName);
    element.style.display = "none";
  }


  const pending_Broadcaster = new WebSocket(
    'ws://' + window.location.host + `/ws/staff/`
);
pending_Broadcaster.onopen = function(e) {
    console.log("socket open")
    
};

pending_Broadcaster.onmessage = function(e) {
  const data = JSON.parse(e.data);

  console.log(data)
  
}



  function approve_Broadcaster(user_id) {
    $('#modal-' + user_id).modal('hide');

  

    $.ajax({
      url: 'approveBroadcaster/', // Replace with your URL
      type: 'POST', 
      data: {
        'user_id': user_id,
        'csrfmiddlewaretoken':"{{csrf_token}}",
      },                          // GET, POST, PUT, DELETE, etc.
                            // GET, POST, PUT, DELETE, etc.
      dataType: 'json',                      // Expected data type from server (json, xml, html, or text)
      beforeSend: function(xhr) {
          // Do anything here before sending the request like setting headers
      },
      success: function(data, textStatus, xhr) {
          // Handle the response data here
          successToast("Broadcaster Approved!");
          
          var pending_broadcasters = data.data; 
          
          console.log(pending_broadcasters[0].first_name);
          console.log(pending_broadcasters[0].email);
          table_body.innerHTML = "";

          if(pending_broadcasters)
          {
            let new_user_id;
            total_ID_checks.innerHTML =pending_broadcasters.length;

          for(var i=0;i<pending_broadcasters.length;i++){

            new_user_id = pending_broadcasters[i].user_id;
             user = pending_broadcasters[i];

            let row = `
            <tr>
              <td>${user.first_name}<td>
              <td>${user.last_name}</td>
              <td>${user.Birth_Date}</td>
              <td><button data-toggle="modal" data-target="#modal-${user.user_id}" class="btn btn-primary rounded">Show</button> </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="modal-${user.user_id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>

                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row justify-content-center">
                        <div class="">
                          <img src="${user.Id_File.url}" alt="" class="img-fluid">
                        </div>
                        <div class="col-12">
                          <span class="fs-3 text-center">${user.Real_Name}</span>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="showDeclineModal(${user.user_id})" class="btn btn-secondary" data-dismiss="modal">Disapprove</button>
                    <button type="button" onclick="approve_Broadcaster(${user.user_id})" class="btn btn-primary">Approve</button>
                  </div>
                </div>
              </div>
            </div>

            `

            table_body.innerHTML += row;

          }
          $('#modal-' + new_user_id).modal('show');

      }
          
 
          
      },
      error: function(xhr, textStatus, errorThrown) {
          // Handle any errors here
          console.error('Error occurred:', errorThrown);
      },
      complete: function(xhr, textStatus) {
          // This will always run, regardless of success or failure
      }
  });
  }


function send_decline_message() {
    var user_id = document.getElementById('send_decline_msg').getAttribute('data-userid');
    $('#decline_modal').modal('hide');
    $('#modal-' + user_id ).modal('hide');
    $.ajax({
      method:'POST',
      url: "/staff/idStatus/",
      mimeType:"multipart/form-data",
      data:{  
              'Status' : 'Decline',
              'User_id' : user_id,
              'message': decline_message.value,
              'csrfmiddlewaretoken':"{{csrf_token}}",
          },
          'dataType': 'json',
          success:function(data){

            successToast('Broadcaster Declined!');

               
          var pending_broadcasters = data.data; 
          

          table_body.innerHTML = "";

          if(pending_broadcasters)
          {
            let new_user_id;
            total_ID_checks.innerHTML =pending_broadcasters.length;

          for(var i=0;i<pending_broadcasters.length;i++){

            new_user_id = pending_broadcasters[i].user_id;
             user = pending_broadcasters[i];

            let row = `
            <tr>
              <td>${user.first_name}<td>
              <td>${user.last_name}</td>
              <td>${user.Birth_Date}</td>
              <td><button data-toggle="modal" data-target="#modal-${user.user_id}" class="btn btn-primary rounded">Show</button> </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="modal-${user.user_id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row justify-content-center">
                        <div class="">
                          <img src="${user.Id_File.url}" alt="" class="img-fluid">
                        </div>
                        <div class="col-12">
                          <span class="fs-3 text-center">${user.Real_Name}</span>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="showDeclineModal(${user.user_id})" class="btn btn-secondary" data-dismiss="modal">Disapprove</button>
                    <button type="button" onclick="approve_Broadcaster(${user.user_id})" class="btn btn-primary">Approve</button>
                  </div>
                </div>
              </div>
            </div>

            `

            table_body.innerHTML += row;

          }
          $('#modal-' + new_user_id).modal('show');

      }
       

            }
  });
}


  function showDeclineModal(user_id)
  {
    $('#decline_modal').modal('show');
    document.getElementById('send_decline_msg').setAttribute('data-userid', user_id);
    
  }
  function dismiss_decline_modal()
  {
    $('#decline_modal').modal('hide');
  }


  let currentScales = {}; // Store current scales for each image by ID
  let currentTranslations = {}; // Store current translations for each image by ID
  let isDragging = false;
  let startX, startY;
  let currentImageId;
  
  function zoom_in_user_id(id) {
    if (!currentScales[id]) {
      currentScales[id] = 1.0; // Initialize scale to 1.0 if not set
      currentTranslations[id] = { x: 0, y: 0 }; // Initialize translation
    }
  
    currentScales[id] += 0.1; // Increase the zoom level by 0.1
    var img = document.getElementById('user-id-pic-' + id);
    img.style.transform = `scale(${currentScales[id]}) translate(${currentTranslations[id].x}px, ${currentTranslations[id].y}px)`;
  
    // Add mouse event listeners for drag
    img.addEventListener('mousedown', (e) => startDrag(e, id));
    img.addEventListener('mouseup', stopDrag);
  }
  
  function zoom_out_user_id(id) {
    if (!currentScales[id]) {
      currentScales[id] = 1.0; // Initialize scale to 1.0 if not set
      currentTranslations[id] = { x: 0, y: 0 }; // Initialize translation
    }
  
    currentScales[id] -= 0.1; // Decrease the zoom level by 0.1
    if (currentScales[id] < 0.1) {
      currentScales[id] = 0.1; // Limit the minimum zoom level
    }
  
    var img = document.getElementById('user-id-pic-' + id);
    img.style.transform = `scale(${currentScales[id]}) translate(${currentTranslations[id].x}px, ${currentTranslations[id].y}px)`;
  
    // Add mouse event listeners for drag
    img.addEventListener('mousedown', (e) => startDrag(e, id));
    img.addEventListener('mouseup', stopDrag);
  }
  
  function startDrag(e, id) {
    isDragging = true;
    currentImageId = id;
    startX = e.clientX;
    startY = e.clientY;
  
    // Prevent browser's default drag-and-drop behavior
    e.preventDefault();
  
    // Listen to mousemove and mouseup events on the document
    document.addEventListener('mousemove', drag);
    document.addEventListener('mouseup', stopDrag);
  }
  
  function drag(e) {
    if (!isDragging || !currentScales[currentImageId]) return;
  
    const img = document.getElementById('user-id-pic-' + currentImageId);
  
    // Calculate the new translation based on the difference in mouse position
    const deltaX = e.clientX - startX;
    const deltaY = e.clientY - startY;
  
    // Update the current translation
    currentTranslations[currentImageId].x += deltaX;
    currentTranslations[currentImageId].y += deltaY;
  
    // Apply both scale and translation to the image
    img.style.transform = `scale(${currentScales[currentImageId]}) translate(${currentTranslations[currentImageId].x}px, ${currentTranslations[currentImageId].y}px)`;
  
    // Update the start position for the next drag movement
    startX = e.clientX;
    startY = e.clientY;
  }
  
  function stopDrag() {
    isDragging = false;
    document.removeEventListener('mousemove', drag);
    document.removeEventListener('mouseup', stopDrag);
  }
  
  
</script>