<section style="background-color: transparent;">

    <div class="d-flex flex-row gap-2">

    



          <div class="col-3">
            <h4 class="text-center font-weight-bold bg-light py-2 m-0">Inbox</h4>

            <div class="card card-body pri_broc_chat_list p-0" id="staff_lists">
              {% if broc_staff_list %}
              {% for staff in broc_staff_list %}

              {% if not staff == request.user %}
              <div class="d-flex justify-content-between mb-2 border-top pt-2 px-3" id="staff_list_username" onclick="toggle_staff_broc_room('{{ staff }}')">

                <h4>{{ staff }}</h4>

              </div>
              {% endif %}

              {% endfor %}
              {% else %}

              <h4 class="text-muted">no staff found!</h4>

              {% endif %}
            </div>

          </div>
      
 


  <div class="align-self-end col-md-5 col-lg-7 col-xl-8">

        <div id="staff_room_wrap" style="display: none;">
          <div id="staff_broc_chat_room_messages">
            <h4 id="staff_broc_chat_room_header" class="text-center font-weight-bold"></h4>
            <div id="staff_msg"></div>                            
          </div>

          <form id="staff_broc_chat_room_form" class=" d-flex flex-row align-content-end gap-2">
            <input type="text" id="staff_chat_room_message_field" class="form-control" style="height: 35px; font-size: 15px;" required />
            <input type="hidden" id="staff_broc_fan_username" value="">
            <button type="submit" class="btn btn-primary">Send</button>
          </form>

        </div>
  </div>
  </div>

</section>

<div id="loggedinstaff" style="display: none">
  {{ request.user }}
</div>

<script>


  function showmessages(staff_id) {

    $.ajax({
      method:'GET',
      url: "/staff/getstaffmessages/",
      mimeType:"multipart/form-data",
      data:{  
              'staff_id'     : staff_id,
          },
          'dataType': 'json',
          success:function(data){
            let messages = data.data;
            let staff = document.getElementById("loggedinstaff").innerHTML;
            let msg_wraper = document.getElementById("staff_msg");
            msg_wraper.innerHTML = "";
            let msg_container = "";

            console.log(messages)
            messages.map(item => {
      
              if (JSON.stringify(item.From) === JSON.stringify(staff.trim()))
              {
                
                msg_container = `<div class="text-muted d-flex justify-content-end"><small class="broc_chat_room_message_username font-weight-bold text-dark">${item.From}</small></div>
                <div class="d-flex flex-row-reverse">
                <div class="font-weight-normal py-2 p-4 my-1 broc_chat_room_message_text mb-4" style="border-radius: 13px; width: fit-content; background: #9dffde;">${item.Message}</div>
                </div>`;
                let new_element = document.createElement('div');
                new_element.innerHTML = msg_container;
                msg_wraper.appendChild(new_element);
              }
              else{
                
                msg_container = `<div class="text-muted d-flex justify-content-start"><small class="broc_chat_room_message_username font-weight-bold text-dark">${item.From}</small></div><div class="card card-body font-weight-normal py-2 my-1 broc_chat_room_message_text mb-4 ml-auto" style="border-radius: 13px; width: fit-content; background: #000000; color: #ffffff;">${item.Message}</div>`;
                let new_element = document.createElement('div');
                new_element.innerHTML = msg_container;
                msg_wraper.appendChild(new_element);
              }
            });
            
          


          },
          error:function(errors){
            console.log(errors.responseText);
          }
          })
  }

  

  function toggle_staff_broc_room(username, isUserClicked) {

    let staffchatWrap = document.getElementById("staff_room_wrap");
 
    staffchatWrap.style.display = "block";

      document.getElementById("staff_broc_chat_room_header").innerHTML = "Staff Chat with " + username;
      document.getElementById("staff_broc_fan_username").value = username;
  
  
      let socket = new WebSocket('ws://' + window.location.host + '/ws/staffChatBroc/{{ room_name }}/'+username+'/');
      socket.onmessage = function(e) {
        showmessages(username);
      }

      
      

  
      let staff_broc_form = document.getElementById('staff_broc_chat_room_form');
      staff_broc_form.addEventListener('submit', function(e) {
      e.preventDefault();
      var message_field = document.getElementById('staff_chat_room_message_field');
      socket.send(JSON.stringify({
          'message': message_field.value
      }));
      message_field.focus();
      });
    }
  
    


  {% comment %} fetch staff {% endcomment %}


  function fetctStaff(broc) {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", `/chat/staff_list/${broc}/`, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
        var staffs_json = xhr.responseText;
        var staffs = JSON.parse(staffs_json);

        var staffListUsername = document.getElementById("staff_lists");
        staffListUsername.innerHTML = "";
        if (staffs.length) {
          for (var i = 0; i < staffs.length; i++) {
            var staff = staffs[i];
            if (staff.Staff === "{{ request.user }}") {
            
            }
            else{
            var staffDiv = document.createElement("div");
            staffDiv.innerHTML = `<div class="d-flex justify-content-between mb-2 border-top pt-2 px-3" id="fan_list_username" onclick="toggle_staff_broc_room('${staff.Staff}')">
                          <h4>${staff.Staff}</h4>
                        </div>`;
            staffListUsername.appendChild(staffDiv);
               }
          }
        } else {
          var noStaff = document.createElement("h4");
          noStaff.textContent = "no Staff found!";
          noStaff.classList.add("text-muted");
          staffListUsername.appendChild(noStaff);
        }
      }
    };
    xhr.send();
  }
  
  // Interval to fetch the list of fans every 3 seconds4
  /*
  setInterval(function() {
    fetctStaff("{{ room_name }}");
  }, 3000);
</script>