{% block base %}
{% endblock base %}




{% comment %} MODAL FOR SENDING MEMOS {% endcomment %}

<div class="col gap-2">
  <button type="button" class="btn btn-primary mt-2 rounded-2" style="height: 80px" data-toggle="modal" data-target="#memos_modal">
    Compose Memo
  </button>

  <div class="col my-auto mt-4 justify-content-center align-content-center">

    <div onmouseover="this.style.backgroundColor='lightgrey';"
    onmouseout="this.style.backgroundColor='white';" class="text-center" ">Memo 1</div>
    <div onmouseover="this.style.backgroundColor='lightgrey';"
    onmouseout="this.style.backgroundColor='white';" class="text-center" ">Memo 1</div>


  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="memos_modal" tabindex="-1" role="dialog" aria-labelledby="memos_modal" aria-hidden="true">

  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">


    <div class="modal-content d-block col gap-2">
      <div class="">
        <label for="">Recipient</label>
        <select id="recipient" placeholder="Recipient:" id="recipient" multiple="multiple" name="recipient" class="form-control">
          <option value="User">Users</option>
          <option value="Staff">Staff</option>
          <option value="Broadcaster">Broadcasters</option>
        </select>
      </div>

      <input type="text" id="subject" placeholder="Subject:" class="form-control">

      <div id="summernote" class="">

      </div>

      <div class="col gap-2 p-2">
        <button type="button" onclick="send_memo()" class="btn btn-primary m-auto rounded-2" style="height: 80px; width:100px" data-toggle="modal" data-target="#memos_modal">
          Send
        </button>
    </div>


  </div>
</div>

<div id="staff" class="d-none">
  {{request.user.id}}
</div>




<script>
  $(document).ready(function() {
    const element = document.getElementById('recipient');
    const send_to = new Choices(element, {
      removeItemButton: true, 
  });

     var memo = $('#summernote').summernote();



  });

  function send_memo()
  {
    
    var recipient = $('#recipient').val();
    var subject = $('#subject').val();
    var memoContent = $('#summernote').summernote('code');


    $.ajax({
      method:'POST',
      url: "/staff/save_memo/",
      mimeType:"multipart/form-data",
      data:{  
          'staff'  : document.getElementById('staff').innerHTML,
          'recipient' : recipient,
          'memoContent' : memoContent,
          'subject' : subject,
          'csrfmiddlewaretoken':"{{csrf_token}}",
      },
      'dataType': 'json',
      success:function(data){
                // create a new table row
  
  
                for (const item of data.data) {
           
                  let option = document.createElement("option");
                  option.value = item.codename;
                  option.text = item.name;
                  option.selected = true;
                  perms.append(option);
   
                }
                const choices_2 = new Choices(perms, {
                  removeItemButton: true, 
              });
    
        
      },
      error:function(errors){
          console.log(errors.responseText);
      }
  });



  }




</script>
