<div class="container-fluid">

  <div class="row gap-5">
    <div class="row mt-5">
      <div class="col-2">
        <h3 class="">Games</h3>
            <button class="btn btn-primary fs-5" data-bs-toggle="modal" data-bs-target="#modal-for-slot-machine-cost-per-spin"> Update games cost per spin</button>

      </div>
    </div>


    
      <!-- Modal for updating slot machine cost per spin -->
<div class="modal fade" id="modal-for-slot-machine-cost-per-spin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Games cost per spin</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body text-center">
        <label for="slot-machine-cost" class="d-block">Slot machine cost per spin</label>
        <input class="" name="slot-machine-cost" value="{{slot_machine.Slot_Machine_Spin_Cost}}" id="slot-machine-cost" placeholder="{{slot_machine.Slot_Machine_Spin_Cost}}">
      </div>

      <div class="modal-body text-center">
        <label for="dice-cost" class="d-block">Dice cost per spin</label>
        <input class="" name="dice-cost" value="{{slot_machine.Dice_Spin_Cost}}" id="dice-cost" placeholder="{{slot_machine.Dice_Spin_Cost}}">
      </div>

      <div class="modal-body text-center">
        <label for="lottery-cost" class="d-block">Lottery cost per spin</label>
        <input class="" name="dice-cost" value="{{slot_machine.Lottery_Spin_Cost}}" id="lottery-cost" placeholder="{{slot_machine.Lottery_Spin_Cost}}">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" onclick="update_Slot_Machine_Cost_Per_Spin()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h3 class="font-weight-bold fs-2">Favorite buttons</h3>

  <div class="col" style="height:200px; overflow-y: auto;">

    <!--MENU DATA-->
    <table class="table position-relative">
      <thead style="position: sticky; top: 0; background-color: white; z-index: 1;">
        <tr>
          <th scope="col">Button</th>
          <th scope="col">Total Availed</th>
          <th scope="col">Revenue</th>
        </tr>
      </thead>
      <tbody>
        {% for button in fav_buttons %}
        <tr>
          <td>{{button.item}}</td>
          <td>{{button.item_count}}</td>
          <td>{{button.cost_sum}}</td>
          <td></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>


  </div>

  <div class="d-flex flex-row justify-content-between" style="width:71%;">
    <p class="font-weight-bold fs-4">TOTAL:</p>
    <div class="fs-4">{{total_revenue_fav_buttons}}</div>

  </div>
</div>


<div class="container-fluid">

  <h3 class="font-weight-bold fs-2">Menu Items</h3>

<div class="col" style="height:200px; overflow-y: auto;">

  <!--MENU DATA-->

  <table class="table position-relative">
    <thead style="position: sticky; top: 0; background-color: white; z-index: 1;">
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Total Availed</th>
        <th scope="col">Revenue</th>
      </tr>
    </thead>
    <tbody>
      {% for item in menu_items %}
      <tr>
        <td>{{item.item}}</td>
        <td>{{item.item_count}}</td>
        <td>{{item.cost_sum}}</td>
        <td></td>
      </tr>
      {% endfor %}

    </tbody>
  </table>




  </div>

  <div class="d-flex flex-row justify-content-between" style="width:71%;">
    <p class="font-weight-bold fs-4">TOTAL:</p>
    <div class="fs-4">{{total_revenue_menu_items}}</div>

  </div>

</div>


<div class="container-fluid">
  <h3 class="font-weight-bold fs-2">Slot Machine</h3>

  <div class="col" style="height:200px; overflow-y: auto;">

    <!--MENU DATA-->
    <table class="table position-relative">
      <thead style="position: sticky; top: 0; background-color: white; z-index: 1;">
        <tr>
          <th scope="col">Prize</th>
          <th scope="col">Total Availed</th>
          <th scope="col">Revenue</th>
        </tr>
      </thead>
      <tbody>
        
        {% for slot in slot_machine_data %}
        <tr>
          <td>{{slot.item}}</td>
          <td>{{slot.item_count}}</td>
          <td>{{slot.cost_sum}}</td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


  </div>

  <div class="d-flex flex-row justify-content-between" style="width:71%;">
    <p class="font-weight-bold font-weight-bold fs-4">TOTAL:</p>
    <div class="fs-4">{{total_revenue_slot_machine_data}}</div>

  </div>
</div>


  </div>


</div>


<script>


  function update_Slot_Machine_Cost_Per_Spin() {
    let slot_machine_cost = document.getElementById('slot-machine-cost').value;
    let dice_cost = document.getElementById('dice-cost').value;
    let lottery_cost = document.getElementById('lottery-cost').value;
    let data = {
      "slot_machine_cost": slot_machine_cost,
      "dice_cost": dice_cost,
      "lottery_cost": lottery_cost,
      'csrfmiddlewaretoken':"{{csrf_token}}",
    }
    $.ajax({
      type: "POST",
      url: "/staff/update_slot_machine_cost_per_spin/",
      data: data,
      success: function(data) {
        console.log(data);
        successToast(data.data);
      },
      error: function(data) {
        console.log(data);
        alert("Something went wrong");
      }
    });
  }

</script>