{% load static %}

    
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Log in time</th>
      <th scope="col">Log out time</th>
      <th scope="col">Task</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"><!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addStaffmodal">
          Add Staff
        </button></th>
    </tr>
  </thead>
  <tbody>

    {% if sessions_info %}
    {% for session in sessions_info %}

    <tr>
      <td></td>
      <td>{{session.username}}</td>
      <td>{% if session.is_session_active %}Online 
        
        {% else %} Offline
        {% endif %}</td>
      <td>{{ session.login_time }}</td>
      <td>{% if not session.is_session_active %}{{ session.logout_time}}{% endif %}</td>
      <td></td>
      <td> 
        <button type="button" onclick="get_staff_permission({{session.user_id}})" class="btn btn-primary" data-toggle="modal" data-target="#editPermissionmodal">
        Edit permission
      </button> 
    </td>

    <td> 
      <button type="button" onclick="editStaff({{session.user_id}})" class="btn btn-primary" data-toggle="modal" data-target="#editStaffmodal">
      Edit Staff
    </button> 
  </td>

    <td> 
      <button type="button" onclick="confirmdelete({{session.user_id}})" class="btn btn-primary">
      Delete Staff
    </button> 
  </td>


      {% comment %} <td><button type="button" class="btn btn-secondary">Details</button></td> {% endcomment %}
    </tr>
    {% endfor %}
    {% endif %}


  </tbody>
</table>





<!-- Modal for adding staff -->
<div class="modal fade" id="addStaffmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Staff</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form action="{% url 'sendStaffInvitation'%}" method="POST">
        
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control my-2" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>

          <div class="form-group">
            <label for="permission">Choose permissions</label>
            <select class="permissions my-2" id="permissions" multiple="multiple" name="permissions" style="width: 50%">

              <option value="can_add_staff">Can add staff</option>
              <option value="can_edit_staff">Can edit staff</option>
              <option value="can_view_dashboard">Can view dashboard</option>
              <option value="can_view_id_check">Can view ID Check</option>
              <option value="can_view_bad_acters">Can view bad acters</option>
              <option value="can_view_todo_list">Can view to do list</option>
              <option value="can_view_inbox">Can view inbox</option>

            </select>
          </div>

          <button type="submit" class="btn btn-primary my-2">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>



{% comment %} MODAL FOR EDITING STAFF PERMISSIONS {% endcomment %}


<div class="modal fade" id="editPermissionmodal" tabindex="-1" role="dialog" aria-labelledby="editPermissionmodal" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Staff Permissions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form id="editStaffPermission" action="{% url 'editStaffPermission'%}" method="POST">
      

          <div class="form-group">
            <label for="existing_permissions">Choose permissions</label>
            <select class="permissions my-2" id="existing_permissions" multiple="multiple" name="existing_permissions" style="width: 50%">

              <option value="can_add_staff">Can add staff</option>
              <option value="can_edit_staff">Can edit staff</option>
              <option value="can_delete_staff">Can delete staff</option>
              <option value="can_view_dashboard">Can view dashboard</option>
              <option value="can_view_id_check">Can view ID Check</option>
              <option value="can_view_bad_acters">Can view bad acters</option>
              <option value="can_view_todo_list">Can view to do list</option>
              <option value="can_view_inbox">Can view inbox</option>

            </select>
          </div>

          <button type="submit" class="btn btn-primary my-2">Submit</button>
        </form>

      </div>

    </div>
  </div>
</div>


{% comment %} MODAL FOR EDITING STAFF DETAILS {% endcomment %}
<div class="modal fade" id="editStaffmodal" tabindex="-1" role="dialog" aria-labelledby="editStaffmodal" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Staff</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form method="POST" action="" class="d-flex flex-column gap-4" enctype="multipart/form-data">
            {% csrf_token %}
          {% comment %} <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> 
            <img src="{% static 'profile_pic/FB_IMG_1663714514952_uJj6BOH.jpg' %}" id="staff_profile_pic" height="100" width="100" /></button>  </div> {% endcomment %}

          <div class="form-group">
            <label for="id_photo">ID</label>
            <input type="file" class="form-control" name="id_photo" id="id_photo" placeholder="id_photo">
          </div>
        
          <div class="form-group">
            <label for="profile_pic">Profile picture</label>
            <input type="file" class="form-control" name="profile_pic" id="profile_pic" placeholder="profile_pic">
          </div>


          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
      
      
          {% comment %} <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter username">
          </div> {% endcomment %}
        
        
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password1" id="password" placeholder="Password">
          </div>
        
        
            <input type="text" value="1" class="" style="display: none;" name="is_staff" id="is_staff" placeholder="">
        
        
          <div class="form-group">
            <label for="password2">Confirm password</label>
            <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm Password">
          </div>
        
        
              {% comment %} Personal Information {% endcomment %}
        
          <div class="form-group">
            <label for="fname">First name</label>
            <input type="text" class="form-control" name="fname" id="fname" placeholder="First Name">
          </div>
        
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name">
          </div>
        
          <div class="form-group">
            <label for="birthday">Birthday</label>
            <input type="date" class="form-control" name="birthday" id="birthday" placeholder="Birthday">
          </div>
        
          <div class="form-group">
            <label for="birthday">Address</label>
            <input type="text" class="form-control" name="address" id="address" placeholder="Address">
          </div>
           
        
        
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>

    </div>
  </div>
</div>










<div id="csrf">
    {% csrf_token %}
</div>



  <script type="text/javascript">
    
  // Pass single element
  const element = document.getElementById('permissions');
  const choices = new Choices(element, {
    removeItemButton: true, 
});

  const perms = document.getElementById('existing_permissions');



{% comment %} GET PERMISSION FOR A STAFF {% endcomment %}

function get_staff_permission(user_id)
{
  let id = user_id
  let editStaffPermission = document.getElementById('editStaffPermission');
  console.log(id);
  $.ajax({
    method:'GET',
    url: "/staff/getPermission/",
    mimeType:"multipart/form-data",
    data:{  
        'staff'  : id,
        'csrfmiddlewaretoken':"{{csrf_token}}",
    },
    'dataType': 'json',
    success:function(data){
              // create a new table row


              for (const item of data.data) {
         
                let option = document.createElement("option");
                option.value = item.codename;
                option.text = item.name;
                option.selected = true;
                perms.append(option);
 
              }
              const choices_2 = new Choices(perms, {
                removeItemButton: true, 
            });
  
      
    },
    error:function(errors){
        console.log(errors.responseText);
    }
});


editStaffPermission.onsubmit = (event) => {
    event.preventDefault();
    console.log(id);
    const formData = new FormData(editStaffPermission);
    formData.append('staff', id);
    formData.append('csrfmiddlewaretoken', "{{ csrf_token }}");
    
    $.ajax({
      method: 'POST',  // Assuming you want to send the form data via POST method, but you can change it to 'GET' if needed
      url: "/staff/editStaffPermission/",
      data: formData,
      contentType: false,  // Set this to false to let jQuery handle the content type automatically
      processData: false,  // Set this to false to prevent jQuery from processing the data (since it's already in FormData format)
      dataType: 'json',
      success: function(data) {
        console.log(data);
      },
      error: function(errors) {
        console.log(errors.responseText);
      }
    });
    

};


}

function convertDateToISOFormat(dateText) {
  const months = {
    January: 1,
    February: 2,
    March: 3,
    April: 4,
    May: 5,
    June: 6,
    July: 7,
    August: 8,
    September: 9,
    October: 10,
    November: 11,
    December: 12
  };

  const [day, monthName, year] = dateText.split('-');
  const month = months[monthName];

  // Pad day and month with leading zeros if needed
  const dayWithLeadingZero = day.padStart(2, '0');
  const monthWithLeadingZero = month.toString().padStart(2, '0');

  return `${year}-${monthWithLeadingZero}-${dayWithLeadingZero}`;
}

{% comment %} AJAX FUNCTION FOR RETRIEVING STAFF INFORMATION {% endcomment %}
function editStaff(user_id){

  var url = window.location.href;
  var profile_pic = document.getElementById('staff_profile_pic');
  var id = document.getElementById('id_photo');
  var fname = document.getElementById('fname');
  var lname = document.getElementById('lname');
  var address = document.getElementById('address');
  var birthday = document.getElementById('birthday');
  var email = document.getElementById('email');
  var username = document.getElementById('username');


  $.ajax({
    method:'GET',
    url: "/staff/getStaffInformation/",
    mimeType:"multipart/form-data",
    data:{  
        'staff'  : user_id,
    },
    'dataType': 'json',
    success:function(data){
           
              // create a new table row
              address.value = data.data.address;
              email.value = data.data.email;
              fname.value = data.data.fname;
              lname.value = data.data.lname;
              birthday.value = data.staff_bday; 
              console.log(data.data)
              console.log(data.staff_id)
              console.log(data.staff_profile_pic)
              console.log(data.staff_bday)


  

      
    },
    error:function(errors){
        console.log(errors.responseText);
    }
});

}

function deleteStaff(user_id)
{
  console.log(user_id)
  $.ajax({

    METHOD:'GET',
    url: "/staff/deleteStaff/",
    mimeType:"multipart/form-data",
    data:{  
        'staff_id'  : user_id,
        csrfmiddlewaretoken: document.getElementById('csrf').querySelector('input').value,
    },
    'dataType': 'json',
    success:function(data){
              // create a new table row
              console.log(data)
      
    },
    error:function(errors){
        console.log(errors.responseText);
    }
});
}


function confirmdelete(user_id){

    var confirm = window.confirm("Are you sure you want to delete this staff?");

    if(confirm){
      deleteStaff(user_id);
    }
  
  
}
</script>


