{% load static %}

    
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Log in time</th>
      <th scope="col">Log out time</th>
      <th scope="col">Task</th>
      <th scope="col">Details</th>
      <th scope="col"><!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addStaffmodal">
          Add Staff
        </button></th>
    </tr>
  </thead>
  <tbody>

    {% if sessions_info %}
    {% for session in sessions_info %}

    <tr>
      <th scope="row"></th>
      <td>{{session.user}}</td>
      <td>{% if session.is_session_active %}Online{% endif %}</td>
      {% comment %} <td><button type="button" class="btn btn-secondary">Details</button></td> {% endcomment %}
    </tr>
    {% endfor %}
    {% endif %}


  </tbody>
</table>





<!-- Modal for adding staff -->
<div class="modal fade" id="addStaffmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Staff</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form action="{% url 'sendStaffInvitation'%}" method="POST">
        
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control my-2" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>

          <div class="form-group">
            <label for="permission">Choose permissions</label>
            <select class="permissions my-2" id="permissions" multiple="multiple" name="permissions" style="width: 50%">
              <option value="can_add_staff">Can add staff</option>
              <option value="can_edit_staff">Can edit staff</option>
              <option value="can_delete_staff">Can delete staff</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary my-2">Submit</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>











  <script type="text/javascript">
    
  // Pass single element
  const element = document.getElementById('permissions');
  const choices = new Choices(element, {
    // Options (if needed)
});
</script>


