<div class="container-fluid col gap-5">

  <div class="row">

    <div class="col-2">
        <span class="h-4">
          Profile Picture
        </span>
        <div id="profile_wrapper" class="d-flex">
        </div>
        <input class="form-control" id="Profile_Pic" type="file">
    </div>

  </div>


  <!-- set goal vibez-->
  <div class="row">
    <div class="col-2">
      <span class="h-3">
        Goal vibez:
      </span>
      <input class="">
    </div>
  </div>


  <!-- change username -->
  <div class="row">
    <div class="col-2">
      <span class="h-5">
        Username
      </span>
      <input class="">
    </div>
  </div>



    <!-- change password -->
    {% comment %} <div class="row">
      <div class="col-2">
        <span class="h-5">
          Change Password
        </span>
        
        <input id="password1" class="">
        <label class="h-5" for="password2" id="">Retype Password</label>
        <input id="password2" class="">
      </div>
    </div> {% endcomment %}



    <div class="row">
      <div class="col-2 align-content-center">
        <button type="submit" style="font-size:1.5rem;" class="btn h-2 btn-primary w-50 mx-auto my-2 p-3">Set</button>
      </div>
    </div>

   

</div>


<script>
  let cropper;

  function readImage(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
  
        reader.onload = function (e) {
          var image = document.createElement('img');
          image.src = e.target.result;
  
          // Set the width of the image
          image.style.width = '400px';
  
          var imageContainer = document.getElementById('profile_wrapper');
          imageContainer.innerHTML = '';
          imageContainer.appendChild(image);
  
          cropper = new Cropper(image, {
            aspectRatio: 16 / 9,
            crop(event) {
              console.log(event.detail.x);
              console.log(event.detail.y);
              console.log(event.detail.width);
              console.log(event.detail.height);
              console.log(event.detail.rotate);
              console.log(event.detail.scaleX);
              console.log(event.detail.scaleY);
            },
          });
        };
  
        reader.readAsDataURL(input.files[0]);
      }
    }
  
    var imageInput = document.getElementById('Profile_Pic');
  
    imageInput.addEventListener('change', function () {
      readImage(this);
    });
  
</script>