<div class="container-fluid">

  <div class="row">
<h3 class="text-center fs-2">VIBEZ SPENT</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Follower</th>
          <th scope="col">Status</th>
          <th scope="col">Sent vibez</th>
          <th scope="col">Menu items</th>
          <th scope="col">Slot machine</th>
          <th scope="col">Favorite buttons</th>
        </tr>
      </thead>
      <tbody>

        {% for follower in broadcaster_followers_details %}
        <tr>
          <td>{{follower.username}}</td>
          <td>
            {% if follower.status == True %}
            <span class="text-success font-weight-bold">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="8"/>
              </svg>
              Online 
            </span>
            {% else %}
            Offline
            {% endif %}
          </td>
          <td>{{follower.sent_vibez}}</td>
          <td>{{follower.total_menuitems_spending}}</td>
          <td>{{follower.total_slots_spending}}</td>
          <td>{{follower.total_buttons_availed}}</td>
          <td>
            <a class="bg-transparent border-0" id="open-private-chat-{{follower.username}}" data-toggle="pill" href="#pills-private-chat" role="tab" aria-controls="pills-private-chat" aria-selected="false" onclick="chat_with_follower('{{follower.username}}')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
            <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>
      </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>


  </div>

</div>



<script>
  function chat_with_follower(user){
    var username = user;

    $('#pills-followers-tab').removeClass('active');
    $('#pills-followers-tab').attr('aria-selected', false);
    $('#pills-private-chat-tab').addClass('active');
    $('#pills-private-chat-tab').attr('aria-selected', true);
    $('#open-private-chat-' + user).attr('aria-selected', false);
    $('#open-private-chat-' + user).removeClass('active');

    toggle_private_broc_room(username);

  }

</script>