<div class="row">

  <div class="col-3 align-content-center">

  <ul class="nav nav-tabs row gap-2 m-auto" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="position: relative; overflow: hidden; -webkit-tap-highlight-color: transparent; width: 100%; box-sizing: border-box;">

      <li class="nav-item">
    
        <button type="button" class="tab nav-link w-100" id="menu-tab-nav-btn" data-bs-toggle="pill" data-bs-target="#v-pills-menu" type="button" role="tab" aria-controls="v-pills-dice" aria-selected="false">
          <span class="fs-3 font-weight-bold">Menu</span>
        </button>
    
    <!--
        <div class="modal fade" id="confirmation_to_spendModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h3 class="text-center fs-1 font-weight-bold">you are about to spend vibez</h3>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary fs-3" data-bs-dismiss="modal">Cancel</button>
                <button class="nav-link" id="v-pills-menu-tab" onclick="dismiss_modal_cofirmation_to_spend_vibez()" data-bs-toggle="pill" data-bs-target="#v-pills-menu" type="button" role="tab" aria-controls="v-pills-menu" aria-selected="true"  data-bs-dismiss="modal"><span class="fs-2 font-weight-bold">Okay</span></button>
            
              </div>
            </div>
          </div>
        </div>

        -->

     </li>
   
    

    
      <li class="nav-item">
      <button class="tab nav-link w-100" id="v-pills-dice-tab" data-bs-toggle="pill" data-bs-target="#v-pills-dice" type="button" role="tab" aria-controls="v-pills-dice" aria-selected="false"><span class="fs-3 font-weight-bold">Dice</span></button>
      </li>
    

    

      <li class="nav-item">
      <button class="tab nav-link w-100" id="v-pills-Slots-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Slots" type="button" role="tab" aria-controls="v-pills-Slots" aria-selected="false"><span class="fs-3 font-weight-bold">Slots</span></button>
      </li>

    
    </ul>

  </div>




<div class="col">


<div class="msg-list-wrapper-split justify-content-center col" data-listener-count-scroll="1" style="box-sizing: border-box; margin: 0px auto 5px; padding: 5px; height: 365px; line-height: 16pt;">




  <div class="notice-list-fvm" style="width: 100%; user-select: text; cursor: text;"></div>


  <div class="col w-100 justify-content-center">
      

        <div class="row w-100 gap-0">



         
        </div>

   


      <div class="d-flex flex-row">

      <div class="tab-content w-100" id="v-pills-tabContent">
        <div class="tab-pane fade" id="v-pills-menu" role="tabpanel" aria-labelledby="v-pills-menu-tab" tabindex="0">
          <div class="col-10 m-auto">

            <div class="row justify-content-center align-items-center gap-4">
            {% for item in menu_data %}

          
                <button type="button" class="btn btn-dark fs-3 col-3" onclick="avail_menu_item({{item.id}})">
                  <span class="fs-2">{{item.Menu_Name}}</span>
                  <small class="d-block">{{item.Vibez_Cost}} vibez</small>
                </button>
  
      
                {% endfor %}
              </div>
          </div>
        </div>

        <div class="tab-pane fade" id="v-pills-dice" role="tabpanel" aria-labelledby="v-pills-dice-tab" tabindex="0">dice</div>

        <div class="tab-pane fade" style="overflow:hidden;" id="v-pills-Slots" role="tabpanel" aria-labelledby="v-pills-Slots-tab" tabindex="0">
          <div id="slot" class="ps-0 ml-0">
          {% if request.user.is_authenticated %}

          {% include "rooms/include/slot_machine.html" %}

          {% else %}

          <h3 style='color:crimson; margin:10px 0 0 10px;'>
              Please Login to play
          </h3>

          {% endif %}

          </div>
        </div>
      </div>
  </div>
</div>

</div>

</div>

</div>
<script>

  function avail_menu_item(menu_item_id){
    $.ajax({
      method:'POST',
      url: "avail_menu_item/",
      data: {
          'menu_item_id':menu_item_id,
          'broadcaster_id':{{room_data.User.id}},
          'csrfmiddlewaretoken':"{{csrf_token}}",
      },
      success:function(data)
      {
          console.log(data.data)
          successToast(data.data)

      },
      error:function(errors){
          console.log(errors.responseText)
          errorToast(errors.responseJSON.data)
      }
  })
  }

  function dismiss_modal_cofirmation_to_spend_vibez(){
    $('#confirmation_to_spendModal').modal('hide');
    $('#v-pills-menu-tab').removeClass('active');
    $('#menu-tab-nav-btn').addClass('active');
    $('#v-pills-menu-tab').attr('aria-selected', false);
    
  }

</script>