<div class="container-fluid">

  <h3 class="fs-1 font-weight-bold">Lottery</h3>
<div class="row">

  <div class="d-flex flex-column">


    <div class="col">

      <label class="fs-2" for="price_for_slot_1">Slot 1 prize</label>
      <select class="fs-2" id="price_for_slot_1">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        {% if lottery_slot_1.prize == prize %}
        <option selected value="{{ prize }}">{{ prize }}</option>

        {% else %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endif %}
        {% endfor %}
      </select>

      
      <label class="fs-2" for="price_for_slot_2">Slot 2 prize</label>
      <select class="fs-2" id="price_for_slot_2">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        {% if lottery_slot_2.prize == prize %}
        <option selected value="{{ prize }}">{{ prize }}</option>

        {% else %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endif %}       
        {% endfor %}
      </select>

    </div>

    <div class="col">

      <label class="fs-2" for="price_for_slot_3">Slot 3 prize</label>
      <select class="fs-2" id="price_for_slot_3">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        {% if lottery_slot_3.prize == prize %}
        <option selected value="{{ prize }}">{{ prize }}</option>

        {% else %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endif %}  
        {% endfor %}
      </select>


      <label class="fs-2" for="price_for_slot_4">Slot 4 prize</label>
      <select class="fs-2" id="price_for_slot_4">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        {% if lottery_slot_4.prize == prize %}
        <option selected value="{{ prize }}">{{ prize }}</option>

        {% else %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endif %}        
        {% endfor %}
      </select>

    </div>


    <div class="col">

      <label class="fs-2" for="price_for_slot_5">Slot 5 prize</label>
      <select class="fs-2" id="price_for_slot_5">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        {% if lottery_slot_5.prize == prize %}
        <option selected value="{{ prize }}">{{ prize }}</option>

        {% else %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endif %}           
        {% endfor %}
      </select>


      <label class="fs-2" for="price_for_slot_6">Slot 6 prize</label>
      <select class="fs-2" id="price_for_slot_6">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        {% if lottery_slot_6.prize == prize %}
        <option selected value="{{ prize }}">{{ prize }}</option>

        {% else %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endif %}    
        {% endfor %}
      </select>

    </div>


    <div class="col">

      <label class="fs-2" for="price_for_slot_7">Slot 7 prize</label>
      <select class="fs-2" id="price_for_slot_7">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        {% if lottery_slot_7.prize == prize %}
        <option selected value="{{ prize }}">{{ prize }}</option>

        {% else %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endif %} 
        {% endfor %}
      </select>


      <label class="fs-2" for="price_for_slot_8">Slot 8 prize</label>
      <select class="fs-2" id="price_for_slot_8">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        {% if lottery_slot_8.prize == prize %}
        <option selected value="{{ prize }}">{{ prize }}</option>

        {% else %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endif %}        
        {% endfor %}
      </select>
    
    </div>

    <div class="col-1 justify-content-center my-2">
      <button type="button" onclick="set_lottery_prize()" class="btn btn-dark w-75 m-auto fs-2">Set</button>
    </div>

  </div>

</div>


</div>


<script>

  function set_lottery_prize() {
    var slot0 = document.getElementById('price_for_slot_1').value;
    var slot1 = document.getElementById('price_for_slot_2').value;
    var slot2 = document.getElementById('price_for_slot_3').value;
    var slot3 = document.getElementById('price_for_slot_4').value;
    var slot4 = document.getElementById('price_for_slot_5').value;
    var slot5 = document.getElementById('price_for_slot_6').value;
    var slot6 = document.getElementById('price_for_slot_7').value;
    var slot7 = document.getElementById('price_for_slot_8').value;


    $.ajax({

      method: "POST",
      url:"set_lottery_prize/",
      data:{
        'slot0': slot0,
        'slot1': slot1,
        'slot2': slot2,
        'slot3': slot3,
        'slot4': slot4,
        'slot5': slot5,
        'slot6': slot6,
        'slot7': slot7,
        'csrfmiddlewaretoken':"{{csrf_token}}",
 
      },
      success:function(data){
        console.log(data.data);
      },
      error:function(errors){
        console.log(errors.responseText);

      }

    });
  }

</script>