<div class="container-fluid">

<div class="row">

  <div class="d-flex flex-row">
    <form method="POST" id="lottery-form">
      <label for="price_for_slot_1">Slot 1 prize</label>
      <select id="price_for_slot_1">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endfor %}
      </select>

      
      <label for="price_for_slot_2">Slot 2 prize</label>
      <select id="price_for_slot_2">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endfor %}
      </select>


      <label for="price_for_slot_3">Slot 3 prize</label>
      <select id="price_for_slot_3">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endfor %}
      </select>


      <label for="price_for_slot_4">Slot 4 prize</label>
      <select id="price_for_slot_4">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endfor %}
      </select>


      <label for="price_for_slot_5">Slot 5 prize</label>
      <select id="price_for_slot_5">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endfor %}
      </select>


      <label for="price_for_slot_6">Slot 6 prize</label>
      <select id="price_for_slot_6">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endfor %}
      </select>


      <label for="price_for_slot_7">Slot 7 prize</label>
      <select id="price_for_slot_7">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endfor %}
      </select>


      <label for="price_for_slot_8">Slot 8 prize</label>
      <select id="price_for_slot_8">
        <option value="None">None</option>

        {% for prize in lottery_prizes_list %}
        <option value="{{ prize }}">{{ prize }}</option>
        {% endfor %}
      </select>
    </form>
  </div>

</div>


</div>