{% load static %}
<style>
  #broc_chat_room_messages {
    height: 400px;
    overflow: auto;
    border: 1px solid #323232;
    border-bottom: 0px;
    background-image: url("{% static 'images/broc_bg.jpg' %}");
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 15px;
  }
  #private_broc_chat_room_messages {
    height: 400px;
    overflow: auto;
    border: 1px solid #323232;
    border-bottom: 0px;
    background-image: url("{% static 'images/broc_bg.jpg' %}");
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 15px;
  }
  #broc_chat_room_messages::-webkit-scrollbar {
      width: 5px;
      background-color: #F5F5F5;
  }
  #broc_chat_room_messages::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
  #private_broc_chat_room_messages::-webkit-scrollbar {
      width: 5px;
      background-color: #F5F5F5;
  }
  #private_broc_chat_room_messages::-webkit-scrollbar-thumb {
    background-color: #6cc6ba;
  }
  .pri_broc_chat_list {
    height: 369px !important;
    overflow: auto;
  }
  .pri_broc_chat_list::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }
  .pri_broc_chat_list::-webkit-scrollbar-thumb {
    background-color: #6cc6ba;
  }
  #fan_list_username:hover {
    background-color: #6cc6ba;
  }
</style>
<section style="background-color: transparent;">
    <div class="container py-2">
      <div class="row">
        <div class="col-md-5 col-lg-5 col-xl-4">  
          <div class="row">


            <div class="col-12">
              <h4 class="text-center font-weight-bold bg-light py-2 m-0">Private Chats</h4>

              <div class="card card-body pri_broc_chat_list p-0" id="fan_lists">
                {% if invitee_list %}
                {% for fan in invitee_list %}
                <button type="button" class="d-flex justify-content-between mb-2 border-top pt-2 px-3" id="fan_list_username" onclick="toggle_private_broc_room('{{ fan.username }}')">
                  <h4 class="mt-5">{{ fan.name }}</h4>
                </button>
                {% endfor %}
                {% else %}
                <h4 class="text-muted">no fans found!</h4>
                {% endif %}
              </div>

            </div>
           </div>
        </div>

    <div class="col-md-5 col-lg-7 col-xl-8">

          {% comment %} PRIVATE ROOM CHAT {% endcomment %}

          <div id="pri_room_wrap" style="display: none;">
            <div id="private_broc_chat_room_messages">
              <h4 id="private_broc_chat_room_header" class="text-center font-weight-bold"></h4>
              <div id="pri_fans_msg"></div>                            
            </div>

            <form id="private_broc_chat_room_form" class="d-flex">
              <input type="text" id="private_broc_chat_room_message_field" class="form-control" style="height: 35px; font-size: 15px;" required />
              <input type="hidden" id="pri_broc_fan_username" value="">
              <button type="submit" class="btn btn-primary">Send</button>
            </form>

          </div>
    </div>
    </div>
    </div>
  </section>
  
<script>

function toggle_private_broc_room(username, isUserClicked) {
  let publicWrap = document.getElementById("pub_room_wrap");
  let privateWrap = document.getElementById("pri_room_wrap");
  let is_initialized = false;

  console.log(username);


 
    privateWrap.style.display = "block";
    document.getElementById("private_broc_chat_room_header").innerHTML = "Private Chat with " + username;
    document.getElementById("pri_broc_fan_username").value = username;


    let socket = new WebSocket('ws://' + window.location.host + '/ws/privateChatBroc/{{ room_name }}/'+username+'/');
    socket.onopen = function(e) {
      console.log('private chat socket is open');
    }

   

    socket.onmessage = function(e) {
        let data = JSON.parse(e.data);
        let msg_wraper = document.getElementById("pri_fans_msg");
  
        let msg_container = "";
        var messages;
        // Add message to chat room

        if(!is_initialized){
          messages = data.data;
          is_initialized = true;
        }
        else{
          messages = [data.data];
        }

          console.log(messages);
        messages.forEach(function (messageText) {
            var from = messageText.From;
            var to = messageText.To;
            var message = messageText.Message;

            if(from === "{{ user }}"){
              msg_container = `<div class="text-muted d-flex justify-content-end"><small class="broc_chat_room_message_username font-weight-bold text-dark">${from}</small></div><div class="card card-body font-weight-normal py-2 my-1 broc_chat_room_message_text mb-4 ml-auto" style="border-radius: 13px; width: fit-content; background: #000000; color: #ffffff;">${message}</div>`;
            }else{
              msg_container = `<div class="text-muted d-flex justify-content-start"><small class="broc_chat_room_message_username font-weight-bold text-dark">${from}</small></div><div class="card card-body font-weight-normal py-2 my-1 broc_chat_room_message_text mb-4" style="border-radius: 13px; width: fit-content; background: #9dffde;">${message}</div>`;
            }
            let new_element = document.createElement('div');
            new_element.innerHTML = msg_container;
            msg_wraper.appendChild(new_element);

        });
        let private_broc_chat_room_messages = document.getElementById("private_broc_chat_room_messages");
        private_broc_chat_room_messages.scrollTop = private_broc_chat_room_messages.scrollHeight;
        document.getElementById('private_broc_chat_room_message_field').value = '';



    }
    socket.onerror = function (error) {
      console.error('WebSocket error:', error);
      console.log(error)
    };

    let pri_broc_form = document.getElementById('private_broc_chat_room_form');
    pri_broc_form.addEventListener('submit', function(e) {
    e.preventDefault();
    var message_field = document.getElementById('private_broc_chat_room_message_field');
    socket.send(JSON.stringify({
      'type': 'from_broadcaster',
      'message': message_field.value
  }));
    message_field.focus();
    });
  
}

  
function fetchFans(broc) {

  console.log("triggered " + broc)
  var xhr = new XMLHttpRequest();
  xhr.open("GET", `/chat/fan_list/${broc}/`, true);
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.onreadystatechange = function() {
    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
      var fans_json = JSON.parse(xhr.responseText);
      var fans = fans_json.data;
      console.log(fans);
      var fanListUsername = document.getElementById("fan_lists");
      fanListUsername.innerHTML = "";
      if (fans.length) {
        for (var i = 0; i < fans.length; i++) {
          var fan = fans[i];
          var fanDiv = document.createElement("div");
          fanDiv.innerHTML = `<div class="d-flex justify-content-between mb-2 border-top pt-2 px-3" id="fan_list_username" onclick="toggle_private_broc_room('${fan.name}')">
                        <h4>${fan.name}</h4>
                      </div>`;
          fanListUsername.appendChild(fanDiv);
        }
      } else {
        var noFans = document.createElement("h4");
        noFans.textContent = "no fans found!";
        noFans.classList.add("text-muted");
        fanListUsername.appendChild(noFans);
      }
    }
  };
  xhr.send();
}

// Interval to fetch the list of fans every 3 seconds
setInterval(function() {
  fetchFans("{{ room_name }}");
}, 3000);
</script>