{% load static %}
<div class="msg-list-fvm message-list container-fluid" style="width: 100%; user-select: text; cursor: text; padding-bottom: 4px;">

  <div class="msg-text row gap-3" style="font-family: Tahoma, Arial, Helvetica, sans-serif; box-sizing: border-box; padding: 2px 5px 3px; overflow-wrap: break-word; word-break: break-word;">

    <h3 class="fs-1 font-weight-bold" style=' margin:10px 0 0 10px;'>Room Stats</h3>
      <div class="my-2 col-lg-6 col-sm-12">

          <table id="room-stats-table" class="table table-borderless">
            <thead>
              <tr>
                <th scope="col"><span class="display-6">Viewers</span></th>
                <th scope="col"><span class="display-6">Number of explosions</span></th>
                <th scope="col"><span class="display-6">Total Earned</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><p class="h3"><strong>{{room_data.Total_Viewers}}</strong></p></th>
                <td><p class="h3"><strong>None</strong></p></td>
                <td><p class="h2"><strong>{{room_data.Revenue}}</strong></p></td>
              </tr>

            </tbody>
          </table>
      </div>

 

  </div>


  <!--Room Hashtags-->
  
<div class="row gap-3">
    <span class="font-weight-bold fs-2">Hashtags:</span>

      <div class="col-lg-3 col-sm-12">
        <textarea class="form-control fs-2" placeholder="Add hashtags so users can easily find you! add something like, #asian #trans #men" id="hashtags" rows="5" style="resize:none;">{% if room_data.hashtags %}{{room_data.hashtags}}{% endif %}</textarea>   
        
      </div>
  </div>

<div class="row my-4">
  <div class="col-2 col-lg-1">
    <button class="btn btn-dark w-100" style="font-size:1.7rem" onclick="save_hashtags()"><span class="fs-2 font-weight-bold">save</span></button>
  </div>
</div>

 

<div class="col-4">

    <div class="card">
      <h5 class="card-header display-5 bg-transparent text-center">GAMES</h5>
      <div class="card-body">
        <h5 class="card-title text-center fs-2 my-5">Click button to enable/disable games</h5>
      
        <div class="col m-auto">
        {% include "rooms/include/enable_games.html" %} 
        </div>

      </div>
    </div>

</div>


<div class="col-4 mt-5">

    <div class="d-flex flex-row gap-4">
      <div class="col-sm-4 col-md-10 col-lg-10">
          <div class="card" style="background-color:lightcoral;">
            
              <div class="card-body">
                  <h5 class="card-title fs-2">MMM Button</h5>
                  <h6 class="card-subtitle mb-4 fs-2">Soft Vibez</h6>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Price</label>
                      <input type="number" class="fs-3" id="Price_MMM_button" aria-describedby="emailHelp" value="{{room_data.Price_MMM_button}}">
                      <small id="emailHelp" class="">By Vibez.</small>
                  </div>                    
                  <div class="form-group">
                    
                      <label for="">Feature</label>

                      <select value="{{room_data.Price_MMM_button}}" class="fs-3 w-100" id="Feature_MMM_button">

                          <option {% if room_data.Feature_MMM_button and room_data.Feature_MMM_button == "v" %}
                          selected{% endif %} value="v"
                          >Vibrate</option>

                          <option
                          {% if room_data.Feature_MMM_button and room_data.Feature_MMM_button == "r" %}
                            selected{% endif %} value="r"
                            >Rotate</option>

                          <option 
                          {% if room_data.Feature_MMM_button and room_data.Feature_MMM_button == "p" %}
                          selected{% endif %}
                            value="p">Pump</option>

                          <option
                          {% if room_data.Feature_MMM_button and room_data.Feature_MMM_button == "t" %}
                            selected{% endif %}
                            value="t">Thrusting</option>

                          <option
                          {% if room_data.Feature_MMM_button and room_data.Feature_MMM_button == "f" %} 
                          selected
                          {% endif %} 
                          value="f">Fingering</option>

                          <option 
                          {% if room_data.Feature_MMM_button and room_data.Feature_MMM_button == "s" %}
                          selected{% endif %}
                            value="s">
                            Suction</option>

                      </select>
                  </div>                    
                  <div class="form-group">
                      <label for="exampleInputEmail1" class="fs-3">Duration</label>
                      <input type="number" class="fs-3" id="Duration_MMM_button" aria-describedby="emailHelp" value="{{room_data.Duration_MMM_button}}">
                      <small id="emailHelp" class=" fs-5">in Min.</small>
                  </div>                    
                  
                  <div class="form-group">
                      <label for="exampleInputEmail1" class="fs-3">Strength</label>

                    <div class="single-slider m-auto">
                      <input id="Strength_MMM_button" type="range" min="5" max="20" step="5" value="{{ room_data.Strength_MMM_button|default:"0" }}" class="slider">
                      <span class="slider-value">{{room_data.Strength_MMM_button|default:"0"}}</span>
                    </div>

                  </div>  
              </div>
          </div>   
      </div>               
      <div class="col-sm-4 col-md-10 col-lg-10">
          <div class="card" style="background-color:lightsalmon;">
              <div class="card-body">
                  <h5 class="card-title fs-2">OH Button</h5>
                  <h6 class="card-subtitle mb-4 fs-2">Mid Vibez button</h6>
                  <div class="form-group">
                      <label for="exampleInputEmail1" class="fs-3">Price</label>
                      <input type="number" class="fs-3" id="Price_OH_button" aria-describedby="emailHelp" value="{{room_data.Price_OH_button}}">
                      <small id="emailHelp" class="">By Vibez.</small>
                  </div>  
                  
                  <div class="form-group">
                      <label for="">Feature</label>

                      <select class="fs-3 w-100" id="Feature_OH_button">

                          <option {% if room_data.Feature_OH_button and room_data.Feature_OH_button == "v" %} selected{% endif %}  value="v">Vibrate</option>

                          <option
                          {% if room_data.Feature_OH_button and room_data.Feature_OH_button == "r" %} selected{% endif %}  
                          value="r">
                          Rotate</option>

                          <option
                          {% if room_data.Feature_OH_button and room_data.Feature_OH_button == "p" %} selected{% endif %}  
                          value="p">Pump</option>

                          <option
                          {% if room_data.Feature_OH_button and room_data.Feature_OH_button == "t" %} selected{% endif %}  

                          value="t">Thrusting</option>

                          <option
                          {% if room_data.Feature_OH_button and room_data.Feature_OH_button == "f" %} selected{% endif %} 

                          value="f">Fingering</option>

                          <option
                          {% if room_data.Feature_OH_button and room_data.Feature_OH_button == "s" %} selected{% endif %}  
                          value="s">Suction</option>

                      </select>
                  </div> 
                                  
                  <div class="form-group">
                      <label for="exampleInputEmail1" class="fs-3">Duration</label>
                      <input type="number" class="fs-3" id="Duration_OH_button" aria-describedby="emailHelp" value="{{room_data.Duration_OH_button}}">
                      <small id="emailHelp" class=" fs-5">in Min.</small>
                  </div>                    
                  
                  <div class="form-group">
                      <label for="exampleInputEmail1" class="fs-3">Strength</label>

                      <div class="single-slider m-auto">
                        <input id="Strength_OH_button" type="range" min="5" max="20" step="5" value="{{ room_data.Strength_OH_button|default:"0" }}" class="slider">
                        <span class="slider-value">{{room_data.Strength_OH_button|default:"0"}}</span>
                      </div>
                  </div>  
              </div>
          </div>                  
      </div> 
      <div class="col-sm-4 col-md-10 col-lg-10">
          <div class="card" style="background-color:lightgreen;">
              <div class="card-body">
                  <h5 class="card-title fs-2">OHYes Button</h5>
                  <h6 class="card-subtitle mb-2 fs-2 mb-4">High Vibez button</h6>
                  <div class="form-group">
                      <label for="exampleInputEmail1" class="fs-3">Price</label>
                      <input type="number" class="fs-3" id="Price_OHYes_button" aria-describedby="emailHelp" value="{{room_data.Price_OHYes_button}}">
                      <small id="emailHelp" class=" ">By Vibez.</small>
                  </div> 

                  <div class="form-group">
                      <label for="Feature_OHYes_button" class="fs-3">Feature</label>

                      <select class="fs-3 w-100" id="Feature_OHYes_button">
                          <option
                          {% if room_data.Feature_OHYes_button and room_data.Feature_OHYes_button == "v" %}
                          selected{% endif %}  
                          
                          value="v">Vibrate</option>

                          <option
                          {% if room_data.Feature_OHYes_button and room_data.Feature_OHYes_button == "r" %}
                          selected
                          {% endif %}
                          value="r">Rotate</option>

                          <option
                          {% if room_data.Feature_OHYes_button and room_data.Feature_OHYes_button == "p" %}
                          selected
                          {% endif %}
                          value="p">Pump</option>

                          <option
                          {% if room_data.Feature_OHYes_button and room_data.Feature_OHYes_button == "t" %}
                          selected
                          {% endif %}
                          value="t">Thrusting</option>

                          <option
                          {% if room_data.Feature_OHYes_button and room_data.Feature_OHYes_button == "f" %}
                          selected
                          {% endif %}
                          value="f">Fingering</option>

                          <option
                          {% if room_data.Feature_OHYes_button and room_data.Feature_OHYes_button == "s" %}
                          selected
                          {% endif %}
                          value="s">Suction</option>
                      </select>
                  </div>  

                  <div class="form-group">
                      <label for="exampleInputEmail1" class="fs-3">Duration</label>
                      <input type="number" class="fs-3" id="Duration_OHYes_button" aria-describedby="emailHelp" value="{{room_data.Duration_OHYes_button}}">
                      <small id="emailHelp" class=" ">in Min.</small>
                  </div>                    
                  
                  <div class="form-group">
                      <label for="exampleInputEmail1" class="fs-3">Strength</label>  

                      <div class="single-slider">
                        <input id="Strength_OHYes_button" type="range" min="5" max="20" step="5" value="{{ room_data.Strength_OHYes_button|default:"0" }}" class="slider">
                        <span class="slider-value">{{ room_data.Strength_OHYes_button|default:"0" }}</span>
                      </div>

                  </div>  
              </div>
          </div>                  
      </div> 






  </div> 

  <div class="col">
    <button type="button" id="" onclick="Save_RoomPatterns()" class="btn btn-dark fs-1">Save</button>
  </div>

</div>

</div>



<script>

  var logo = document.getElementById('privatevibezlogo');
  

  const sliders = document.querySelectorAll(".slider");
  const sliderValues = document.querySelectorAll(".slider-value");
  
  sliders.forEach((slider, index) => {
      slider.addEventListener("input", function() {
          sliderValues[index].textContent = slider.value;
      });
  });
  
  
  function save_hashtags(){

    $.ajax({
      url: "hashtags/save",
      type: "POST",
      data: {
        room_id: {{room_data.id}},
         hashtags: $('#hashtags').val(),
         csrfmiddlewaretoken:"{{csrf_token}}",
        },
      success: function(data){
        var message = data.data;
        
        successToast(message);

      },
      error: function(data){
        var message = 'Something went wrong.';

        errorToast(message);
      }
    });
  }

</script>


