{% load static %}
<div class="msg-list-fvm message-list container-fluid" style="width: 100%; user-select: text; cursor: text; padding-bottom: 4px;">

  <div class="msg-text row gap-3" style="font-family: Tahoma, Arial, Helvetica, sans-serif; box-sizing: border-box; padding: 2px 5px 3px; overflow-wrap: break-word; word-break: break-word;">

    <h3 class="fs-1 font-weight-bold" style=' margin:10px 0 0 10px;'>Room Stats</h3>
      <div class="my-2 col-lg-6 col-sm-12">

          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col"><span class="display-6">Viewers</span></th>
                <th scope="col"><span class="display-6">Number of explosions</span></th>
                <th scope="col"><span class="display-6">Total Earned</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><p class="h3"><strong>{{room_data.Total_Viewers}}</strong></p></th>
                <td><p class="h3"><strong>None</strong></p></td>
                <td><p class="h2"><strong>{{room_data.Revenue}}</strong></p></td>
              </tr>

            </tbody>
          </table>
      </div>

  </div>


  <!--Room Hashtags-->
  
  <div class="row gap-3">
    <span class="font-weight-bold fs-2">Hashtags:</span>

      <div class="col-lg-3 col-sm-12">
        <textarea class="form-control fs-2" id="hashtags" rows="5" style="resize:none;">{% if room_data.hashtags %}{{room_data.hashtags}}{% endif %}</textarea>   
        
      </div>
  </div>

<div class="row my-2">
  <div class="col-2 col-lg-1">
    <button class="btn btn-dark w-100" style="font-size:1.7rem" onclick="save_hashtags()"><span class="fs-2 font-weight-bold">save</span></button>
  </div>
</div>

</div>



<script>

  var toastContainer = document.getElementById('toast-container');
  var logo = document.getElementById('privatevibezlogo');
  
  
  const toastElement = document.querySelector('.toast');
  
  if(toastElement){
      setTimeout(function() {
          var toast = new bootstrap.Toast(toastElement);
          toast.hide();
      }, 2000);
  }

  function save_hashtags(){

    $.ajax({
      url: "hashtags/save",
      type: "POST",
      data: {
        room_id: {{room_data.id}},
         hashtags: $('#hashtags').val(),
         csrfmiddlewaretoken:"{{csrf_token}}",
        },
      success: function(data){
        var message = data.data;
        
        successToast(message);

      },
      error: function(data){
        var message = 'Something went wrong.';

        errorToast(message);
      }
    });
  }

</script>


