
<div class="container-fluid">
  <div class="col-lg-2 col-md-3 col-sm-4 gap-3">

    <form id="set_slot_machine" method="POST" action="{% url 'set_slot_machine' %}" class="">
     
          {% csrf_token %}

         
          <label class="fs-2 my-3" for="set_vibez_per_spin">Set vibez per spin</label>
          <input type="number" value="{% if slot_machine_data %}{{slot_machine_data.Slot_cost_per_spin}}{% endif %}" class="" id="set_vibez_per_spin" name="Slot_cost_per_spin">

          <input type="number" class=" d-none" id="" value="{% if slot_machine_data %}{{room_data.User.id}}{% endif %}" name="User">
          

          <button type="submit" class="btn h-4 btn-dark w-50 rounded-3 mx-auto my-3 p-3"><span class="fs-2 font-weight-bold">Set</span></button>
      
      
      </form>
</div>
</div>