<div class="container-fluid">

  <div class="row">
  
    <div class="d-flex flex-row">
  
        <label for="price_for_dice_1">Dice number 1 prize</label>
        <select id="price_for_dice_1">
          <option value="None">None</option>
  
          {% for prize in lottery_prizes_list %}
          {% if dice_1.prize == prize %}
          <option selected value="{{ prize }}">{{ prize }}</option>
  
          {% else %}
          <option value="{{ prize }}">{{ prize }}</option>
          {% endif %}
          {% endfor %}
        </select>
  
        
        <label for="price_for_dice_2">Dice number 2 prize</label>
        <select id="price_for_dice_2">
          <option value="None">None</option>
  
          {% for prize in lottery_prizes_list %}
          {% if dice_2.prize == prize %}
          <option selected value="{{ prize }}">{{ prize }}</option>
  
          {% else %}
          <option value="{{ prize }}">{{ prize }}</option>
          {% endif %}       
          {% endfor %}
        </select>
  
  
        <label for="price_for_dice_3">Dice number 3 prize</label>
        <select id="price_for_dice_3">
          <option value="None">None</option>
  
          {% for prize in lottery_prizes_list %}
          {% if dice_3.prize == prize %}
          <option selected value="{{ prize }}">{{ prize }}</option>
  
          {% else %}
          <option value="{{ prize }}">{{ prize }}</option>
          {% endif %}  
          {% endfor %}
        </select>
  
  
        <label for="price_for_dice_4">Dice number 4 prize</label>
        <select id="price_for_dice_4">
          <option value="None">None</option>
  
          {% for prize in lottery_prizes_list %}
          {% if dice_4.prize == prize %}
          <option selected value="{{ prize }}">{{ prize }}</option>
  
          {% else %}
          <option value="{{ prize }}">{{ prize }}</option>
          {% endif %}        
          {% endfor %}
        </select>
  
  
        <label for="price_for_dice_5">Dice number 5 prize</label>
        <select id="price_for_dice_5">
          <option value="None">None</option>
  
          {% for prize in lottery_prizes_list %}
          {% if dice_5.prize == prize %}
          <option selected value="{{ prize }}">{{ prize }}</option>
  
          {% else %}
          <option value="{{ prize }}">{{ prize }}</option>
          {% endif %}           
          {% endfor %}
        </select>
  
  
        <label for="price_for_dice_6">Dice number 6 prize</label>
        <select id="price_for_dice_6">
          <option value="None">None</option>
  
          {% for prize in lottery_prizes_list %}
          {% if dice_6.prize == prize %}
          <option selected value="{{ prize }}">{{ prize }}</option>
  
          {% else %}
          <option value="{{ prize }}">{{ prize }}</option>
          {% endif %}    
          {% endfor %}
        </select>
  
  
        <button type="button" onclick="set_dice_prize()" class="btn btn-primary">Set</button>
    
    </div>
  
  </div>
  
  
  </div>

  <script>


    function set_dice_prize() {
      var dice1 = document.getElementById('price_for_dice_1').value;
      var dice2 = document.getElementById('price_for_dice_2').value;
      var dice3 = document.getElementById('price_for_dice_3').value;
      var dice4 = document.getElementById('price_for_dice_4').value;
      var dice5 = document.getElementById('price_for_dice_5').value;
      var dice6 = document.getElementById('price_for_dice_6').value;

  
      $.ajax({
  
        method: "POST",
        url:"set_dice_prize/",
        data:{
          'dice1': dice1,
          'dice2': dice2,
          'dice3': dice3,
          'dice4': dice4,
          'dice5': dice5,
          'dice6': dice6,
          'csrfmiddlewaretoken':"{{csrf_token}}",
   
        },
        success:function(data){
          console.log(data.data);
        },
        error:function(errors){
          console.log(errors.responseText);
  
        }
  
      });
    }

  </script>
  