
<div class="container-fluid">
  <div class="col-2 gap-3">

    <form id="set_slot_machine" method="POST" action="{% url 'set_slot_machine' %}" class="">
     
          {% csrf_token %}

         
          <label class="fs-2 my-3" for="set_vibez_per_spin">Set vibez per spin</label>
          <input type="number" value="{% if slot_machine_data %}{{slot_machine_data.Slot_cost_per_spin}}{% endif %}" class="" id="set_vibez_per_spin" name="Slot_cost_per_spin">

          <input type="number" class=" d-none" id="" value="{% if slot_machine_data %}{{room_data.User.id}}{% endif %}" name="User">
          
          <label class="fs-2 my-3" for="set_3_of_a_kind_prize">Set prize for 3 of a kind win</label>
          <input type="text" value="{% if slot_machine_data %}{{slot_machine_data.Win_3_of_a_kind_prize}}{% endif %}" class="" id="set_3_of_a_kind_prize" name="Win_3_of_a_kind_prize">
          
          <label class="fs-2 my-3" for="set_2_of_a_kind_prize">Set prize for 2 of a kind win</label>
          <input type="text" value="{% if slot_machine_data %}{{slot_machine_data.Win_2_of_a_kind_prize}}{% endif %}" class="" id="set_2_of_a_kind_prize" name="Win_2_of_a_kind_prize">



          <button type="submit" class="btn h-4 btn-dark w-50 rounded-3 mx-auto my-3 p-3"><span class="fs-2 font-weight-bold">Set</span></button>
      
      
      </form>
</div>
</div>