<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">


    <style>
      .custom-select {
        border: 1px solid #ccc;
        padding: 5px;
        cursor: pointer;
        max-height: 100px;
        overflow-y: auto;
      }
      
      .option {
        padding: 5px;
      }
      
      .option:hover {
        background-color: #f0f0f0;
      }
      
      .option.selected {
        background-color: yellow;
      }
      
      
    </style>
  </head>
  <body>

    <div class="container-fluid">

    
      <!-- Personal Data -->
      <div class="row gap-2">
        <div class="row">
        <div class="col-2">
          <span class="display-4">
            Personal Data
          </span>
        </div>
      </div>


      <!-- Email Address-->
      <div class="row gap-4">
        <div class="row">
        <div class="col-2">
          <span class="h-4">
            Email Address
          </span>
        </div>
        <div class="col-2">
          <label for="email" class="h-4"></label>
          <input class="" id="email">
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <span class="h-4">
            I am:*
          </span>
        </div>
        <div class="col-2">
          <label for="email" class="h-4"></label>
          <select name="gender" id="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Trans">Transgender</option>
            <option value="Couple">Couple</option>
          </select>
        </div>
      </div>
    </div>

    </div>

      <!--BLOCK COUNTRY -->

      <div class="row gap-2 mt-2" style="height: 300px">
        <div class="col-2">

          <span class="">Block access to users in these countries:</span>

      


      </div>



      
        <div class="col-2">

          <div class="row">

            

            <div class="" style="height:100%">
          <label for="able_countries">Able to view:</label>
            <div id="able_countries" style="height:100%" class="custom-select">
              <input id="search-input-countries" type="text" placeholder="Search for a country">

              {% for country in countries %}
                  <div class="option" data-value="{{ country.code2 }}">{{ country.name }}</div>
              {% endfor %}
            </div>

            <div class="col" style="width:100%">
            
              <button class="m-2 p-2 btn-danger rounded-3" onclick="moveSelectedOptions('able_countries', 'block_countries')">Block</button>
            
            </div>

         </div>

          </div>

          </div>

               <div class="col-2">

          <div class="row">
            
          <div class="">

            <label for="block_countries">Block country:</label>
            <div id="block_countries" style="height:100%" class="custom-select">

            </div>

            <div class="col" style="width:100%">
          
            <button class="btn-secondary m-2 p-2 rounded-3" onclick="moveSelectedOptions('block_countries', 'able_countries')">Unblock</button>            
          </div>
        </div>
          </div>

          </div>


    </div>



    <!-- BLOCK REGIONS-->

          <div class="row">
        <div class="col-2">

          <span class="">Block access to users in these regions:</span>

      


      </div>



      
        <div class="col-2">

          <div class="row">

            

            <div class="">
          <label for="able_regions">Able to view:</label>
            <div id="able_regions" style="height:100%" class="custom-select">
              <input id="search-input" type="text" placeholder="Search for a region">
              {% for region in regions %}
                  <div class="option_region" data-value="{{ region.name }}">{{ region.name }}</div>
              {% endfor %}
            </div>

            <div class="col" style="width:100%">
            
              <button class="m-2 p-2 btn-danger rounded-3" onclick="moveSelectedOptions('able_regions', 'block_regions')">Block</button>
            
            </div>

         </div>

          </div>

          </div>

        <div class="col-2">

          <div class="row">
            
          <div class="">

            <label for="block_regions">Block regions:</label>
            <div id="block_regions" style="height:100%" class="custom-select">

            </div>

            <div class="col" style="width:100%">
          
            <button class="btn-secondary m-2 p-2 rounded-3" onclick="moveSelectedOptions('block_regions', 'able_regions')">Unblock</button>            
          </div>
        </div>
      </div>

  </div>

  
</div>
<!-- Show Broadcast to gender-->

<div class="row d-flex ml-5">
  <div class="col-2">

    <div class="row gap-4">
      <div class="col-12">
        <label for="block_regions">Show Broadcast to:</label>
      </div>
      <div class="col-12">
        
        <div class="row gap-4">
      <div class="col">
        <label for="block_regions">Male</label>
        <input class="" type="checkbox">
    </div>
      <div class="col">
        <label for="block_regions">Female</label>
        <input class="" type="checkbox">
    </div>
      <div class="col">
        <label for="block_regions">Couples</label>
        <input class="" type="checkbox">
    </div>
      <div class="col">
        <label for="block_regions">Trans</label>
        <input class="" type="checkbox">
    </div>

  </div>

  </div>

  </div>
</div>


    </div>
  </div>
  </body>
  
  <script>
    var options = {
      keys: ['textContent'], // Property to search in
  };
  var listDiv = document.querySelector('.list');
  var fuse = new Fuse(listDiv.children, options);

  // Search function
  var searchInput = document.getElementById('search-input');
  searchInput.addEventListener('input', function() {
      var query = this.value;
      var result = fuse.search(query);

      // Hide/show elements based on search results
      for (var i = 0; i < listDiv.children.length; i++) {
          var div = listDiv.children[i];
          if (result.includes(div)) {
              div.style.display = 'block';
          } else {
              div.style.display = 'none';
          }
      }
  });
  
/*
    let block_countries = document.getElementById('block_countries');
    let block_regions = document.getElementById('block_regions');


    const block_countriesSocket = new WebSocket(
      'ws://' + window.location.host + `/ws/block_countries/${room_id}/`
  );
  block_countriesSocket.onopen = function(e) {


      console.log("socket open")
      
      // Send a trigger message to the server
      block_countriesSocket.send(JSON.stringify({
          action: ''
      }));
  };
  
  block_countriesSocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      const visitors = data.user_visitors;
      const objectValuesArray = Object.values(visitors);
      console.log(objectValuesArray.length)
      console.log(visitors)
      num_of_visitors.textContent = objectValuesArray.length
      

      for(var i=0; i < objectValuesArray.length; i++)
      {

      }
  };
*/


    document.querySelectorAll('.custom-select .option').forEach((option) => {
      option.addEventListener('click', function () {
        this.classList.toggle('selected');
      });
    });
    
    function moveSelectedOptions(fromSelectId, toSelectId) {
      const fromSelect = document.getElementById(fromSelectId);
      const toSelect = document.getElementById(toSelectId);
    
      const selectedOptions = Array.from(fromSelect.getElementsByClassName('selected'));
    
      selectedOptions.forEach((option) => {
        option.classList.remove('selected');
        fromSelect.removeChild(option);
        toSelect.appendChild(option);
      });
    }



    
  </script>
</html>