<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">


    <style>
      .custom-select {
        border: 1px solid #ccc;
        padding: 5px;
        cursor: pointer;
        max-height: 200px;
        overflow-y: auto;
      }
      
      .option {
        padding: 5px;
      }
      
      .option:hover {
        background-color: #f0f0f0;
      }
      
      .option.selected {
        background-color: yellow;
      }
      
      
    </style>
  </head>
  <body>

    <div class="container-fluid">

    
      <!-- Personal Data -->
      <div class="row gap-2">
        <div class="row">
        <div class="col-2">
          <span class="display-4">
            Personal Data
          </span>
        </div>
      </div>


      <!-- Email Address-->
      <div class="row gap-4">
        <div class="row">
        <div class="col-2">
          <span class="h-4">
            Email Address
          </span>
        </div>
        <div class="col-2">
          <label for="email" class="h-4"></label>
          <input class="" id="email">
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <span class="h-4">
            I am:*
          </span>
        </div>
        <div class="col-2">
          <label for="email" class="h-4"></label>
          <select name="gender" id="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Trans">Transgender</option>
            <option value="Couple">Couple</option>
          </select>
        </div>
      </div>
    </div>

    </div>

      <!--BLOCK COUNTRY -->

      <div class="row gap-2 mt-2" style="height: 300px">
        <div class="col-2">

          <span class="">Block access to users in these countries:</span>

      


      </div>



      
        <div class="col-2">

          <div class="row">

            

            <div class="" style="height:100%">
          <label for="able_countries">Able to view:</label>
            <div id="able_countries" style="height:100%" class="custom-select">
              <input id="search-input-countries" type="text" placeholder="Search for a country">

              {% for country in filtered_countries %}
                  <div class="option" data-value="{{ country.name }}">{{ country.name }}</div>
              {% endfor %}
            </div>

            <div class="col" style="width:100%">
            
              <button class="m-2 p-2 btn-danger rounded-3" onclick="moveSelectedOptions('able_countries', 'block_countries')">Block</button>
            
            </div>

         </div>

          </div>

          </div>

               <div class="col-2">

          <div class="row">
            
          <div class="">

            <label for="block_countries">Blocked country:</label>
            <div id="block_countries" style="height:300px" class="custom-select">
              {% for country in room_data_blocked_countries %}
                  <div class="option" data-value="{{ country.Country }}">{{ country.Country }}</div>
              {% endfor %}
            </div>

            <div class="col" style="width:100%">
          
            <button class="btn-secondary m-2 p-2 rounded-3" onclick="moveSelectedOptions('block_countries', 'able_countries')">Unblock</button>            
          </div>
        </div>
          </div>

          </div>


    </div>



    <!-- BLOCK REGIONS-->

          <div class="row">
        <div class="col-2">

          <span class="">Block access to users in these regions:</span>

      


      </div>



      
        <div class="col-2">

          <div class="row">

            

            <div class="">
          <label for="able_regions">Able to view:</label>
            <div id="able_regions" style="height:300px" class="custom-select">
              <input id="search-input" type="text" placeholder="Search for a region">
              {% for region in regions %}
                  <div class="option" data-value="{{ region.name }}">{{ region.name }}</div>
              {% endfor %}
            </div>

            <div class="col" style="width:100%">
            
              <button class="m-2 p-2 btn-danger rounded-3"  onclick="moveSelectedOptions('able_regions', 'block_regions')">Block</button>
            
            </div>

         </div>

          </div>

          </div>

        <div class="col-2">

          <div class="row">
            
          <div class="">

            <label for="block_regions">Block regions:</label>
            <div id="block_regions" style="height:300px" class="custom-select">

            </div>

            <div class="col" style="width:100%">
          
            <button class="btn-secondary m-2 p-2 rounded-3" onclick="moveSelectedOptions('block_regions', 'able_regions')">Unblock</button>            
          </div>
        </div>
      </div>

  </div>

  
</div>
<!-- Show Broadcast to gender-->

<div class="d-flex ml-5 mt-4">
      <div class="col-2">
        <label for="block_regions">Show Broadcast to:</label>
      </div>

      <div class="col-12">
        
        <div class="row">
      <div class="col-1">
        <label for="block_regions">Male</label>
        <input class="" type="checkbox">
    </div>
      <div class="col-1">
        <label for="block_regions">Female</label>
        <input class="" type="checkbox">
    </div>
      <div class="col-1">
        <label for="block_regions">Couples</label>
        <input class="" type="checkbox">
    </div>
      <div class="col-1">
        <label for="block_regions">Trans</label>
        <input class="" type="checkbox">
    </div>

  </div>

  </div>





    </div>
  </div>

  <div id="room_id">
    {{room_data.User.id}}
  </div>
  </body>
  
  <script>

  

    const blockCountriesDiv = document.getElementById("block_countries");
    const blockRegionsDiv  = document.getElementById('block_regions');

    const prtcl = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
    // Construct the WebSocket URL
    const roomid = document.getElementById('room_id').innerHTML;
    const socketURL = `${prtcl}//${window.location.host}/ws/blocking/${ {{room_data.User.id}}}/`;
    
    // Create the WebSocket connection
    const block_countriesSocket = new WebSocket(socketURL);


    block_countriesSocket.onopen = function(e) {


      console.log("socket open")
      
      // Send a trigger message to the server

      const observer = new MutationObserver((mutationsList, observer) => {
        for (const mutation of mutationsList) {
            if (mutation.type === "childList" && mutation.addedNodes.length > 0) {
                // Get the added node(s)
                const addedNodes = mutation.addedNodes;
                
                // Loop through the added nodes
                for (const addedNode of addedNodes) {
                    // Check if the added node is an element
                    if (addedNode.nodeType === Node.ELEMENT_NODE) {
                        // Get the data-value attribute
                        const dataValue = addedNode.getAttribute("data-value");
                        let parentDiv = addedNode.parentNode;
                        while (parentDiv && parentDiv.tagName !== "DIV") {
                            parentDiv = parentDiv.parentNode;
                        }
                        // Trigger your event or execute your code with dataValue
                        
    
                        if (parentDiv.getAttribute("id") == "block_countries")
                        {
                          console.log(dataValue);
                          block_countriesSocket.send(JSON.stringify({
                            room_id: room_id,
                            type: "add_block",
                            country: dataValue,
                            action: parentDiv.getAttribute("id"),
                          })); 
                     
                        }
                        else{
                        
                          block_countriesSocket.send(JSON.stringify({
                            room_id: room_id,
                            type: "add_block",
                            action: parentDiv.getAttribute("id"),
                            region: dataValue,
                          }));
                        }
                    }
                }
            }
    
                        // Handle removed nodes
                        if (mutation.removedNodes.length > 0) {
                          // Loop through the removed nodes
                          for (const removedNode of mutation.removedNodes) {
                              if (removedNode.nodeType === Node.ELEMENT_NODE) {
                                  // Get the data-value attribute
                                  const dataValue = removedNode.getAttribute("data-value");
                                  let parentDiv = removedNode.parentNode;
                                  while (parentDiv && parentDiv.tagName !== "DIV") {
                                      parentDiv = parentDiv.parentNode;
                                  }
                                  // Handle WebSocket message or other actions for removed nodes
                                  // ...
                                  console.log(dataValue)
    
                                  if (parentDiv.getAttribute("id") == "block_countries")
                                  {
    
                                    block_countriesSocket.send(JSON.stringify({
                                      room_id: room_id,
                                      type: "remove_block",
                                      action: parentDiv.getAttribute("id"),
                                      country: dataValue,
                                    }));
                                  }
                                  if (parentDiv.getAttribute("id") == "block_region")
                                  {
    
                                    block_countriesSocket.send(JSON.stringify({
                                      room_id: room_id,
                                      type: "remove_block",
                                      action: parentDiv.getAttribute("id"),
                                      region: dataValue,
                                    }));
                                  }
                              }
                          }
                      }
        }
    });
    
    observer.observe(blockCountriesDiv, { childList: true });
    observer.observe(blockRegionsDiv, { childList: true });
  };
  
  block_countriesSocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      /*
      const visitors = data.user_visitors;
      const objectValuesArray = Object.values(visitors);
      console.log(objectValuesArray.length)
      console.log(visitors)
      num_of_visitors.textContent = objectValuesArray.length
      

      for(var i=0; i < objectValuesArray.length; i++)
      {

      }
      */
      console.log(data)
  };





    document.querySelectorAll('.custom-select .option').forEach((option) => {
      option.addEventListener('click', function () {
        this.classList.toggle('selected');
      });
    });
    
    function moveSelectedOptions(fromSelectId, toSelectId) {
      const fromSelect = document.getElementById(fromSelectId);
      const toSelect = document.getElementById(toSelectId);
    
      const selectedOptions = Array.from(fromSelect.getElementsByClassName('selected'));
    
      selectedOptions.forEach((option) => {
        option.classList.remove('selected');
        fromSelect.removeChild(option);
        toSelect.appendChild(option);
      });
    }



    
  </script>
</html>