{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">


    <style>
      .custom-select {
        border: 1px solid #ccc;
        padding: 5px;
        cursor: pointer;
        max-height: 200px;
        overflow-y: auto;
      }
      
      .option {
        padding: 5px;
      }
      
      .option:hover {
        background-color: #f0f0f0;
      }
      
      .option.selected {
        background-color: yellow;
      }
      
      
    </style>
  </head>
  <body>

    <div class="container-fluid">

      <!-- Security -->
      <div class="row gap-2">
        <div class="row">

          <span class="display-4">
            Settings and Privacy
          </span>
       
      </div>
        <div class="row">

          <span class="h-5">
            <a href="" data-toggle="modal" data-target="#changePasswordModal">Change your password</a>
          </span>
       
      </div>
    </div>

      <!-- Personal Data -->
      <div class="row gap-2 mt-5">
        <div class="row">
        <div class="col-lg-2 col-sm-6">
          <span class="display-4">
            Personal Data
          </span>
        </div>
      </div>
    </div>


      <!-- Email Address-->
      <div class="row gap-4">
        <div class="row">
        <div class="col-lg-2 col-sm-6">
          <span class="h-4">
           
            Email Address
            
          </span>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="row">
            <span class="">{{room_data.User.email}}</span>
          </div>
          <div class="row">
            <span class="">Email Status</span>
          </div>
          <div class="row">
            <span class=""><a href="" data-toggle="modal" data-target="#changeEmailModal">change email address</a></span>
          </div>
        </div>
      </div>


    </div>

    </div>



     <!--Broadcaster Settings-->
     <div class="container-fluid row gap-2 my-5">
      <span class="display-4">
        Broadcaster Settings
      </span>

      <div class="col-lg-2 col-sm-6 gap-2">
        <div class="row my-5">
          List my cam on the homepage:
        </div>
        <div class="row my-5">
          Show my cam to these genders:*
        </div>

        
      </div>
      <div class="col-lg-2 col-sm-6">
        <div class="row my-5">
          <select class="">
            <option class="" value="Yes">Yes</option>
            <option class="" value="no">No</option>
          </select>
        </div>
        <div class="row gap-5">
          <div class="col-lg-2 col-sm-6">
            <label for="block_regions">Male</label>
            <input class="" type="checkbox">
        </div>
          <div class="col-lg-2 col-sm-6">
            <label for="block_regions">Female</label>
            <input class="" type="checkbox">
        </div>
          <div class="col-lg-2 col-sm-6">
            <label for="block_regions">Couples</label>
            <input class="" type="checkbox">
        </div>
          <div class="col-lg-2 col-sm-6">
            <label for="block_regions">Trans</label>
            <input class="" type="checkbox">
        </div>
        </div>

        
      </div>



  </div>

      <!--BLOCK COUNTRY -->

      <div class="row gap-2 my-5" style="height: 300px">
        <div class="col-lg-2 col-sm-6">

          <span class="">Block access to users in these countries:</span>

      </div>



      
        <div class="col-lg-2 col-sm-6">

          <div class="row">

            

            <div class="" style="height:100%">
          <label for="able_countries">Able to view:</label>
          <input id="search-input-countries" type="text" placeholder="Search for a country">
            <div id="able_countries" style="height:100%" class="custom-select">

              {% for country in filtered_countries %}
                  <div class="option" data-value="{{ country.name }}">{{ country.name }}</div>
              {% endfor %}
            </div>

            <div class="col" style="width:100%">
            
              <button class="m-2 p-2 btn-danger rounded-3" onclick="moveSelectedOptions('able_countries', 'block_countries')">Block</button>
            
            </div>

         </div>

          </div>

          </div>

               <div class="col-lg-2 col-sm-6">

          <div class="row">
            
          <div class="">

            <label for="block_countries">Blocked country:</label>
            <div id="block_countries" style="height:300px" class="custom-select">
              {% for country in room_data_blocked_countries %}
                  <div class="option" data-value="{{ country.Country }}">{{ country.Country }}</div>
              {% endfor %}
            </div>

            <div class="col" style="width:100%">
          
            <button class="btn-secondary m-2 p-2 rounded-3" onclick="moveSelectedOptions('block_countries', 'able_countries')">Unblock</button>            
          </div>
        </div>
          </div>

          </div>


    </div>



    <!-- BLOCK REGIONS-->

          <div class="row my-5">
        <div class="col-lg-2 col-sm-6">

          <span class="">Block access to users in these regions:</span>

      


      </div>



      
        <div class="col-lg-2 col-sm-6">

          <div class="row">

            

            <div class="">
          <label for="able_regions">Able to view:</label>
          <input id="search-input-regions" type="text" placeholder="Search for a region">
            <div id="able_regions" style="height:300px" class="custom-select">
              {% for region in filtered_regions %}
                  <div class="option" data-value="{{ region.name }}">{{ region.name }}</div>
              {% endfor %}
            </div>

            <div class="col" style="width:100%">
            
              <button class="m-2 p-2 btn-danger rounded-3"  onclick="moveSelectedOptions('able_regions', 'block_regions')">Block</button>
            
            </div>

         </div>

          </div>

          </div>

        <div class="col-lg-2 col-sm-6">

          <div class="row">
            
          <div class="">

            <label for="block_regions">Block regions:</label>
            <div id="block_regions" style="height:300px" class="custom-select">
              {% for region in room_data_blocked_regions %}
              <div class="option" data-value="{{ region.Region }}">{{ region.Region }}</div>
              {% endfor %}
            </div>

            <div class="col" style="width:100%">
          
            <button class="btn-secondary m-2 p-2 rounded-3" onclick="moveSelectedOptions('block_regions', 'able_regions')">Unblock</button>            
          </div>
        </div>
      </div>

  </div>

  
</div>
<!-- Show Broadcast to gender-->


  <div class="d-none" id="room_id">
    {{room_data.User.id}}
  </div>



  <!-- Modal for changing password -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="fs-1" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" class="container" action="{% url 'changepassword' %}">
          {% csrf_token %}
          
          <div class="col-8 m-auto mb-4">
            <div class="row">
              <label for="old_password">New Password</label>
              <input type="password" name="password1" class="form-control" id="pass1">
            </div>
            <div class="row">
              <label for="old_password">Retype Password</label>
              <input type="password" name="password2" class="form-control" id="pass2">
            </div>
          </div>
          <div class"row p-auto">
            <button class="btn btn-dark" type="submit">Change Password</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
         
        </form>
        

      </div>

    </div>
  </div>
</div>



  <!-- Modal for changing Email -->
  <div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Change Email</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="fs-1" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'change_email' %}">
            {% csrf_token %}
            
            <div class="col-8 m-auto mb-4">
              <div class="row">
                <label for="">New Email</label>
                <input class="form-control" name="email" id="useremail">
                <div class"col-8 m-auto">
                <button class="btn btn-dark mt-4" type="submit">Change Email</button>
                <button type="button" class="btn btn-secondary mt-4" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
      

   
           
          </form>
        </div>
  
      </div>
    </div>
  </div>


  </body>
  



  <script src="{% static 'js/user_and_broadcaster.js' %}"></script>

  <script>

    const blockCountriesDiv = document.getElementById("block_countries");
    const blockRegionsDiv  = document.getElementById('block_regions');

    const prtcl = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
    // Construct the WebSocket URL
    const roomid = document.getElementById('room_id').innerHTML;
    const socketURL = `${prtcl}//${window.location.host}/ws/blocking/${ {{room_data.User.id}}}/`;
    
    // Create the WebSocket connection
    const block_countriesSocket = new WebSocket(socketURL);


    block_countriesSocket.onopen = function(e) {


      console.log("socket open")
      
      // Send a trigger message to the server

      const observer = new MutationObserver((mutationsList, observer) => {
        for (const mutation of mutationsList) {
            if (mutation.type === "childList" && mutation.addedNodes.length > 0) {
                // Get the added node(s)
                const addedNodes = mutation.addedNodes;
                
                // Loop through the added nodes
                for (const addedNode of addedNodes) {
                    // Check if the added node is an element
                    if (addedNode.nodeType === Node.ELEMENT_NODE) {
                        // Get the data-value attribute
                        const dataValue = addedNode.getAttribute("data-value");
                        let parentDiv = addedNode.parentNode;
                        while (parentDiv && parentDiv.tagName !== "DIV") {
                            parentDiv = parentDiv.parentNode;
                        }
                        // Trigger your event or execute your code with dataValue
                        
    
                        if (parentDiv.getAttribute("id") == "block_countries")
                        {
                          console.log(dataValue);
                          block_countriesSocket.send(JSON.stringify({
                            room_id: room_id,
                            type: "add_block",
                            country: dataValue,
                            action: parentDiv.getAttribute("id"),
                          })); 
                     
                        }
                        else{
                        
                          block_countriesSocket.send(JSON.stringify({
                            room_id: room_id,
                            type: "add_block",
                            action: parentDiv.getAttribute("id"),
                            region: dataValue,
                          }));
                        }
                    }
                }
            }
    
                        // Handle removed nodes
                        if (mutation.removedNodes.length > 0) {
                          // Loop through the removed nodes
                          for (const removedNode of mutation.removedNodes) {
                              if (removedNode.nodeType === Node.ELEMENT_NODE) {
                                  // Get the data-value attribute
                                  const dataValue = removedNode.getAttribute("data-value");
                                  let parentDiv = removedNode.parentNode;
                                  while (parentDiv && parentDiv.tagName !== "DIV") {
                                      parentDiv = parentDiv.parentNode;
                                  }
                                  // Handle WebSocket message or other actions for removed nodes
                                  // ...
                                  
    
                                  if (parentDiv.getAttribute("id") == "able_countries")
                                  {
    
                                    block_countriesSocket.send(JSON.stringify({
                                      room_id: room_id,
                                      type: "remove_block",
                                      action: parentDiv.getAttribute("id"),
                                      country: dataValue,
                                    }));
                                    console.log(parentDiv.getAttribute("id"))
                                    
                                  }
                                  if (parentDiv.getAttribute("id") == "able_regions")
                                  {
    
                                    block_countriesSocket.send(JSON.stringify({
                                      room_id: room_id,
                                      type: "remove_block",
                                      action: parentDiv.getAttribute("id"),
                                      region: dataValue,
                                    }));
                                    console.log(parentDiv.getAttribute("id"))
                                  }
                              }
                          }
                      }
        }
    });
    
    observer.observe(blockCountriesDiv, { childList: true });
    observer.observe(blockRegionsDiv, { childList: true });
  };
  
  block_countriesSocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      /*
      const visitors = data.user_visitors;
      const objectValuesArray = Object.values(visitors);
      console.log(objectValuesArray.length)
      console.log(visitors)
      num_of_visitors.textContent = objectValuesArray.length
      

      for(var i=0; i < objectValuesArray.length; i++)
      {

      }
      */
      console.log(data)
  };



function region_country_selection_event() {

    document.querySelectorAll('.custom-select .option').forEach((option) => {
      option.addEventListener('click', function () {
        this.classList.toggle('selected');
      });
    });

  }
    
    function moveSelectedOptions(fromSelectId, toSelectId) {
      const fromSelect = document.getElementById(fromSelectId);
      const toSelect = document.getElementById(toSelectId);
    
      const selectedOptions = Array.from(fromSelect.getElementsByClassName('selected'));
    
      selectedOptions.forEach((option) => {
        option.classList.remove('selected');
        fromSelect.removeChild(option);
        toSelect.appendChild(option);
      });
    }



 

  region_country_selection_event();

    // Ajax for searching countries
    var currentSearch = "";  // To keep track of the current search input
    var displayedOptions = [];

    $("#search-input-countries").on("input", function() {
      var userInput = $(this).val();
      
      if (userInput === currentSearch) {
        return;  // If the search input didn't change, no need to update
    }

    currentSearch = userInput; 

      // Make an AJAX request
      $.ajax({
        type: "GET",
        url: "/room/search_countries/",
        data: {
          search: userInput
      },  
        dataType: "json",
        success: function (data) {
          let countries = data.data;
          let countryOptions = "";

          for (var i = 0; i < countries.length; i++) {
              let country = countries[i];
              countryOptions += `<div class="option" data-value="${country.name}">${country.name}</div>`;
              displayedOptions.push(country.name);  // Update the displayed options
          }

          // Update the options only if there's a change in search input
          if (userInput === currentSearch) {
              $("#able_countries").empty().html(countryOptions);
              region_country_selection_event();
              
              function moveSelectedOptions(fromSelectId, toSelectId) {
                const fromSelect = document.getElementById(fromSelectId);
                const toSelect = document.getElementById(toSelectId);
              
                const selectedOptions = Array.from(fromSelect.getElementsByClassName('selected'));
              
                selectedOptions.forEach((option) => {
                  option.classList.remove('selected');
                  fromSelect.removeChild(option);
                  toSelect.appendChild(option);
                });
              }
              
          }
      },
        error: function (errors) {
          console.log(errors.responseText);
        },
  
      });

  });


  //Ajax for searching regions
  var currentSearchRegions = "";  // To keep track of the current search input
  var displayedOptionsRegions = [];


  $("#search-input-regions").on("input", function() {
    var userInput = $(this).val();
    
    if (userInput === currentSearchRegions) {
      return;  // If the search input didn't change, no need to update
  }

  currentSearchRegions = userInput; 


    // Make an AJAX request
    $.ajax({
      type: "GET",
      url: "/room/search_regions/",
      data: {
        search: userInput
    },
      dataType: "json",
      success: function (data) {
        let regions = data.data;
        let regionOptions = "";

        for (var i = 0; i < regions.length; i++) {
            let region = regions[i];
            console.log(region)
            regionOptions += `<div class="option" data-value="${region.display_name}">${region.display_name}</div>`;
            displayedOptionsRegions.push(region.display_name);  // Update the displayed options
        }

        // Update the options only if there's a change in search input
        if (userInput === currentSearchRegions) {
            $("#able_regions").empty().html(regionOptions);

            region_country_selection_event();
              
            function moveSelectedOptions(fromSelectId, toSelectId) {
              const fromSelect = document.getElementById(fromSelectId);
              const toSelect = document.getElementById(toSelectId);
            
              const selectedOptions = Array.from(fromSelect.getElementsByClassName('selected'));
            
              selectedOptions.forEach((option) => {
                option.classList.remove('selected');
                fromSelect.removeChild(option);
                toSelect.appendChild(option);
              });
            }
        }
    },
      error: function (errors) {
        console.log(errors.responseText);
      },

    });

});



    
  </script>
</html>