
{% load static %}

<div id="main" class="chat container-fluid">

    {% if broadcaster_status.Status == "Pending_Broadcaster"%}
    <div ts="n4" id="VideoPanel" style="height: auto; width: 59%; position: relative; overflow: visible; -webkit-tap-highlight-color: transparent;background-color:transparent; display: inline-block; border-radius: 2px; box-sizing: border-box; font-family: UbuntuRegular, Helvetica, Arial, sans-serif; font-size: 11px;border:none;">
        <h1> We are still looking though your Information</h1>
        <p>Please give us at lease 48 hours to make sure your informatino is currect</p>
    </div>

    {% endif %}

    {% if user_status == "Broadcaster" %}

    <div class="chat_room row" style="font: 1em UbuntuRegular, Arial, Helvetica, sans-serif;">
        <div class="topSectionWrapper" style="width: 75%; height: auto; display: block;">
            <div ts="n4" id="VideoPanel" style="height: auto; width: 100%; position: relative; overflow: visible; -webkit-tap-highlight-color: transparent; display: inline-block; border-radius: 6px; box-sizing: border-box; font-family: UbuntuRegular, Helvetica, Arial, sans-serif; font-size: 11px;background-color:#6cc6ba;border:2px solid black;padding:2px;">

                <div style="display: block;">
                    <div class="roomSubject defaultColor" data-testid="room-subject">
                        <span class="RoomSubjectSpan">
                            <span>explosion :
                                
                                {% if room_data.Goal == 0 %}
                                    No goal has been set
                                {% else %}

                                {{room_sesson.Goal_Currrent}} / {{room_data.Goal}}

                                {% endif %}
                            </span>
                        </span>
                    </div>
                    <div class="roomSubjectTooltip roomSubjectToolTipColor" data-testid="room-subject-tooltip" style="width: 500px; visibility: hidden;">Goal reached!</div>
                </div>
                <div ts="j0" id="TheaterModePlayer" data-listener-count-fullscreenchange="1" style="height: 322.312px; width: 100%; position: relative; overflow: hidden; -webkit-tap-highlight-color: transparent; background-color: rgb(0, 0, 0);">
                    <div ts="EQ" class="videoPlayerDiv" style="height: 100%; width: 100%; position: relative; overflow: hidden; -webkit-tap-highlight-color: transparent; background: url({% static './images/bg/cam_notice_bg.jpg' %}) center center / cover rgb(51, 51, 51); left: 0px;">
                        <input style="display:none; border:none; background-color:crimson; box-shadow: 1px 2px 5px rgba(0,0,0,.15);" class="realButtons" id="startStreaming_button" type="submit" value="Start Making Vibez" onclick="if_not_Streamer()"/>
                        
                        {% include "rooms/include/videoPlayerDiv.html" %}
                    </div>
                </div>

                <div class="my-2 col-2">
                    {% if room_data.Is_Active == True %}
                    <button class="btn btn-secondary" onclick="room_offline()">Go offline</button>
                    {% else %}
                    <button class="btn bg-dark p-2 m-2 text-white font-weight-bold" style="font-size:1.7rem;" onclick="room_online()">Go online</button>
                    {% endif %}
                  </div>

            </div>

            <div ts="Zv" data-listener-count-mousedown="1" data-listener-count-touchmove="1" class="resizeHandle" style="height: 425.312px; position: absolute; overflow: hidden; -webkit-tap-highlight-color: transparent; display: inline-block; box-sizing: border-box; cursor: ew-resize;"></div>

            </div>

            
            
            <div ts="x_" class="BaseTabsContainer m-2 mb-5 col-lg" id="ChatTabContainer" style=" width: 25%; position: relative; -webkit-tap-highlight-color: transparent; display:inline-block; font-family: UbuntuRegular, Helvetica, Arial, sans-serif; border-radius: 6px; height:500px;  box-sizing: border-box;border:2px solid black;background-color:#6cc6ba;color:#black;margin-left:20px;">


                <div class="tab-pane fade show active h-100" id="nav-stats" role="tabpanel" aria-labelledby="nav-stats-tab">

                    <div class="msg-list-wrapper-split" data-listener-count-scroll="1" style="box-sizing: border-box; overflow: auto; margin: 0px auto 5px; padding: 5px; height: 100%; line-height: 16pt;">

                        <div class="notice-list-fvm" style="width: 100%; user-select: text; cursor: text;">

                        </div>

                    
                            {% comment %} Chat {% endcomment %}
                            <ul class="nav nav-pills mb-3 col gap-2" id="pills-tab" role="tablist">


                                <li class="nav-item">
                                  <a class="nav-link" id="pills-chat-tab" data-toggle="pill" href="#pills-public-chat" role="tab" aria-controls="pills-chat" aria-selected="true">Chat</a>
                                </li>


                                <li class="nav-item">
                                  <a class="nav-link" id="pills-private-chat-tab" data-toggle="pill" href="#pills-private-chat" role="tab" aria-controls="pills-private-chat" aria-selected="true">Private Chat</a>
                                </li>


                                <li class="nav-item">
                                  <a class="nav-link" id="pills-users-tab" data-toggle="pill" href="#pills-users" role="tab" aria-controls="pills-users" aria-selected="false">Users (<span id="visitors"> </span>)</a>
                                </li>


                                <li class="nav-item">
                                  <a class="nav-link" id="pills-chat-settings-tab" data-toggle="pill" href="#pills-chat-settings" role="tab" aria-controls="pills-chat-settings" aria-selected="false">Chat Settings</a>
                                </li>


                              </ul>
                              


                  
                          <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade h-100" id="pills-public-chat" role="tabpanel" aria-labelledby="pills-chat-tab">
                                {% include "rooms/include/public_chat.html" %}     
                            </div>
                            <div class="tab-pane fade" id="pills-private-chat" role="tabpanel" aria-labelledby="pills-private-chat-tab">
                                {% include "rooms/include/private_chat.html" %}     
                            </div>
                            <div class="tab-pane fade" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab">
                                {% include "rooms/include/users.html" %}     
                            </div>
                            <div class="tab-pane fade" id="pills-chat-settings" role="tabpanel" aria-labelledby="pills-chat-settings-tab">
                                {% include "rooms/include/chat_settings.html" %}     
                            </div>
                        </div>
                          
                        </div>

                                
                    </div>
                </div>


        



        
        
        </div>


        </div>
    </div>



    
    {% endif %}

    <div class="col-12">
            <div ts="x_" class="BaseTabsContainer h-100 m-2" id="ChatTabContainer" style=" width: 100%; position: relative; -webkit-tap-highlight-color: transparent; display:inline-block; font-family: UbuntuRegular, Helvetica, Arial, sans-serif; border-radius: 6px;  box-sizing: border-box;border:2px solid black;background-color:#6cc6ba;color:#black;margin-left:20px;">


                <div class="tab-pane fade show active h-100 w-100" id="nav-stats" role="tabpanel" aria-labelledby="nav-stats-tab">

                    <div class="msg-list-wrapper-split container-fluid" data-listener-count-scroll="1" style="box-sizing: border-box; margin: 0px auto 5px; padding: 5px; height: 100%; line-height: 16pt;">

                        <div class="notice-list-fvm" style="width: 100%; user-select: text; cursor: text;">

                        </div>

                        <ul class="nav nav-pills mb-3 d-flex flex-row gap-2 position-absolute mb-5" id="pills-tab" style="z-index: 1;" role="tablist"> 
                            <li class="nav-item">
                              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Room Stats</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" id="pills-menu-items-tab" data-toggle="pill" href="#pills-menu-items" role="tab" aria-controls="pills-menu-items" aria-selected="true">Menu Items</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" id="pills-room-rules-tab" data-toggle="pill" href="#pills-room-rules" role="tab" aria-controls="pills-room-rules" aria-selected="true">Room Rules</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Slot Machine</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="pills-bio-tab" data-toggle="pill" href="#pills-bio" role="tab" aria-controls="pills-bio" aria-selected="false">Bio</a>
                              </li>

                            <li class="nav-item">
                              <a class="nav-link" id="pills-lovense-toy-tab" data-toggle="pill" href="#pills-lovense-toy" role="tab" aria-controls="pills-lovense" aria-selected="false">Connect Lovense Toy</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" id="pills-settings-privacy-tab" data-toggle="pill" href="#pills-settings-privacy" role="tab" aria-controls="pills-settings-privacy" aria-selected="false">Settings and Privacy</a>
                              </li>
         
                          </ul>
                          <div class="tab-content" style="margin-top:50px" id="pills-tabContent">


                            <div class="tab-pane  show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                {% include 'rooms/include/room_stats.html' %}
                            </div>


                            <div class="tab-pane fade" id="pills-menu-items" role="tabpanel" aria-labelledby="pills-menu-itemsa-tab">
                                {% include 'rooms/include/menu_items.html' %}
                            </div>

                            <div class="tab-pane fade" id="pills-lovense-toy" role="tabpanel" aria-labelledby="pills-lovense-toy">

                                <div class="container align-content-center gap-2">
                                <img class="" id="lovense_qr_code_img"> 
                                <button class="btn btn-dark d-flex m-auto p-3" onclick="generate_lovense_qrcode()" style="font-size:1.5rem;" id="lovense_qrcode_btn"><span class="fs-2 font-weight-bold">Generate Qr Code</span></button>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="pills-room-rules" role="tabpanel" aria-labelledby="pills-room-rules">

                                <div class="container-fluid align-content-center">
                                    <div class="row gap-3">
                                        <div class="col-12">
                                            <h3 class="fs-1 font-weight-bold">Room Rules</h3>
                                        </div>
                                        <div class="col-5">
                                            <textarea class="form-control fs-2" id="room_rules" rows="10" style="resize:none;">{{room_data.Room_Rules}}</textarea>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-dark" onclick="update_room_rules()"><span class="fs-2 font-weight-bold">save</span></button>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="tab-pane fade" id="pills-settings-privacy" role="tabpanel" aria-labelledby="pills-settings-privacy">
                             
                                {% include 'rooms/include/settings.html' %}
                            </div>

                            <div class="tab-pane fade container-fluid justify-content-center" id="pills-bio" role="tabpanel" aria-labelledby="pills-bio">
                             
                                {% include 'rooms/include/bio.html' %}
                            </div>

                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                                {% include 'rooms/include/set_slot_machine.html' %}
                            </div>

                          </div>

                                
                    </div>
                </div>
            </div>
        </div>

</div>

<div ts="Zv" data-listener-count-mousedown="1" data-listener-count-touchmove="1" class="resizeHandle" style="height: 425.312px; width: 8px; position: absolute; overflow: hidden; -webkit-tap-highlight-color: transparent; display: inline-block; box-sizing: border-box; cursor: ew-resize;"></div>

<link rel="stylesheet" href="{% static 'css/multi.css' %}">
<script type="text/javascript" src="{% static 'js/multi.js' %}"></script>

<script>
    var message = document.getElementById('alerts')
    const room_id = {{room_data.User.id}} // Get the room ID from somewhere

    const roomVisitorsSocket = new WebSocket(
        'ws://' + window.location.host + `/ws/user_visitors/${room_id}/`
    );
    roomVisitorsSocket.onopen = function(e) {


        console.log("socket open")
        
        // Send a trigger message to the server
        roomVisitorsSocket.send(JSON.stringify({
            action: 'retrieve_visitors'
        }));
    };
    
    roomVisitorsSocket.onmessage = function(e) {
        let num_of_visitors = document.getElementById('visitors')
        let visitors_list = document.getElementById('visitor_list')
        const data = JSON.parse(e.data);
        const visitors = data.user_visitors;
        const item_availed = data.item_availed;
        console.log(item_availed)
        if (visitors)
        {
            
        const objectValuesArray = Object.values(visitors);
        console.log(objectValuesArray.length)
        console.log(visitors)
        num_of_visitors.textContent = objectValuesArray.length
        

        for(var i=0; i < objectValuesArray.length; i++)
        {
            let visitor = objectValuesArray[i]
            let visitor_list_item = document.createElement('li')
            visitor_list_item.textContent = visitor.username
            visitor_list_item.classList.add('list-group-item')
            visitor_list_item.style.width = 'max-content'
            visitor_list_item.style.border = 'transparent'
            visitor_list_item.style.background ='transparent'
            visitors_list.appendChild(visitor_list_item)
        }
    }


        if(item_availed)
        {
            let user = "";
            let wrapper = document.createElement('div');
            Object.keys(item_availed).forEach(function(key) {
                var value = item_availed[key];
                console.log(key + ": " + value);
                
                let item_list_item = document.createElement('span')
                let user = document.createElement('span');
                let price = document.createElement('span');
                wrapper.classList.add('row');
                user.classList.add('list-group-item')
                item_list_item.classList.add('list-group-item');
                price.classList.add('list-group-item');
            
                if (key === "user") {

                    user.textContent = value;
                    user.style.color = "purple";
                    user.style.width = "max-content";
                    user.style.border = "transparent";
                    user.style.background = "transparent";
                    wrapper.appendChild(user);
            
                } else if (key === "item") {
                    item_list_item.textContent = value;
                    item_list_item.style.color = "purple";
                    item_list_item.style.width = "max-content";
                    item_list_item.style.border = "transparent";
                    item_list_item.style.background = "transparent";
                    wrapper.appendChild(item_list_item);
                }
                else if (key === "price") {
                    price.textContent = value + " vibez!";
                    price.style.color = "purple";
                    price.style.width = "max-content";
                    price.style.border = "transparent";
                    price.style.background = "transparent";
                    wrapper.appendChild(price);
                }
            });
            visitors_list.appendChild(wrapper);

            }


    };



    function generate_lovense_qrcode(){
        $.ajax({
            method:'POST',
            url: "lovense/generate_broadcaster_qrcode/",
            data: {
                'csrfmiddlewaretoken':"{{csrf_token}}",
            },
            success:function(data)
            {
                console.log(data.data.qr)
                const qrCodeImg = document.getElementById('lovense_qr_code_img');
                qrCodeImg.src = data.data.qr;
                qrCodeImg.style.display = 'block'; //
            },
            errors:function(errors){
                console.log(errors.responseText)
            }
        })
    }


    function update_room_rules()
    {
        
        $.ajax({
            method: 'POST',
            url: "update_room_rules/",
            data: {
    
                'room_rules':document.getElementById('room_rules').value,
                'csrfmiddlewaretoken':"{{csrf_token}}",
            },
            success:function(data)
            {
                var message = data.data;

                successToast(message);

            },
            errors:function(errors){
                console.log(errors.responseText)

                var message = "Something went wrong."

                errorToast(message);
            }
        })
    }





</script>