
{% load static %}

<div id="main" class="chat container-fluid">

    {% if broadcaster_status.Status == "Pending_Broadcaster"%}
    <div ts="n4" id="VideoPanel" style="height: auto; width: 59%; position: relative; overflow: visible; -webkit-tap-highlight-color: transparent;background-color:transparent; display: inline-block; border-radius: 2px; box-sizing: border-box; font-family: UbuntuRegular, Helvetica, Arial, sans-serif; font-size: 11px;border:none;">
        <h1> We are still looking though your Information</h1>
        <p>Please give us at lease 48 hours to make sure your informatino is currect</p>
    </div>

    {% endif %}

    {% if user_status == "Broadcaster" %}

    <div class="chat_room row justify-content-center" style="font: 1em UbuntuRegular, Arial, Helvetica, sans-serif;">
        <div class="topSectionWrapper container-fluid" style=" display: block;">

            
            <div class="videoplayer" ts="n4" id="" style="width:45%; position: relative; overflow: visible; -webkit-tap-highlight-color: transparent; display: inline-block; border-radius: 6px; box-sizing: border-box; font-family: UbuntuRegular, Helvetica, Arial, sans-serif; font-size: 11px;background-color:#6cc6ba;border:2px solid black;padding:2px;">

                <div style="display: block;">
                    <div class="roomSubject defaultColor" data-testid="room-subject">
                        <span class="RoomSubjectSpan">
                            <span>explosion :
                                
                                {% if room_data.Goal == 0 %}
                                    No goal has been set
                                {% else %}

                                {{room_sesson.Goal_Currrent}} / {{room_data.Goal}}

                                {% endif %}
                            </span>
                        </span>
                    </div>
                    <div class="roomSubjectTooltip roomSubjectToolTipColor" data-testid="room-subject-tooltip" style="width: 500px; visibility: hidden;">Goal reached!</div>
                </div>
                <div ts="j0" id="TheaterModePlayer" data-listener-count-fullscreenchange="1" style="height: 322.312px; width: 100%; position: relative; overflow: hidden; -webkit-tap-highlight-color: transparent; background-color: rgb(0, 0, 0);">
                    <div ts="EQ" class="videoPlayerDiv" style="height: 100%; width: 100%; position: relative; overflow: hidden; -webkit-tap-highlight-color: transparent; background: url({% static './images/bg/cam_notice_bg.jpg' %}) center center / cover rgb(51, 51, 51); left: 0px;">
                        <input style="display:none; border:none; background-color:crimson; box-shadow: 1px 2px 5px rgba(0,0,0,.15);" class="realButtons" id="startStreaming_button" type="submit" value="Start Making Vibez" onclick="if_not_Streamer()"/>
                        
                        {% include "rooms/include/videoPlayerDiv.html" %}
                    </div>
                </div>

                <div class="my-2 col-2">
                    {% if room_data.Is_Active == True %}
                    <button class="btn btn-secondary" onclick="room_offline()">Go offline</button>
                    {% else %}
                    <button class="btn bg-dark p-2 m-2 text-white font-weight-bold" style="font-size:1.7rem;" onclick="room_online()">Go online</button>
                    {% endif %}
                  </div>

            </div>

            <div ts="Zv" data-listener-count-mousedown="1" data-listener-count-touchmove="1" class="resizeHandle" style="height: 425.312px; position: absolute; overflow: hidden; -webkit-tap-highlight-color: transparent; display: inline-block; box-sizing: border-box; cursor: ew-resize;"></div>

            </div>

            
            
            <div ts="x_" class="BaseTabsContainer broadcaster-chat-wrapper position-absolute d-inline-block end-0 mb-5 m-auto" id="ChatTabContainer" style=" width: 53%; -webkit-tap-highlight-color: transparent; font-family: UbuntuRegular, Helvetica, Arial, sans-serif; border-radius: 6px; height:500px;  box-sizing: border-box;border:2px solid black;background-color:#6cc6ba;color:#black;margin-left:20px;">


                <div class="tab-pane fade show active h-100" id="nav-stats" role="tabpanel" aria-labelledby="nav-stats-tab">

                    <div class="msg-list-wrapper-split" data-listener-count-scroll="1" style="box-sizing: border-box; overflow: auto; margin: 0px auto 5px; padding: 5px; height: 100%; line-height: 16pt;">

                    
                            {% comment %} Chat {% endcomment %}
                    
                    <div class="row top-25 position-absolute" style="z-index:1000">
                            <ul class="nav nav-pills mb-3 col gap-2" id="pills-tab" role="tablist">


                                <li class="nav-item">
                                  <a class="nav-link" id="pills-chat-tab" data-toggle="pill" href="#pills-public-chat" role="tab" aria-controls="pills-chat" aria-selected="false">Chat</a>
                                </li>


                                <li class="nav-item">
                                  <a class="nav-link" id="pills-private-chat-tab" data-toggle="pill" href="#pills-private-chat" role="tab" aria-controls="pills-private-chat" aria-selected="false">Private Chat</a>
                                </li>


                                <li class="nav-item">
                                  <a class="nav-link" id="pills-users-tab" data-toggle="pill" href="#pills-users" role="tab" aria-controls="pills-users" aria-selected="false">Users (<span id="visitors"> </span>)</a>
                                </li>


                                <li class="nav-item">
                                  <a class="nav-link" id="pills-chat-settings-tab" data-toggle="pill" href="#pills-chat-settings" role="tab" aria-controls="pills-chat-settings" aria-selected="false">Chat Settings</a>
                                </li>

                                <li class="nav-item">
                                  <a class="nav-link" id="pills-followers-tab" data-toggle="pill" href="#pills-followers" role="tab" aria-controls="pills-followers" aria-selected="false">Followers</a>
                                </li>


                              </ul>
                              
                            </div>


                  
                        <div class="tab-content mt-5" style="width:100% !important;" id="pills-tabContent">
                            <div class="tab-pane fade h-100 pt-2" id="pills-public-chat" role="tabpanel" aria-labelledby="pills-chat-tab">
                                {% include "rooms/include/public_chat.html" %}     
                            </div>
                            <div class="tab-pane fade" id="pills-private-chat" role="tabpanel" aria-labelledby="pills-private-chat-tab">
                                {% include "rooms/include/private_chat.html" %}     
                            </div>
                            <div class="tab-pane fade position-relative" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab">
                                {% include "rooms/include/users.html" %}     
                            </div>
                            <div class="tab-pane fade pt-2" id="pills-chat-settings" role="tabpanel" aria-labelledby="pills-chat-settings-tab">
                                {% include "rooms/include/chat_settings.html" %}     
                            </div>

                            <div class="tab-pane fade pt-2" id="pills-followers" role="tabpanel" aria-labelledby="pills-followers-tab">
                                {% include "rooms/include/followers.html" %}     
                            </div>



                        </div>
                          
                        </div>

                                
                    </div>
                </div>


        



        
        
        </div>


        </div>
    </div>



    
    {% endif %}

    <div class="col-12">
            <div ts="x_" class="BaseTabsContainer h-100 m-2" id="ChatTabContainer" style=" width: 100%; position: relative; -webkit-tap-highlight-color: transparent; display:inline-block; font-family: UbuntuRegular, Helvetica, Arial, sans-serif; border-radius: 6px;  box-sizing: border-box;border:2px solid black;background-color:#6cc6ba;color:#black;margin-left:20px;">


                <div class="tab-pane fade show active h-100 w-100" id="nav-stats" role="tabpanel" aria-labelledby="nav-stats-tab">

                    <div class="msg-list-wrapper-split container-fluid" data-listener-count-scroll="1" style="box-sizing: border-box; margin: 0px auto 5px; padding: 5px; height: 100%; line-height: 16pt;">


                        <ul class="nav nav-pills mb-3 d-flex flex-row gap-2 position-absolute mb-5" id="pills-tab" style="z-index: 1;" role="tablist"> 
                            <li class="nav-item">
                              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Room Stats</a>
                            </li>


                            <li class="nav-item">
                              <a class="nav-link" id="pills-interactives-tab" data-toggle="pill" href="#pills-interactives-items" role="tab" aria-controls="pills-interactives-items" aria-selected="true">Interactives</a>
                            </li>
                            

                            <li class="nav-item">
                              <a class="nav-link" style="   " id="pills-room-rules-tab" data-toggle="pill" href="#pills-room-rules" role="tab" aria-controls="pills-room-rules" aria-selected="true">Room Rules</a>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link" id="pills-bio-tab" data-toggle="pill" href="#pills-bio" role="tab" aria-controls="pills-bio" aria-selected="false">Bio</a>
                              </li>

                            <li class="nav-item">
                              <a class="nav-link" id="pills-lovense-toy-tab" data-toggle="pill" href="#pills-lovense-toy" role="tab" aria-controls="pills-lovense" aria-selected="false">Connect Lovense Toy</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" id="pills-settings-privacy-tab" data-toggle="pill" href="#pills-settings-privacy" role="tab" aria-controls="pills-settings-privacy" aria-selected="false">Settings and Privacy</a>
                            </li>
         
                          </ul>



                          <div class="tab-content" style="margin-top:80px; width:100% !important;" id="pills-tabContent">


                            <div class="tab-pane  show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                {% include 'rooms/include/room_stats.html' %}
                            </div>


                            <div class="tab-pane fade" id="pills-menu-items" role="tabpanel" aria-labelledby="pills-menu-itemsa-tab">
                                {% include 'rooms/include/menu_items.html' %}
                            </div>


                            <div class="tab-pane fade" id="pills-interactives-items" role="tabpanel" aria-labelledby="pills-interactives-items-tab">
                                {% include 'rooms/include/interactives.html' %}
                            </div>


                            <div class="tab-pane fade" id="pills-dice-items" role="tabpanel" aria-labelledby="pills-dice-items-tab">
                                {% include 'rooms/include/set_dice_prize.html' %}
                            </div>

                            <div class="tab-pane fade" id="pills-games" role="tabpanel" aria-labelledby="pills-games-tab">
                                   
                            </div>
                            
                            <div class="tab-pane fade" id="pills-lovense-toy" role="tabpanel" aria-labelledby="pills-lovense-toy">
                                
                                {% include "rooms/include/lovense.html" %}

                            </div>

                            <div class="tab-pane fade" id="pills-room-rules" role="tabpanel" aria-labelledby="pills-room-rules">

                                <div class="container-fluid align-content-center">
                                    <div class="row gap-3">
                                        <div class="col-12">
                                            <h3 class="fs-1 font-weight-bold">Room Rules</h3>
                                        </div>
                                        <div class="col-lg-5 col-sm-9">
                                            <textarea class="form-control fs-2" id="room_rules" rows="10" style="resize:none;">{{room_data.Room_Rules}}</textarea>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-dark" onclick="update_room_rules()"><span class="fs-2 font-weight-bold">save</span></button>
                                        </div>
                                    </div>
                                    <div class="row gap-3 mt-5">
                                        <div class="col-12">
                                            <h3 class="fs-1 font-weight-bold">Room Description</h3>
                                        </div>
                                        <div class="col-lg-5 col-sm-9">
                                            <textarea class="form-control fs-2" id="room_description" rows="10" style="resize:none;">{{room_data.Room_Description}}</textarea>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-dark" onclick="update_room_description()"><span class="fs-2 font-weight-bold">save</span></button>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="tab-pane fade" id="pills-settings-privacy" role="tabpanel" aria-labelledby="pills-settings-privacy">
                             
                                {% include 'rooms/include/settings.html' %}
                            </div>

                            <div class="tab-pane fade container-fluid justify-content-center" id="pills-bio" role="tabpanel" aria-labelledby="pills-bio">
                             
                                {% include 'rooms/include/bio.html' %}
                            </div>

                            <!--
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                                {% include 'rooms/include/set_slot_machine.html' %}
                            </div>
                            -->
                          </div>

                                
                    </div>
                </div>
            </div>
        </div>

</div>

<div ts="Zv" data-listener-count-mousedown="1" data-listener-count-touchmove="1" class="resizeHandle" style="height: 425.312px; width: 8px; position: absolute; overflow: hidden; -webkit-tap-highlight-color: transparent; display: inline-block; box-sizing: border-box; cursor: ew-resize;"></div>

<link rel="stylesheet" href="{% static 'css/multi.css' %}">
<script type="text/javascript" src="{% static 'js/multi.js' %}"></script>

<script>
  
    let broadcaster_visitors = 0;
    
    if(window.location.protocol == "http:"){
        protocol = "ws";
    }else if(window.location.protocol == "https:"){
        protocol = "wss";
    }

    var message = document.getElementById('alerts')
    const room_id = {{request.user.id}} // Get the room ID from somewhere

        
    const roomViewerSocket = new WebSocket(
        protocol + '://' + window.location.host + `/ws/room_viewer/${room_id}/`
    );

    roomViewerSocket.onopen = function(e) {
        console.log('viewer socket open');
    }

    roomViewerSocket.onmessage = function(e) {

        var data = JSON.parse(e.data);
        var is_leaving = data.is_leaving;

        console.log(data);
        console.log('viewer recieved');
        $("#room-stats-table").load(" #room-stats-table > * ");

        if (is_leaving !== undefined) {
            console.log(is_leaving);

            if (is_leaving === true) {
            
                        if (broadcaster_visitors > 0){
                        broadcaster_visitors--;
                        document.getElementById('visitors').innerHTML =  broadcaster_visitors;
                    }
  
            }

            else if(is_leaving === false) {
                broadcaster_visitors++;
                document.getElementById('visitors').innerHTML =  broadcaster_visitors;

        }

    }
}



    const roomVisitorsSocket = new WebSocket(
        protocol + '://' + window.location.host + `/ws/user_visitors/${room_id}/`
    );
    
    roomVisitorsSocket.onerror = function(error) {
        console.error("WebSocket Error: ", error);
    };


    roomVisitorsSocket.onopen = function(e) {

        console.log("WebSocket State:", roomVisitorsSocket.readyState);

        console.log("room visitor socket open")
        
        // Send a trigger message to the server
    
        roomVisitorsSocket.send(JSON.stringify({
            action: 'retrieve_visitors'
        }));
      
    };
    
    roomVisitorsSocket.onmessage = function(e) {
        let num_of_visitors = document.getElementById('visitors')
        let visitors_list = document.getElementById('visitor_list')
        const data = JSON.parse(e.data);
        const visitors = data.user_visitors;
        const item_availed = data.item_availed;

        console.log(visitors);
        
        $("#room-stats-table").load(" #room-stats-table > *");  
        $("#visitor_list").load(" #visitor_list > *");  
        document.querySelector('.msg-list-wrapper-split').scrollTop = document.querySelector('.msg-list-wrapper-split').scrollHeight;

        

        if (visitors !== undefined && Object.keys(visitors).length > 0) {
            document.getElementById('visitors').innerHTML = Object.keys(visitors).length;
        }

    };


    
const userSessionSocket = new WebSocket(
      protocol + '://' + window.location.host + `/ws/user_session/`
  );



  userSessionSocket.onopen = function(e) {
    console.log("user session online");
  }
  userSessionSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    console.log(data);

    $("#follower-details-table").load(" #follower-details-table > * ");


  }








    let fetch_broadcaster_invitation_socket = new WebSocket(protocol + '://' + window.location.host + '/ws/fetchBroadcasterPrivateChatInvitation/{{ room_name }}/');

    fetch_broadcaster_invitation_socket.onopen = function(e) {
        console.log('user_private_chat_invitation_socket open');

    }

    fetch_broadcaster_invitation_socket.onmessage = function(e) {
      var data = JSON.parse(e.data);
      var is_invitation_sent = data.is_invitation_sent;
      console.log(is_invitation_sent);

      if (typeof is_invitation_sent !== 'undefined') {
        // Your code here
        $("#private_chat_invites_modal").load(" #private_chat_invites_modal > *");
        $("#btn-pending-invites").load(" #btn-pending-invites > *");

        shakeBody();
    }
    
   
      
     /* var is_accepted = data.is_invitation_accepted;
      var is_sent = data.is_invitation_sent;
      

      if(is_accepted.is_invitation_accepted === true)
    {
        $("#nav-private-chat").load(" #nav-private-chat > *");
    }
    else if(is_sent.is_invitation_sent === true)
    {
        $("#nav-private-chat").load(" #nav-private-chat > *");
      
    }
*/
} 
    function generate_lovense_qrcode(){
        $.ajax({
            method:'POST',
            url: "lovense/generate_broadcaster_qrcode/",
            data: {
                'csrfmiddlewaretoken':"{{csrf_token}}",
            },
            success:function(data)
            {
                console.log(data.data.qr)
                const qrCodeImg = document.getElementById('lovense_qr_code_img');
                qrCodeImg.src = data.data.qr;
                qrCodeImg.style.display = 'block'; //
            },
            errors:function(errors){
                console.log(errors.responseText)
            }
        })
    }


    function update_room_rules()
    {
        
        $.ajax({
            method: 'POST',
            url: "update_room_rules/",
            data: {
    
                'room_rules':document.getElementById('room_rules').value,
                'csrfmiddlewaretoken':"{{csrf_token}}",
            },
            success:function(data)
            {
                var message = data.data;

                successToast(message);

            },
            errors:function(errors){
                console.log(errors.responseText)

                var message = "Something went wrong."

                errorToast(message);
            }
        })
    }



    function update_room_description()
    {
        
        $.ajax({
            method: 'POST',
            url: "update_room_description/",
            data: {
    
                'room_description':document.getElementById('room_description').value,
                'csrfmiddlewaretoken':"{{csrf_token}}",
            },
            success:function(data)
            {
                var message = data.data;

                successToast(message);

            },
            errors:function(errors){
                console.log(errors.responseText)

                var message = "Something went wrong."

                errorToast(message);
            }
        })
    }





</script>