{% load static %}

<footer class="last">

    <div class="footer container text-muted">
       <h3>Vibescam - Live Cams & Free Adult Sex Chat Rooms</h3>
        
       <p>Vibescam is an +18 LIVE sex & entertainment community. You can watch streams from amateur & professional
        models for absolutely free. Browse through thousands of open-minded people: men, women, transsexual an Couples
        performing live shows on cam. Besides watching the shows, you can also control perfromers with interactive toys, select what desire
        you want from the token menu, go for private shows and use your camera to connect more intimately. the purpose of all of 
        that to create an ultimate destination for adult entertainment filled with good vibes and happy aftertaste. All models appearing on 
        this site have contractually confirmed that they are above 18years of age or older.
       </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                
                <div class="col">
                    <h4 class="">MODELS</h4>
                    <div class="socials">
                        <span> Become a model, where we focus on taking your experience and the experience of the viewer to a whole new level
                        With our platform you are able to have more interactions with your viewing room. We strive to make it a great experience
                        for the model as well as viewers. Creating user friendly chat rooms, game rooms, and private chats. Induldge YOURSELF
                        in the luxury of taking control. 
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>  
    <div class="p-3 text-center">
        <p style="text-align: center; font-size: 15px; color:crimson;"> 2017-2022 www.privatevibes.com All Rights Reserved</p>    
    </div>  
</footer>