{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActiveVibes</title>
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}" type="image/x-icon">
  

</head>
<body>

  <nav class="tab">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
  
  
      <form method="GET" action="{% url 'tabbroadcaster' %}" class="form-inline my-2 my-lg-0 d-flex justify-content-center">
      <input type="hidden" value="FEATURED" name="Tab">
      
      <button class="nav-link  broadcaster-nav" data-tab="FEATURED" id="FEATURED" data-bs-toggle="tab" data-bs-target="#nav-featured" type="submit" role="tab" aria-controls="nav-featured" aria-selected="true">Featured
      </button>
   
    </form>
  
    <form method="GET" action="{% url 'tabbroadcaster' %}" class="form-inline my-2 my-lg-0 d-flex justify-content-center">
      <input type="hidden" value="WOMEN" name="Tab">
      <button class="nav-link" id="nav-women-tab" data-tab="FEMALE" data-bs-toggle="tab" data-bs-target="#nav-women" type="submit" role="tab" aria-controls="nav-women" aria-selected="false">Women
      </button>
    </form>
  

    <form method="GET" action="{% url 'tabbroadcaster' %}" class="form-inline my-2 my-lg-0 d-flex justify-content-center">
      <input type="hidden" value="MEN" name="Tab">
      <button class="nav-link" id="nav-men-tab" data-bs-toggle="tab" data-bs-target="#nav-men" type="submit" role="tab" aria-controls="nav-men" aria-selected="false">Men
      </button>
    </form>


    <form method="GET" action="{% url 'tabbroadcaster' %}" class="form-inline my-2 my-lg-0 d-flex justify-content-center">
      <input type="hidden" value="COUPLES" name="Tab">
      <button class="nav-link" id="nav-couples-tab" data-bs-toggle="tab" data-bs-target="#nav-couples" type="submit" role="tab" aria-controls="nav-couples" aria-selected="false">Couples
      </button>
    </form>

  
    <form method="GET" action="{% url 'tabbroadcaster' %}" class="form-inline my-2 my-lg-0 d-flex justify-content-center">
      <input type="hidden" value="TRANS" name="Tab">
      <button class="nav-link" id="nav-trans-tab" data-bs-toggle="tab" data-bs-target="#nav-trans" type="submit" role="tab" aria-controls="nav-trans" aria-selected="false">Trans
      </button>
    </form>
  
    </div>
  </nav>



        <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-featured" role="tabpanel" aria-labelledby="nav-featured-tab" tabindex="0">
            <div class="contentimagecontainer">
              {% for room in broadcaster_data %}
 
                       
                  {% include "base/include/broadcaster_cards.html" %}
          
                  {% endfor %}

            </div>
           

        </div>


        <div class="tab-pane fade" id="nav-women" role="tabpanel" aria-labelledby="nav-women-tab" tabindex="0">
            <div class="contentimagecontainer">
                <div class="imgcont">

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-men" role="tabpanel" aria-labelledby="nav-men-tab" tabindex="0">
            <div class="contentimagecontainer">
                <div class="imgcont">

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-couples" role="tabpanel" aria-labelledby="nav-couples-tab" tabindex="0">
            <div class="contentimagecontainer">
                <div class="imgcont">

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-trans" role="tabpanel" aria-labelledby="nav-trans-tab" tabindex="0">
            <div class="contentimagecontainer">
                <div class="imgcont">

                </div>
            </div>
        </div>
        
      </div>

</body>
</html>
{% endblock %}