{% load static %}
{% load crispy_forms_tags %}

<div class="headerphoto-container">
  <img class="logo" src="{% static 'images/Active.png' %}" width="100%" alt="Error">
</div>

<nav>
  
  <div class="nav-container">
      <h5 class="home"><a class="home-btn" href="{% url "Main_home" %}">Home</a></h5>
  </div>

  {% if not request.user.is_authenticated %}
  <div class="nav-container">

      <div class="username">
          <a href=""><img class="usernameicon" src="{%static 'images/icons8-username-30.png'%}" width="30px" alt="Error"></a>
          <a class="signup-link" href="{% url "Registration" %}">Sign Up</a>
      </div>

  </div>


  <div class="nav-container">
      <div class="username">
          <a href=""><img class="usernameicon" src="{%static 'images/icons8-username-30.png'%}" width="30px" alt="Error"></a>
          <a class="signup-link" href="{% url "registration_broadcaster" %}">Sign in</a>
      </div>

  </div>

  {% endif %}

  <div class="nav-container">
      <h1 class="title"><a class="title-link" href="{% url 'registration_broadcaster' %}">Become a Broadcaster</a></h1>
  </div>


  {% if request.user.is_authenticated %}
  <div class="nav-container">

      <li class="stat">Status:
        {{user_datas.User.Status}}
      </li>

      
     
      <li class="stat">Vibes:

        <span id="user_vibez">
      {% if user_datas == None %}
          0
      {% else %}
          {{user_datas.Vibez}}
      {% endif %}
        </span>

      </li> 

     
    </div>

    <div class="nav-container">
      <h1 class="title"><a class="title-link" href="{% url 'logout' %}">Logout</a></h1>
  </div>
      {% endif %}


</nav>

<script type="text/javascript">
  var csrfToken = "{{ csrf_token }}";
</script>

<script src="{% static 'js/user/base_nav.js' %}"></script>

<script src="{% static 'js/user_and_broadcaster.js' %}"></script>
