{% load static %}
{% load crispy_forms_tags %}


<div class="container-fluid" style="padding:0px; min-width:540px">

<nav class="navbar navbar-expand-lg" id="navbar" style="background-color:black;color:#6cc6ba;">

    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo/private-vibez-logo.png' %}" alt="Private Vibez Logo" width="190" class="d-inline-block align-text-top">
        </a>

            {% if not request.user.is_authenticated %}
                <li class="item dropdown" style="list-style-type:none ;">
                    <li class="item dropdown" style="list-style-type:none ;">
                        <a class="link dropdown" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i class="icofont-user-alt-2 text-md fs-1" style="color:#6cc6ba;"> Anonymous User</i></a>
                        <ul class="dropdown-menu" style="background-color:#6cc6ba; border:none; color:black; margin-left:50px; padding:8px;" id="dropDown">
                            <li><a type="button" data-toggle="modal" class="fs-2" data-target="#login_modal"><i class="icofont-login fs-2"></i> Login</a></li>
                            <li><a type="button" data-toggle="modal" class="fs-2" data-target="#registration_modal"><i class="icofont-fountain-pen fs-2"></i> Sign Up</a></li>
                        </ul>
                    </li>
                </li>
            {% endif %}

            {% if request.user.is_authenticated %}
                <ul class=" navbar-collapse justify-content-end" style="margin-right: 50px;" id="navbarsid" >
                    <li class="nav-item dropdown" style="list-style-type:none;">
                        <li class="nav-item dropdown" style="list-style-type:none; ">
                            <button class="nav-link dropdown bg-transparent border-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icofont-user-alt-2 fs-2 text-lg" style="color:#6cc6ba;"> {{request.user.username}}
                                <span class="bg-transparent"><img class="img-thumbnail bg-transparent border-0" width="30px" src="{{user_datas.Subscription_Type.Badge.url}}"></span>
                            </i> 
                                <br><i id="user_vibez" class="icofont-sound-wave fs-2 text-lg" style="color:#6cc6ba;">
                                    {% if user_datas == None %}
                                        0
                                    {% else %}
                                        {{user_datas.Vibez}}
                                    {% endif %}
                                </i>
                                <br>
                                    <span style="color:#6cc6ba;"> free spin <span id="free_spins">{{user_datas.Free_spins}}</span> </span>
                                        
                                </br>
                            </button>

                            <ul class="dropdown-menu" style="background-color:#6cc6ba; border:none; color:black; padding:5px; width:150px; z-index:2000;" id="dropdown">
                                <li><button class="border-0 bg-transparent fs-2 my-2" data-toggle="modal" data-target="#Profile" ><i class="icofont-page fs-2"></i> Profile</button></li>

                                <li><button class="border-0 bg-transparent fs-2 my-2"  data-toggle="modal" data-target="#Messages" ><i class="icofont-ui-message fs-2"></i>
                                    Messages</button></li>

                                {% if user_datas.Subscription_Type %}
                                <li><button class="border-0 bg-transparent fs-2 my-2"  data-toggle="modal" data-target="#Subscription" >Subscription</button></li>
                                {% endif %}

                                {% if user_status == "Broadcaster" or user_status == "Decline_Broadcaster" %} 
                                <li><button class="border-0 bg-transparent fs-2 my-2"  data-toggle="modal"  data-target="#Settings" ><i class="icofont-gear fs-2"></i> Settings</button></li>

                                <li><button class="border-0 bg-transparent fs-2 my-2" onclick="window.location.href='/room/{{request.user}}'"><i class="icofont-ui-video-chat fs-2"></i> My Room</button></li>

                                {% endif %}

                                <li><button class="border-0 bg-transparent fs-2" 
                                    onclick="window.location.href='/accounts/logout'"
                                    href="/accounts/logout"><i class="icofont-sign-out fs-2 my-2"></i> Sign Out</button></li>
                            </ul>

                        </li>
                    </li>
                </ul>
            {% endif %}

    </div>
</nav>



<div class="start container-fluid" style="color:black; padding:0px;">


    <div aria-live="polite" aria-atomic="true" class="position-relative">

        <div id="toast-container" data-bs-animation="" style="z-index: 2000;" class="toast-container position-fixed end-0 p-3">
          {% for message in messages %}
      
          <div class="toast show position-fixed top-25 end-0 mr-5 fade bg-{{message.tags}}" role="alert" aria-live="assertive" aria-atomic="true">
           <div class="toast-header">
            <img src="{% static 'images/logo/small_green_logo.png' %}" id="privatevibezlogo" width="30px" height="30px" class="rounded me-2 d-none" alt="...">
             <strong class="me-auto">Notification</strong>
             <!--<small class="">just now</small>-->
             <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
           </div>
           <div class="toast-body fs-2">
             {{ message }} 
           </div>
         </div>
      
      {% endfor %}
        </div>
      </div>

    {% if not request.user.is_authenticated %} 
        <a href="#" data-toggle="modal" data-target="#registration_modal" style="color:black;text-decoration:none;">
            <p class="fs-2 font-weight-bold" style="color:#6cc6ba;">
                Sign Up to  enjoy Vibrations
                <span><i class="icofont-sign-in"></i></span>
            </p> 
        </a>    
    {% endif %}

    {% if request.user.is_authenticated %} 
        {% if user_status == "User" %}

            <button class="border-0 bg-transparent w-100" onclick="window.location.href='{% url 'registration_broadcaster' %}'"  class="mt-0" style="color:black;text-decoration:none; text-shadow:black !important;">
                <p class="fs-2 font-weight-bold" style="color:#6cc6ba;">
                    BROADCAST YOURSELF - GO NOW 
                    <span><i class="icofont-camera fs-1" style="color:#6cc6ba;"></i></span>
                </p> 
            </button>
        {% endif %}

        {% if user_status == "Pending_Broadcaster" %}
                <p class="fs-2 font-weight-bold" style="color:#6cc6ba;">
                    We are still looking through your Information 
                    <span><i class="icofont-look" style="color:#6cc6ba;"></i></span>
                </p> 
        {% endif %}

        {% if user_status == "Broadcaster" %}
            <p>
                <button style="color:black;text-decoration:none;" class=" btn-transparent bg-transparent  border-0 rounded-3" style="box-shadow:0px; outline:0px;" data-toggle="modal" data-target="#private_chat_invites_modal">

                    <span class="fs-2 font-weight-bold" style="color:#6cc6ba;">
                        Number of Invitees : {{all_private_chat_invitees.count}} | Pending request : {{pending_private_chat_invitees}}
                    </span>

                <span>  
                    <i class="icofont-ui-message h3" style="color:#6cc6ba;"></i>
                </span>
                </button>
            </p> 
        {% endif %}

        {% if user_status == "STAFF" %}
            <a href="/staff/" style="color:black;text-decoration:none;">
                <p>
                    Get Back To Work 
                    <span><i class="icofont-ui-computer" style="color:#6cc6ba;"></i></span>
                </p> 
            </a>
        {% endif %}

    {% endif %}
</div>



{% comment %} MODAL FOR PRIVATE INVITES {% endcomment %}

<div class="modal fade" id="private_chat_invites_modal" tabindex="-1" role="dialog" aria-labelledby="private_chat_invites_modal" aria-hidden="true">
    <div class="modal-dialog"  role="document">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold fs-2" id="exampleModalLabel">Private Chat invites</h5>
          <button type="button" class="close fs-1" data-dismiss="modal" aria-label="Close">
            <span class="fs-1" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
      
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="fs-2">Name</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody id="invitees" class="fs-2">

                </tbody>
              </table>


        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>


<!-- Login Modal-->

<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal_label" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" style="max-width:800px;" role="document">
      <div class="modal-content" style="background-color: #6cc6ba;">
        <div class="modal-header">
          <h5 class="modal-title display-4 font-weight-bold text-dark text-center w-100" id="login_modal_label">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="fs-1 text-dark" aria-hidden="true">&times;</span>
          </button>
        </div>
        <section class="vh-75" style="background-color: #6cc6ba;">

            <div class="container py-5 h-75">
              
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                  <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
        
                      <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img src="{% static 'images/pexels-alexander-krivitskiy-1271374.jpg' %}"
                          alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                      </div>
        
        
                      <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
          
                            <div class="d-flex align-items-center mb-3 pb-1">
        
                              <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;">  
                                    <img src="{% static 'images/logo/small_logo.png' %}" alt="Private Vibez Logo" width="50" class="d-inline-block align-text-top">
                              </i>
        
                              <span class="h1 fw-bold display-4 mb-0">Interactive Pleasures</span>
        
                            </div>
          
                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; font-size:2rem;">Sign In</h5>
        
                            <div id="info_box" style='display:block;'>
                              <div class="form-outline mb-4">
                                
                                <form action="/accounts/login/" method="POST">
                                  {% csrf_token %}
        
                                    <div class="form-outline mb-4"> 
        
                                            <input type="type" name="username" id="username" style="font-size:2rem;" class="form-control" />
                                            <label class="form-label my-2" style="font-size:2rem;" name="username" id="username" for="form3Example3">
                                              Email address or Username</label>
        
                                    </div>
        
                                    <div class="form-outline mb-4">                               
                  
                                      <input type="password" id="password" style="font-size:2rem;" name="password"class="form-control" />
                                      <label class="form-label my-2" style="font-size:2rem;" for="password">Password</label>
                                            
                                    </div>
            
                                    <div class="pt-1 mb-4">
                                        <button type="submit" style="font-size:2rem;" class="btn btn-dark btn-lg btn-block">Sign in</button>
        
                                        <p class="my-2" style="font-size:2rem;">New to PriveVibez? 
                                          <a href="/accounts/signup/" style="font-size:2rem;" type="button" class="btn btn-link"> Sign up now.
                                          </a>
                                        </p>
                                        
                                    </div>
                                </form>
          
                            </div>
                        </div>
        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
      </div>
    </div>
</div>

  <!-- Registration Modal-->
  {% block registration_modal %}
<div class="modal fade" id="registration_modal" tabindex="-1" role="dialog" aria-labelledby="registration_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:900px"  role="document">
      <div class="modal-content" style="background-color: #6cc6ba;">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold text-dark w-100 text-center fs-1" id="registration_modal_label">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="fs-1" style="color:#1db9a7" aria-hidden="true">&times;</span>
          </button>
        </div>

        <section class="vh-100" style="background-color: #6cc6ba;">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                  <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                      <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img src="{% static 'images/pexels-alexander-krivitskiy-1271374.jpg' %}"
                          alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                      </div>
                      <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
          
                            <div class="d-flex align-items-center mb-3 pb-1">
                              <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;">  
                                    <img src="{% static 'images/logo/small_logo.png' %}" alt="Private Vibez Logo" width="50" class="d-inline-block align-text-top">
                              </i>
                              <span class="h1 fw-bold display-4 text-center mb-0">Interactive Pleasures</span>
                            </div>
          
                            <h5 class="fw-normal display-4 my-5 text-center pb-3" style="letter-spacing: 1px;">Sign Up</h5>
                            <div id="info_box" style='display:block;'>
                              <div class="form-outline mb-4">
                                <form action="/accounts/signup/" method="POST">
                                    <div class="form-outline row gap-3 mb-4">                               
                                            {% csrf_token %}
                                       <label style="font-size:2rem;">username</label>
                                       <input type="text" style="font-size:2rem;" class="border-1" name="username"></input>
        
                                       
                                       <label style="font-size:2rem;">email</label>
                                       <input type="text" style="font-size:2rem;" class="border-1" name="email"></input>
        
                                       
                                       <label style="font-size:2rem;">password</label>
                                       <input type="password" style="font-size:2rem;" class="border-1" name="password1"></input>
        
                                       
                                       <label style="font-size:2rem;">confirm password</label>
                                       <input type="password" style="font-size:2rem;" class="border-1" name="password2"></input>
        
                                       
        
                                          
                                    </div>
                                    <div class="pt-1 mb-4">
                                        <button type="submit" style="font-size:2rem" class="btn btn-dark btn-lg btn-block my-5">Sign Up</button>
                                        <p class="mt-5" style="font-size:2rem">Not new to PriveVibez? <a href="/accounts/login/" style="font-size:2rem" type="button" class="btn btn-link"> Sign in now.</a></p>
                                    </div>
                                </form>
          
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
      </div>
    </div>
  </div>
  {% endblock registration_modal %}
<!-- Modal -->

<!--
<div class="modal fade" id="Profile" tabindex="-1" role="dialog" aria-labelledby="Profile_Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Profile_Label">Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="Profile_Image-tab" data-toggle="tab" href="#Profile_Image" role="tab" aria-controls="Profile_Image" aria-selected="true">Profile Image</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="Bio-tab" data-toggle="tab" href="#Bio" role="tab" aria-controls="Bio" aria-selected="false">Bio</a>
                </li>
            </ul>  
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="Profile_Image" role="tabpanel" aria-labelledby="Profile_Image-tab">
                    
                    <form method="POST" enctype="multipart/form-data" action="{% url 'Profile_Pic' %}"
                    {% csrf_token %}
                    <div class="row">
                        <div class="">
                            {% if user_datas.Image %}
                            <img src="{{user_datas.Image}}" alt="profile_picture" class="img-responsive">
                            {% endif %}
                        </div>
                        <div class="">
                            <span class="">{{user_datas.User.username}}</span>
                        </div>
                    </div>
                </div>
            </form>


                {% block broadcast_info %}

                <div class="tab-pane fade" id="Bio" role="tabpanel" aria-labelledby="Bio-tab">
                    <div class="form-outline mb-4">
                        <input type="text" value="{{user_data.Real_Name}}" class="form-control" id="update_Real_Name" aria-label="update_Real_Name">  
                        <label class="form-label" for="update_Real_Name">Real Name</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="number" value="{{user_data.Age}}" class="form-control" id="update_Age" aria-label="update_Age" >  
                        <label class="form-label" for="Age">Age</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text" value="{{user_data.I_Am}}" class="form-control" id="update_I_Am" aria-label="update_I_Am">  
                        <label class="form-label" for="Interested_In">You are</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text" value="{{user_data.Interested_In}}" class="form-control" id="update_Interested_In" aria-label="Interested_In">  
                        <label class="form-label" for="Interested_In">Interested In</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text" value="{{user_data.Location}}" class="form-control" id="update_Location" aria-label="update_Location" >  
                        <label class="form-label" for="update_Location">Location</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text" value="{{user_data.Language}}" class="form-control" id="update_Language" aria-label="update_Language" >  
                        <label class="form-label" for="update_Language">Language</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text" value="{{user_data.Body_Type}}" class="form-control" id="update_Body_Type" aria-label="update_Body_Type" >  
                        <label class="form-label" for="update_Body_Type">Body Type</label>
                    </div>
                      <div class="modal-footer">
                        <button type="button" id="bio_closeButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="Save_Bio_nav()">Save changes</button>
                      </div>

                </div>
                {% endblock broadcast_info %}

            </div>     
        </div>
      </div>
    </div>
  </div>
  <!-- Modal --> 



  <!-- Modal for Messages -->
<div class="modal fade" id="Messages" tabindex="-1" role="dialog" aria-labelledby="Profile_Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Profile_Label">Messages</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         

        <div class="d-flex flex-row">

            
            <div class="col-3">
                Mikey
            </div>

            <div class="col-8">
                yo
            </div>
        
        </div>


        </div>
      </div>
    </div>
  </div>



    <!-- Modal for Subscription -->
<div class="modal fade" id="Subscription" tabindex="-1" role="dialog" aria-labelledby="Profile_Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-1" id="Profile_Label">My Subscription</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="fs-1" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         

        <div class="d-flex flex-row justify-content-center">

            <div class="col fs-1">
                {{user_datas.Subscription_Type.Name}}
            </div>


            <div class="col justify-content-center">
                <span class="bg-transparent"><img class="img-thumbnail bg-transparent border-0" width="100px" src="{{user_datas.Subscription_Type.Badge.url}}"></span>
            </div>
 
        
        </div>

        <div class="">
            <button class="btn btn-primary fs-2" onclick="unsubscribe()">Unsubscribe</button>
        </div>


        </div>
      </div>
    </div>
  </div>
  
  {% comment %} modal for settings {% endcomment %}


<div class="modal fade" id="Settings" tabindex="-1" role="dialog" aria-labelledby="Settings_Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title fs-1" id="Settings_Label">Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active fs-3" id="Vibez_tab-tab" data-toggle="tab" href="#Vibez_tab" role="tab" aria-controls="Profile_Image" aria-selected="true">Vibez</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-3" id="Chat-tab" data-toggle="tab" href="#Chat" role="tab" aria-controls="Chat" aria-selected="false">Chat</a>
                </li>
            </ul> 

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="Vibez_tab" role="tabpanel" aria-labelledby="Vibez_tab-tab">
                    
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card" style="background-color:lightcoral;">
                               
                                <div class="card-body">
                                    <h5 class="card-title fs-3">MMM Button</h5>
                                    <h6 class="card-subtitle mb-2 fs-5">Soft Vibez</h6>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Price</label>
                                        <input type="number" class="form-control" id="Price_MMM_button" aria-describedby="emailHelp" value="{{room_data.Price_MMM_button}}">
                                        <small id="emailHelp" class="">By Vibez.</small>
                                    </div>                    
                                    <div class="form-group">
                                        <label for="">Feature</label>

                                        <select value="{{room_data.Price_MMM_button}}" class="form-control" id="Feature_MMM_button">

                                            <option {% if room_data.Feature_MMM_button and room_data.Feature_MMM_button == "v" %}
                                             selected{% endif %} value="v"
                                             >Vibrate</option>

                                            <option
                                             {% if room_data.Feature_MMM_button and room_data.Feature_MMM_button == "r" %}
                                              selected{% endif %} value="r"
                                              >Rotate</option>

                                            <option 
                                            {% if room_data.Feature_MMM_button and room_data.Feature_MMM_button == "p" %}
                                             selected{% endif %}
                                              value="p">Pump</option>

                                            <option
                                             {% if room_data.Feature_MMM_button and room_data.Feature_MMM_button == "t" %}
                                              selected{% endif %}
                                               value="t">Thrusting</option>

                                            <option
                                             {% if room_data.Feature_MMM_button and room_data.Feature_MMM_button == "f" %} 
                                             selected
                                             {% endif %} 
                                             value="f">Fingering</option>

                                            <option 
                                            {% if room_data.Feature_MMM_button and room_data.Feature_MMM_button == "s" %}
                                             selected{% endif %}
                                              value="s">
                                              Suction</option>

                                        </select>
                                    </div>                    
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Duration</label>
                                        <input type="number" class="form-control" id="Duration_MMM_button" aria-describedby="emailHelp" value="{{room_data.Duration_MMM_button}}">
                                        <small id="emailHelp" class=" fs-5">in Min.</small>
                                    </div>                    
                                    
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Strength</label>
                                        <input type="text" class="form-control" id="Strength_MMM_button" aria-describedby="emailHelp" value="{{room_data.Strength_MMM_button}}">
                                    </div>  
                                </div>
                            </div>   
                        </div>               
                        <div class="col-sm-4">
                            <div class="card" style="background-color:lightsalmon;">
                                <div class="card-body">
                                    <h5 class="card-title">OH Button</h5>
                                    <h6 class="card-subtitle mb-2 fs-5">Mid Vibez button</h6>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Price</label>
                                        <input type="number" class="form-control" id="Price_OH_button" aria-describedby="emailHelp" value="{{room_data.Price_OH_button}}">
                                        <small id="emailHelp" class="">By Vibez.</small>
                                    </div>  
                                    
                                    <div class="form-group">
                                        <label for="">Feature</label>

                                        <select class="form-control" id="Feature_OH_button">

                                            <option {% if room_data.Feature_OH_button and room_data.Feature_OH_button == "v" %} selected{% endif %}  value="v">Vibrate</option>

                                            <option
                                            {% if room_data.Feature_OH_button and room_data.Feature_OH_button == "r" %} selected{% endif %}  
                                             value="r">
                                             Rotate</option>

                                            <option
                                            {% if room_data.Feature_OH_button and room_data.Feature_OH_button == "p" %} selected{% endif %}  
                                            value="p">Pump</option>

                                            <option
                                            {% if room_data.Feature_OH_button and room_data.Feature_OH_button == "t" %} selected{% endif %}  

                                            value="t">Thrusting</option>

                                            <option
                                            {% if room_data.Feature_OH_button and room_data.Feature_OH_button == "f" %} selected{% endif %} 

                                            value="f">Fingering</option>

                                            <option
                                            {% if room_data.Feature_OH_button and room_data.Feature_OH_button == "s" %} selected{% endif %}  
                                            value="s">Suction</option>

                                        </select>
                                    </div> 
                                                     
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Duration</label>
                                        <input type="number" class="form-control" id="Duration_OH_button" aria-describedby="emailHelp" value="{{room_data.Duration_OH_button}}">
                                        <small id="emailHelp" class=" fs-5">in Min.</small>
                                    </div>                    
                                    
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Strength</label>
                                        <input type="text" class="form-control" id="Strength_OH_button" aria-describedby="emailHelp" value="{{room_data.Strength_OH_button}}">
                                    </div>  
                                </div>
                            </div>                  
                        </div> 
                        <div class="col-sm-4">
                            <div class="card" style="background-color:lightgreen;">
                                <div class="card-body">
                                    <h5 class="card-title">OHYes Button</h5>
                                    <h6 class="card-subtitle mb-2 fs-5">High Vibez button</h6>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Price</label>
                                        <input type="number" class="form-control" id="Price_OHYes_button" aria-describedby="emailHelp" value="{{room_data.Price_OHYes_button}}">
                                        <small id="emailHelp" class=" ">By Vibez.</small>
                                    </div> 

                                    <div class="form-group">
                                        <label for="">Feature</label>

                                        <select class="form-control" id="Feature_OHYes_button">
                                            <option
                                            {% if room_data.Feature_OHYes_button and room_data.Feature_OHYes_button == "v" %}
                                             selected{% endif %}  
                                             
                                            value="v">Vibrate</option>

                                            <option
                                            {% if room_data.Feature_OHYes_button and room_data.Feature_OHYes_button == "r" %}
                                            selected
                                            {% endif %}
                                            value="r">Rotate</option>

                                            <option
                                            {% if room_data.Feature_OHYes_button and room_data.Feature_OHYes_button == "p" %}
                                            selected
                                            {% endif %}
                                            value="p">Pump</option>

                                            <option
                                            {% if room_data.Feature_OHYes_button and room_data.Feature_OHYes_button == "t" %}
                                            selected
                                            {% endif %}
                                            value="t">Thrusting</option>

                                            <option
                                            {% if room_data.Feature_OHYes_button and room_data.Feature_OHYes_button == "f" %}
                                            selected
                                            {% endif %}
                                            value="f">Fingering</option>

                                            <option
                                            {% if room_data.Feature_OHYes_button and room_data.Feature_OHYes_button == "s" %}
                                            selected
                                            {% endif %}
                                            value="s">Suction</option>
                                        </select>
                                    </div>  

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Duration</label>
                                        <input type="number" class="form-control" id="Duration_OHYes_button" aria-describedby="emailHelp" value="{{room_data.Duration_OHYes_button}}">
                                        <small id="emailHelp" class=" ">in Min.</small>
                                    </div>                    
                                    
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Strength</label>
                                        <input type="text" class="form-control" id="Strength_OHYes_button" aria-describedby="emailHelp" value="{{room_data.Strength_OHYes_button}}">
                                    </div>  
                                </div>
                            </div>                  
                        </div> 
    
                        <button class="mt-3 fs-2 btn btn-transparent" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            More Info
                          </button>
                        </p>

                        <div class="collapse " id="collapseExample">
                          <div class="card card-body">
                            set strength in this format. 
                            example: 5;10;20
                            separate with semicolon.
                            highest strength is 20.
                          </div>
                        </div>
                    </div> 

                    <div class="modal-footer">

                        <button type="button" id="Settings_close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="" onclick="Save_RoomPatterns()" class="btn btn-primary" >Save</button>
                    </div>

                
                </div>

            </div>     
        </div>
      </div>
    </div>
  </div>

</div>

  <script type="text/javascript" >

    {% comment %} get invitees {% endcomment %}
    {% if user_status == "Broadcaster" %}
    $.ajax({
        method:'GET',
        url: "/room/get_invitees/",
        success:function(data){
            invitees = data.data;
            console.log(invitees)

            if (invitees != "None")
            {
                for (let i = 0; i < invitees.length; i++) {
                    const invitee = invitees[i];
                    console.log(invitee.name, invitee.user_id);
    
                    let invitees_table = document.getElementById('invitees');
                    let wrapper = document.createElement('tr');
                    let cell = document.createElement('td');
                    cell.classList.add('fs-2');
                    
                    // Create the button element and set its class name
                    let accept = document.createElement('button');
                    accept.className = "btn btn-success text-dark border-0 m-auto w-100 fs-2";
                    wrapper.setAttribute("id", "accept-button-" + invitee.user_id);
                    accept.setAttribute("onclick", "Accept_Invitee("+invitee.user_id+")");
                    accept.innerHTML = "Accept";
                    
                    cell.innerHTML = invitee.name;
                    wrapper.appendChild(cell);
                    wrapper.appendChild(accept);
                    invitees_table.appendChild(wrapper);
                  }
            }

        },
        error:function(errors, status, xhr){
            console.log(errors.responseText);
        }
    })
    {% endif %}


function Accept_Invitee(user_id){
    $.ajax({
        method:'POST',
        url: "/room/accept_privatechat/",
        mimeType:"multipart/form-data",
        data:{  
                'user_id' : user_id,
                'csrfmiddlewaretoken':"{{csrf_token}}",
        },
        'dataType': 'json',
        success:function(){
            let acceptButton = document.getElementById(`accept-button-${user_id}`);
            if (acceptButton) {
                acceptButton.style.display = "none";
                successToast("Invitation accepted!");
            }
        },
        error:function(errors, status, xhr){
            console.log(errors.responseText);
        }
    })
}
    
    function PrivateChat_CheckBox(){
        if(document.getElementById('PrivateChat').checked){
            $.ajax({
                method:'POST',
                url: "/room/PrivateChatCheckBox/",
                mimeType:"multipart/form-data",
                data:{  
                        'Checked' : "True",
                        'csrfmiddlewaretoken':"{{csrf_token}}",
                },
                'dataType': 'json',
                success:function(){
                    $("#Private_Chat_Price").load(" #Private_Chat_Price > *");
                }
            })
        
        }
        else{
            $.ajax({
                method:'POST',
                url: "/room/PrivateChatCheckBox/",
                mimeType:"multipart/form-data",
                data:{  
                        'Checked' : "False",
                        'csrfmiddlewaretoken':"{{csrf_token}}",
                },
                'dataType': 'json',
                success:function(){
                    $("#Private_Chat_Price").load(" #Private_Chat_Price > *");
                }
            })
        }
    }

    function PublicChat_CheckBox(){
        if(document.getElementById('PublicChat').checked){
            $.ajax({
                method:'POST',
                url: "/room/PublicChatCheckBox/",
                mimeType:"multipart/form-data",
                data:{  
                        'Checked' : "True",
                        'csrfmiddlewaretoken':"{{csrf_token}}",
                },
                'dataType': 'json',
                success:function(){
                    $("#PublicChat").load(" #PublicChat > *");
                }
            })
        
        }
        else{
            $.ajax({
                method:'POST',
                url: "/room/PublicChatCheckBox/",
                mimeType:"multipart/form-data",
                data:{  
                        'Checked' : "False",
                        'csrfmiddlewaretoken':"{{csrf_token}}",
                },
                'dataType': 'json',
                success:function(){
                    $("#PublicChat").load(" #PublicChat > *");
                }
            })
        }
    }

    
  function Save_Bio_nav(){
    $.ajax({
        method:'POST',
        url: "/accounts/bio_info/",
        mimeType:"multipart/form-data",
        data:{  
                'Real_Name'     : document.getElementById('Real_Name').value,
                'Age'           : document.getElementById('Age').value,
                'I_Am'          : document.getElementById('I_Am').value,
                'Interested_In' : document.getElementById('Interested_In').value,
                'Location'      : document.getElementById('Location').value,
                'Language'      : document.getElementById('Language').value,
                'Body_Type'     : document.getElementById('Body_Type').value,
                'csrfmiddlewaretoken':"{{csrf_token}}",
        },
        'dataType': 'json',
        success:function(){
            $("#bio_closeButton").trigger("click");
        }
    })
}
function Save_Chat(){
    if(document.getElementById('PublicChat').checked){
        PublicChatCheck = "True"
    }else{
        PublicChatCheck = "False"
    }
    $.ajax({
        method:'POST',
        url: "/room/Chat/",
        mimeType:"multipart/form-data",
        data:{  
            'Public_Chat_Check'  : PublicChatCheck,
            'PrivateChatPrice'   : parseFloat(document.getElementById('PrivateChatPrice').value),
            'csrfmiddlewaretoken':"{{csrf_token}}",
        },
        'dataType': 'json',
        success:function(data){
            console.log(data)
            successToast("Private Chat Price Saved!");

   
        }
    })
}


function Save_RoomPatterns(){
    $.ajax({
        method:'POST',
        url: " {% url 'Save_RoomPatterns' %}",
        data:{
                'Price_MMM':document.getElementById('Price_MMM_button').value,
                'Duration_MMM':document.getElementById('Duration_MMM_button').value,
                'Strength_MMM':document.getElementById('Strength_MMM_button').value,
                'Price_OH':document.getElementById('Price_OH_button').value,
                'Duration_OH':document.getElementById('Duration_OH_button').value,
                'Strength_OH':document.getElementById('Strength_OH_button').value,
                'Price_OHYes':document.getElementById('Price_OHYes_button').value,
                'Duration_OHYes':document.getElementById('Duration_OHYes_button').value,
                'Strength_OHYes':document.getElementById('Strength_OHYes_button').value,

                'Feature_OHYes':document.getElementById('Feature_OHYes_button').value,
                'Feature_OH':document.getElementById('Feature_OH_button').value,
                'Feature_MMM':document.getElementById('Feature_MMM_button').value,
                'csrfmiddlewaretoken':"{{csrf_token}}",
            },
            success:function(){
                $("#Settings_close").trigger("click");
            }
    })
}


function removeAlerts() {
    $('.alert').fadeOut(300, function() {
        $(this).remove();
    });
}

// Call the removeAlerts() function after 3 seconds (3000 milliseconds)
setTimeout(removeAlerts, 3000);



function unsubscribe() {

    $.ajax({
        method:'POST',
        url: "/accounts/unsubscribe/",
        mimeType:"multipart/form-data",
        data:{  
                'csrfmiddlewaretoken':"{{csrf_token}}",
            },
            'dataType': 'json',
            success:function(data){
                console.log(data)
                var message = data.data
                successToast(message);
                location.reload();
            },
            error:function(errors){
                console.log(errors.responseText)
                var message = "Something went wrong";
                errorToast(errors.responseText)
            }

            })

}
</script>
